telegram-bot/flows.json
[
    {
        "id": "93cb4937.6fc068",
        "type": "tab",
        "label": "Flow Inicial",
        "disabled": false,
        "info": ""
    },
    {
        "id": "128790f6.dee0df",
        "type": "tab",
        "label": "News",
        "disabled": false,
        "info": ""
    },
    {
        "id": "c644db46.3854c8",
        "type": "subflow",
        "name": "new fire",
        "info": "Input: A msg for geocode or a  message type location with:\nmsg.location.lon and msg.location.lon",
        "in": [
            {
                "x": 40,
                "y": 120,
                "wires": [
                    {
                        "id": "730cf241.49734c"
                    }
                ]
            }
        ],
        "out": []
    },
    {
        "id": "c6a40c11.dfc6b",
        "type": "subflow",
        "name": "volver",
        "info": "",
        "in": [
            {
                "x": 80,
                "y": 120,
                "wires": [
                    {
                        "id": "b0495fbe.5ecca"
                    }
                ]
            }
        ],
        "out": []
    },
    {
        "id": "156e20df.86399f",
        "type": "subflow",
        "name": "send location",
        "info": "Envía la localización al telegram",
        "in": [
            {
                "x": 140,
                "y": 160,
                "wires": [
                    {
                        "id": "a95a87ec.d0c648"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 900,
                "y": 160,
                "wires": [
                    {
                        "id": "748b9d33.3e7354",
                        "port": 0
                    }
                ]
            }
        ],
        "inputLabels": [
            "location.lat & lon"
        ]
    },
    {
        "id": "9968fcc5.ed33c",
        "type": "subflow",
        "name": "menu distancia",
        "info": "",
        "in": [
            {
                "x": 100,
                "y": 120,
                "wires": [
                    {
                        "id": "4a109a88.7389a4"
                    }
                ]
            }
        ],
        "out": []
    },
    {
        "id": "76bd701f.29d0f",
        "type": "subflow",
        "name": "start",
        "info": "",
        "in": [
            {
                "x": 60,
                "y": 100,
                "wires": [
                    {
                        "id": "596d56e2.54f5e8"
                    }
                ]
            }
        ],
        "out": []
    },
    {
        "id": "465e67f.6ebf598",
        "type": "subflow",
        "name": "start with delay",
        "info": "",
        "in": [
            {
                "x": 60,
                "y": 40,
                "wires": [
                    {
                        "id": "e864b674.6fd2c8"
                    }
                ]
            }
        ],
        "out": []
    },
    {
        "id": "2b8628df.fdcca8",
        "type": "subflow",
        "name": "send notifications",
        "info": "",
        "in": [
            {
                "x": 60,
                "y": 240,
                "wires": [
                    {
                        "id": "d76ddf98.d3de9"
                    }
                ]
            }
        ],
        "out": []
    },
    {
        "id": "4a3c7cc0.965dd4",
        "type": "subflow",
        "name": "to map",
        "info": "",
        "in": [
            {
                "x": 180,
                "y": 220,
                "wires": [
                    {
                        "id": "cf23a5a.9eacd58"
                    }
                ]
            }
        ],
        "out": []
    },
    {
        "id": "d29a1c6a.5a89e",
        "type": "subflow",
        "name": "neighbour to map",
        "info": "",
        "in": [
            {
                "x": 60,
                "y": 100,
                "wires": [
                    {
                        "id": "6187e791.e5f488"
                    }
                ]
            }
        ],
        "out": []
    },
    {
        "id": "91777bb3.922328",
        "type": "subflow",
        "name": "OnMapConnected",
        "info": "",
        "in": [
            {
                "x": 160,
                "y": 40,
                "wires": []
            }
        ],
        "out": [
            {
                "x": 680,
                "y": 40,
                "wires": [
                    {
                        "id": "620ec824.128428",
                        "port": 0
                    },
                    {
                        "id": "91777bb3.922328",
                        "port": 0
                    }
                ]
            }
        ],
        "inputLabels": [
            "forwards in to out"
        ],
        "outputLabels": [
            "out + on map connected"
        ]
    },
    {
        "id": "2f0217a5.051978",
        "type": "subflow",
        "name": "false positive",
        "info": "",
        "in": [
            {
                "x": 80,
                "y": 80,
                "wires": [
                    {
                        "id": "a30ccf58.3a1e"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 1320,
                "y": 160,
                "wires": [
                    {
                        "id": "7f8ce0c9.99ac4",
                        "port": 0
                    },
                    {
                        "id": "1f728a28.973446",
                        "port": 0
                    },
                    {
                        "id": "4d5be381.f478fc",
                        "port": 0
                    }
                ]
            }
        ]
    },
    {
        "id": "e81a68fa.695e38",
        "type": "subflow",
        "name": "tsend",
        "info": "",
        "in": [
            {
                "x": 60,
                "y": 40,
                "wires": [
                    {
                        "id": "dd683e99.7c126"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 620,
                "y": 40,
                "wires": [
                    {
                        "id": "dd683e99.7c126",
                        "port": 0
                    }
                ]
            }
        ]
    },
    {
        "id": "4384af8e.a7409",
        "type": "subflow",
        "name": "lang",
        "info": "",
        "in": [
            {
                "x": 80,
                "y": 80,
                "wires": [
                    {
                        "id": "afdf0d2.1f75ef"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 1520,
                "y": 140,
                "wires": [
                    {
                        "id": "e39f3d19.34c0f",
                        "port": 0
                    }
                ]
            }
        ]
    },
    {
        "id": "94b874d7.e0e478",
        "type": "subflow",
        "name": "check lang change",
        "info": "",
        "in": [
            {
                "x": 100,
                "y": 80,
                "wires": [
                    {
                        "id": "e3b00d54.9cd4e"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 600,
                "y": 80,
                "wires": [
                    {
                        "id": "e3b00d54.9cd4e",
                        "port": 0
                    }
                ]
            }
        ]
    },
    {
        "id": "a7679700.0cb7a8",
        "type": "subflow",
        "name": "nrt3 nasa",
        "info": "",
        "in": [
            {
                "x": 80,
                "y": 40,
                "wires": [
                    {
                        "id": "9af219f9.082b88"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 740,
                "y": 40,
                "wires": [
                    {
                        "id": "5be1e81a.8eae68",
                        "port": 0
                    }
                ]
            }
        ]
    },
    {
        "id": "e6f3db8c.48eac8",
        "type": "subflow",
        "name": "ask lang",
        "info": "",
        "in": [
            {
                "x": 100,
                "y": 100,
                "wires": [
                    {
                        "id": "4091f971.ce23f8"
                    }
                ]
            }
        ],
        "out": []
    },
    {
        "id": "6995c6a.1a0bf38",
        "type": "subflow",
        "name": "set i18n",
        "info": "",
        "in": [
            {
                "x": 100,
                "y": 60,
                "wires": [
                    {
                        "id": "5541b1d7.23da4"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 440,
                "y": 60,
                "wires": [
                    {
                        "id": "5541b1d7.23da4",
                        "port": 0
                    }
                ]
            }
        ]
    },
    {
        "id": "f93d1a38.c43218",
        "type": "telegram bot",
        "z": "",
        "botname": "fuegos_bot",
        "usernames": "",
        "chatids": ""
    },
    {
        "id": "9f205dc2.bd858",
        "type": "google-api-config",
        "z": ""
    },
    {
        "id": "51a7af07.93444",
        "type": "mongodb",
        "z": "",
        "hostname": "127.0.0.1",
        "port": "27017",
        "db": "fuegos",
        "name": ""
    },
    {
        "id": "60f55fe6.6c729",
        "type": "ui_base",
        "theme": {
            "name": "theme-dark",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#097479",
                    "value": "#097479",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#111111",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#000000",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#0eb8c0",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            }
        },
        "site": {
            "name": "Tod@s contra el Fuego",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "dac4dde2.62c72",
        "type": "ui_tab",
        "z": "",
        "name": "Stats",
        "icon": "dashboard",
        "order": 1
    },
    {
        "id": "601660c.cd104a",
        "type": "ui_group",
        "z": "",
        "name": "Estadísticas",
        "tab": "dac4dde2.62c72",
        "disp": true,
        "width": "6"
    },
    {
        "id": "103d89d5.f04ab6",
        "type": "persist-store",
        "z": "",
        "filename": "dayly-file-alerts.json",
        "interval": "60"
    },
    {
        "id": "2c23f46.8edd30c",
        "type": "persist-store",
        "z": "",
        "filename": "nasa-fire-active.json",
        "interval": "60"
    },
    {
        "id": "db913a18.f8bf88",
        "type": "persist-store",
        "z": "2b8628df.fdcca8",
        "filename": "near-neighbours.json",
        "interval": "60"
    },
    {
        "id": "cb34ee3.be2b31",
        "type": "persist-store",
        "z": "",
        "filename": "suscriptions-in-time.json",
        "interval": "60"
    },
    {
        "id": "6c68017b.bba33",
        "type": "ftp-download-server",
        "z": "",
        "host": "nrt3.modaps.eosdis.nasa.gov",
        "port": "21",
        "user": "comunes",
        "connTimeout": "10000",
        "pasvTimeout": "10000",
        "keepalive": "10000",
        "name": "nrt3 nasa"
    },
    {
        "id": "488013b6.1183ec",
        "type": "Cache",
        "z": "",
        "name": "userslang",
        "defaultTtl": "120",
        "checkPeriod": "100"
    },
    {
        "id": "7aa07a53.1c8ec4",
        "type": "file in",
        "z": "93cb4937.6fc068",
        "name": "read",
        "filename": "",
        "format": "utf8",
        "chunk": false,
        "sendError": true,
        "x": 690,
        "y": 220,
        "wires": [
            [
                "b599e89d.2138b8",
                "3a5ab6ad.0e340a"
            ]
        ]
    },
    {
        "id": "b599e89d.2138b8",
        "type": "csv",
        "z": "93cb4937.6fc068",
        "name": "modis csv",
        "sep": ",",
        "hdrin": true,
        "hdrout": "",
        "multi": "one",
        "ret": "\\n",
        "temp": "",
        "x": 860,
        "y": 220,
        "wires": [
            [
                "9ef9c4c5.a68d08",
                "56fafc54.228824"
            ]
        ]
    },
    {
        "id": "bdb6d01f.a399d",
        "type": "telegram command",
        "z": "93cb4937.6fc068",
        "name": "/start",
        "command": "/start",
        "bot": "f93d1a38.c43218",
        "x": 90,
        "y": 360,
        "wires": [
            [
                "55ebd8f8.436e38"
            ],
            [
                "11e83fb2.09a37"
            ]
        ]
    },
    {
        "id": "33879e8b.3151b2",
        "type": "function",
        "z": "93cb4937.6fc068",
        "name": "other replies",
        "func": "var t = msg.i18n;\n\n//if(context.global.keyboard && context.global.keyboard.pending)\n//{\n//    context.global.keyboard.pending = false;\n    if(msg.payload.content === t('Desuscribirme'))\n    {\n        msg.payload.content = t('👍 Desuscrito');\n        return [msg, null];   \n    }\n    else if(msg.payload.content === t('♥ Apoya esta iniciativa'))\n    {\n        msg.payload.content =  t('¿Sabías que los fuegos producen tanto CO² como los coches y aproximadamente ⅕ de todas nuestras emisiones?') + '\\r\\n\\r\\n'\n        msg.payload.content += t('Puedes ayudarnos (y al medioambiente) dando difusión a @TodosContraElFuego_bot entre tus contactos y grupos para que más gente lo use.') + '\\r\\n\\r\\n';\n        msg.payload.content += t('También puedes apoyarnos con alguna donación. Así podremos pagar nuestros servidores, servicios de terceros, usar otras plataformas diferentes de Telegram y pagar algún café a los desarrolladores:');\n        msg.payload.content += '\\r\\n➡️ https://comunes.org/donate\\r\\n\\r\\n';\n\n        return [msg, null];\n\n    }\n    else if(msg.payload.content === t('📖 Más info'))\n    {   msg.payload.content =  t('© Copyleft Asociación Comunes bajo licencia AGPLv3') + '\\r\\n';\n        msg.payload.content += \"https://comunes.org\\r\\n\";\n        msg.payload.content += t('Código:') + 'https://github.com/comunes/todos-contra-el-fuego\\r\\n\\r\\n';\n        \n        msg.payload.content += t('LIMITACIÓN DE LA RESPONSABILIDAD:') + '\\r\\n\\r\\n'; \n        \n        msg.payload.content += t('EN NINGÚN CASO A MENOS QUE SEA REQUERIDO POR UNA LEY APLICABLE O ACUERDO ESCRITO NINGÚN TITULAR DE LOS DERECHOS DE AUTOR (“COPYRIGHT”), O NINGÚN TERCERO QUE MODIFIQUE Y/O TRANSMITA EL PROGRAMA COMO SE PERMITE ANTERIORMENTE, SERÁ RESPONSABLE ANTE USTED POR DAÑOS, INCLUYENDO CUALESQUIERA DAÑOS GENERALES, PARTICULARES, IMPREVISTOS O DERIVADOS DEL USO O IMPOSIBILIDAD DE USO DEL PROGRAMA (INCLUYENDO, PERO NO LIMITADO A, LA PÉRDIDA DE DATOS, DATOS GENERADOS INCORRECTOS, PÉRDIDAS SUFRIDAS POR USTED O POR TERCERAS PERSONAS, O LOS FALLOS DEL PROGRAMA PARA OPERAR CON OTROS PROGRAMAS), INCLUSO SI DICHO TITULAR O UN TERCERO HA SIDO ADVERTIDO DE LA POSIBILIDAD DE TALES DAÑOS.') + '\\r\\n\\r\\n';\n        \n        msg.payload.content += t('POLÍTICA DE PRIVACIDAD:') + '\\r\\n\\r\\n';\n        msg.payload.content += t('No compartimos ninguna información con terceros. La información recogida por esta aplicación tiene el único fin ayudar en la prevención y extinción de fuegos principalmente forestales.') + '\\r\\n\\r\\n';\n\n        msg.payload.content += t('FUENTES DE DATOS:') + '\\r\\n\\r\\n';\n        msg.payload.content += t('Además de las alertas proporcionadas por nuestros usuari@s, usamos datos de fuegos activos proporcionados por la NASA (programa MODIS y VIIRS). Ver mapa: http://effis.jrc.ec.europa.eu/static/effis_current_situation/public/index.html') + '\\r\\n';\n        msg.payload.content += \"«We acknowledge the use of data and imagery from LANCE FIRMS operated by the NASA/GSFC/Earth Science Data and Information System (ESDIS) with funding provided by NASA/HQ».\" + '\\r\\n';\n        msg.payload.content += t('Si quieres que añadamos otras fuentes de datos sobre fuegos, no dudes en contactar con nosotros: info@comunes.org') + '\\r\\n\\r\\n';\n        \n        msg.payload.content += t('PREGUNTAS FRECUENTES:') + '\\r\\n\\r\\n';\n        msg.payload.content += t('➖ ¿Me puedo suscribir a varias zonas?: Por ahora no directamente. Solo con un truco, añadiendo a @TodosContraElFuego_bot como miembro a un grupo y que ese grupo esté subscrito a otra zona.') + '\\r\\n';\n        msg.payload.content += t('➖ ¿Hay \"falsos positivos\"?: Sí los hay. Puedes recibir alguna notificación de fuego por ej. de refinerías o incineradoras. Puedes pulsar a la localización del falso positivo y responder con un mensaje que diga \"falso positivo\" o \"es una industria\" para que estos fuegos no sean notificados.') + '\\r\\n';\n        msg.payload.content += t('Nos puedes ayudar mucho proporcionándonos otros feedbacks sobre la veracidad de las notificaciones de fuego, sobre el estado del fuego, etc. Siplemente responde a la localización de una notificación de fuego (pulsando sobre ella y seleccionando \"Responder\") con algún comentario sobre ese fuego.') + '\\r\\n';\n        msg.payload.content += t('➖ ¿Puedo recibir notificaciones en una distancia diferente o mayor? Sí, basta con estar subscrito y teclear, por ejemplo, \"a 17 km\" si quisieramos recibir notificaciones en un radio de 17 kilómetros (o mayor si queremos hacer pruebas).') + '\\r\\n';\n        msg.payload.content += t('➖ ¿No voy a recibir demasiadas notificaciones?: En principio no deberías, ya que agrupamos las notificaciones de las diferentes fuentes y solo avisamos una vez al día por fuego. Por ejemplo no repetimos notificaciones si algún vecino ya ha notificado un mismo fuego en la zona previamente.') + '\\r\\n\\r\\n';\n        \n        msg.payload.content += t('OTROS:') + '\\r\\n\\r\\n';\n        msg.payload.content += t('➖ Por ahora solo procesamos datos de fuegos de la NASA en Europa, pero si nos lo pedís podemos ampliar nuestro radio de acción.') + '\\r\\n';\n        msg.payload.content += t('➖ Puedes añadir a @TodosContraElFuego_bot a un grupo como miembro y recibir notificaciones de cierta área en ese grupo.') + '\\r\\n';\n        msg.payload.content += t('➖ Puedes votar con alegría ⭐️⭐️⭐️⭐️⭐️ nuestro bot en https://telegram.me/storebot?start=TodosContraElFuego_bot.') +  '\\r\\n\\r\\n';\n        \n        msg.payload.content += t('Feedback, sugerencias, bugs, etc: @vj_rj') + '\\r\\n\\r\\n';\n        \n        msg.payload.content += t(\"¡Gracias!\");\n        return [msg, null];\n    }\n    else {\n        msg.payload.content = t('Opción de teclado desconocida');\n        return [null, msg];   \n    }\n//}\n",
        "outputs": "5",
        "noerr": 0,
        "x": 770,
        "y": 580,
        "wires": [
            [
                "9ac27b91.95fd38"
            ],
            [],
            [],
            [],
            []
        ]
    },
    {
        "id": "1b848c63.4e2bf4",
        "type": "function",
        "z": "93cb4937.6fc068",
        "name": "escribir posición",
        "func": "var t = msg.i18n;\nif(context.global.keyboard.pending)\n{\n    context.global.keyboard.pending = false;\n    msg.payload.type = 'message';\n    msg.payload.content = t('Indícanos la posición a vigilar (por ej. tu pueblo, una calle, etc). Si usas un móvil también puedes adjuntar una ubicación pulsando el clip');\n    msg.payload.topic = \"sus\";\n    \n    var opts = {\n      reply_markup: JSON.stringify({\n        force_reply: true,\n      })\n    };\n    msg.payload.options = opts;\n    return msg;\n}\n",
        "outputs": "1",
        "noerr": 0,
        "x": 730,
        "y": 480,
        "wires": [
            [
                "c89c411b.79f73"
            ]
        ]
    },
    {
        "id": "3ce9c795.c84558",
        "type": "telegram sender",
        "z": "93cb4937.6fc068",
        "name": "ask",
        "bot": "f93d1a38.c43218",
        "x": 1030,
        "y": 480,
        "wires": [
            [
                "57988778.321178"
            ]
        ]
    },
    {
        "id": "be0cbd6.2efaf4",
        "type": "function",
        "z": "93cb4937.6fc068",
        "name": "ask location to sub",
        "func": "var t = msg.i18n;\n\nif (msg.payload.chatId > 0) {\n    if(context.global.keyboard.pending) {\n        context.global.keyboard.pending = false;\n        context.global.keyboard = { pending : true };\n        var opts = {\n            // reply_to_message_id: msg.payload.messageId,\n            \n            reply_markup: JSON.stringify({\n                force_reply: true,\n                keyboard: [ \n                    [{text: t('📍 Compartir mi posición'), request_location: true}, \n                     {text: t('📝 Escribir mi posición')}\n                    ],\n                    [{text: t('⬅️ Cancelar')}]\n                ], \n\n                'resize_keyboard' : true, \n                'one_time_keyboard' : true\n            })\n        };\n    }\n    msg.payload.content = t('¿Quieres compartir tu posición o escribir el nombre de la zona a vigilar (por ejemplo un pueblo, una dirección, etc)? Selecciona una de las opciones. Activa la información de tu ubicación 📍 en tu móvil si quieres compartir tu ubicación');\n    msg.payload.options = opts;\n    global.set('locationtopic', 'sus');\n    return [msg, null];\n} else {\n    global.set('locationtopic', 'sus');\n    return [null, msg];\n}",
        "outputs": "2",
        "noerr": 0,
        "x": 610,
        "y": 400,
        "wires": [
            [
                "98bfcdd0.736cf"
            ],
            [
                "f4470f67.a877d"
            ]
        ]
    },
    {
        "id": "189c6a9b.aab975",
        "type": "google geocoding",
        "z": "93cb4937.6fc068",
        "name": "Geo",
        "geocodeBy": "address",
        "address": "",
        "lat": "",
        "lon": "",
        "googleAPI": "9f205dc2.bd858",
        "bounds": "",
        "language": "",
        "region": "",
        "components": "",
        "x": 1570,
        "y": 560,
        "wires": [
            [
                "70cddff9.2dbfb",
                "52271fef.7036"
            ]
        ]
    },
    {
        "id": "57988778.321178",
        "type": "telegram reply",
        "z": "93cb4937.6fc068",
        "name": "get reply",
        "bot": "f93d1a38.c43218",
        "x": 1220,
        "y": 480,
        "wires": [
            [
                "79a24d67.be0024"
            ]
        ]
    },
    {
        "id": "22b64555.dd2e7a",
        "type": "function",
        "z": "93cb4937.6fc068",
        "name": "ask fire",
        "func": "var t = msg.i18n;\nif (msg.payload.chatId > 0) {\n    var opts = {\n        // reply_to_message_id: msg.payload.messageId,\n            \n        reply_markup: JSON.stringify({\n            force_reply: true,\n            keyboard: [ \n                [{text: t('📍 El fuego está en mi ubicación'), request_location: true}, \n                 {text: t('📝 Escribir localización fuego')}\n                ],\n                [{text: t('⬅️ Cancelar')}]\n            ], \n            'resize_keyboard' : true, \n            'one_time_keyboard' : true\n        })\n    };\n\n    msg.payload.content = t('¿Quieres compartir tu ubicación o escribir la localización del fuego (por ejemplo un pueblo, una dirección, etc)? Selecciona una de las opciones. Activa la información de tu ubicación 📍 en tu móvil si quieres compartir tu ubicación');\n    msg.payload.options = opts;\n    global.set('locationtopic', 'nuevofuego');\n    // msg.payload.topic = \"nuevofuego\";\n    return [msg, null];\n} else {\n    global.set('locationtopic', 'nuevofuego');\n    return [null, msg];\n}\n",
        "outputs": "2",
        "noerr": 0,
        "x": 860,
        "y": 440,
        "wires": [
            [
                "ff13d2ac.cce79"
            ],
            [
                "60ee8a37.032aa4"
            ]
        ]
    },
    {
        "id": "bed1aee.d1d745",
        "type": "mongodb out",
        "z": "93cb4937.6fc068",
        "mongodb": "51a7af07.93444",
        "name": "save subs",
        "collection": "subscriptions",
        "payonly": false,
        "upsert": true,
        "multi": false,
        "operation": "update",
        "x": 1990,
        "y": 580,
        "wires": []
    },
    {
        "id": "62ade476.c012ec",
        "type": "debug",
        "z": "93cb4937.6fc068",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "payload",
        "x": 1750,
        "y": 380,
        "wires": []
    },
    {
        "id": "79a24d67.be0024",
        "type": "change",
        "z": "93cb4937.6fc068",
        "name": "set location",
        "rules": [
            {
                "t": "set",
                "p": "location.address",
                "pt": "msg",
                "to": "payload.content",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "chatId",
                "pt": "msg",
                "to": "payload.chatId",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "address",
                "pt": "msg",
                "to": "payload.content",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1390,
        "y": 480,
        "wires": [
            [
                "bb4817df.01de48"
            ]
        ]
    },
    {
        "id": "10d562eb.b0de5d",
        "type": "mongodb out",
        "z": "93cb4937.6fc068",
        "mongodb": "51a7af07.93444",
        "name": "update subs",
        "collection": "subscriptions",
        "payonly": false,
        "upsert": false,
        "multi": false,
        "operation": "update",
        "x": 810,
        "y": 640,
        "wires": []
    },
    {
        "id": "e0bc7e33.2a795",
        "type": "debug",
        "z": "93cb4937.6fc068",
        "name": "otherwise",
        "active": true,
        "console": "false",
        "complete": "true",
        "x": 590,
        "y": 980,
        "wires": []
    },
    {
        "id": "f26677b3.07e7f8",
        "type": "function",
        "z": "93cb4937.6fc068",
        "name": "Subscrito!",
        "func": "var t = msg.i18n;\nvar newMsg = {\n    payload : {\n        content : t('👍 ¡Suscrito/a!'),\n        type: \"message\",\n        chatId: msg.query.chatId\n    }\n}\n\nreturn newMsg;",
        "outputs": 1,
        "noerr": 0,
        "x": 830,
        "y": 720,
        "wires": [
            [
                "abe7d7fb.2c4708",
                "c60a2456.adac68"
            ]
        ]
    },
    {
        "id": "e864b674.6fd2c8",
        "type": "delay",
        "z": "465e67f.6ebf598",
        "name": "",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 200,
        "y": 40,
        "wires": [
            [
                "bf50334e.7ac3a"
            ]
        ]
    },
    {
        "id": "4f819d77.37fcc4",
        "type": "debug",
        "z": "93cb4937.6fc068",
        "name": "chatId",
        "active": false,
        "console": "false",
        "complete": "chatId",
        "x": 1930,
        "y": 440,
        "wires": []
    },
    {
        "id": "6a17cf63.4a125",
        "type": "mongodb out",
        "z": "93cb4937.6fc068",
        "mongodb": "51a7af07.93444",
        "name": "remove subs",
        "collection": "subscriptions",
        "payonly": false,
        "upsert": true,
        "multi": true,
        "operation": "delete",
        "x": 770,
        "y": 520,
        "wires": []
    },
    {
        "id": "529f65ba.a3f03c",
        "type": "function",
        "z": "93cb4937.6fc068",
        "name": "query chatId",
        "func": "msg.payload = {\"chatId\": msg.payload.chatId };\n// console.log(msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 590,
        "y": 520,
        "wires": [
            [
                "6a17cf63.4a125",
                "64500fb0.8e131"
            ]
        ]
    },
    {
        "id": "c93b29f2.6b85b8",
        "type": "inject",
        "z": "93cb4937.6fc068",
        "name": "delete subs",
        "topic": "",
        "payload": "test",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 130,
        "y": 720,
        "wires": [
            [
                "32df6da4.7b9782"
            ]
        ]
    },
    {
        "id": "32df6da4.7b9782",
        "type": "function",
        "z": "93cb4937.6fc068",
        "name": "test id",
        "func": "var newMsg = {\n    payload: {\n        chatId: 666,\n        content : \"Plaza de la Luna, Madrid\"\n    }}\nreturn newMsg;",
        "outputs": 1,
        "noerr": 0,
        "x": 370,
        "y": 720,
        "wires": [
            [
                "529f65ba.a3f03c"
            ]
        ]
    },
    {
        "id": "50883145.39176",
        "type": "debug",
        "z": "93cb4937.6fc068",
        "name": "geo a salvar",
        "active": false,
        "console": "false",
        "complete": "geo",
        "x": 1950,
        "y": 480,
        "wires": []
    },
    {
        "id": "f0663c0a.d0646",
        "type": "mongodb in",
        "z": "93cb4937.6fc068",
        "mongodb": "51a7af07.93444",
        "name": "find sub",
        "collection": "subscriptions",
        "operation": "find",
        "x": 880,
        "y": 800,
        "wires": [
            [
                "54c7f5d3.8c4e7c",
                "6cfebdf8.84ef74"
            ]
        ]
    },
    {
        "id": "7636ac6a.243324",
        "type": "function",
        "z": "93cb4937.6fc068",
        "name": "query sub",
        "func": "msg.chatId = msg.payload.chatId;\nmsg.payload = {\"chatId\": msg.payload.chatId };\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 720,
        "y": 800,
        "wires": [
            [
                "f0663c0a.d0646"
            ]
        ]
    },
    {
        "id": "9f58b262.a60d",
        "type": "telegram command",
        "z": "93cb4937.6fc068",
        "name": "/info",
        "command": "/info",
        "bot": "f93d1a38.c43218",
        "x": 90,
        "y": 800,
        "wires": [
            [
                "f3249bab.90eae8"
            ],
            []
        ]
    },
    {
        "id": "9637d9cb.5f8a38",
        "type": "mongodb in",
        "z": "2b8628df.fdcca8",
        "mongodb": "51a7af07.93444",
        "name": "find subs near",
        "collection": "subscriptions",
        "operation": "find",
        "x": 880,
        "y": 240,
        "wires": [
            [
                "1986ad37.928233"
            ]
        ]
    },
    {
        "id": "59c0890d.7d97e8",
        "type": "function",
        "z": "2b8628df.fdcca8",
        "name": "near?",
        "func": "msg.payload = {\n     geo:\n       { $near : {\n            $geometry: { \n                type: \"Point\",  \n                coordinates: [ msg.lon, msg.lat]\n            },\n            $minDistance: 0,\n            $maxDistance: 1000000\n          }\n       }\n   }\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 710,
        "y": 240,
        "wires": [
            [
                "9637d9cb.5f8a38",
                "c7da78e3.f6ea28"
            ]
        ]
    },
    {
        "id": "ca5f1316.5932c",
        "type": "function",
        "z": "2b8628df.fdcca8",
        "name": "calc distances",
        "func": "var t = msg.i18n;\n\n// node.log(\"Enter chatId: \" + msg.payload[i].chatId);\n\n// https://www.npmjs.com/package/geolib\nvar dist = context.global.geolib.getDistance(\n    { latitude: msg.payload.location.lat, \n      longitude: msg.payload.location.lon\n    },\n    { latitude: msg.lat, \n      longitude: msg.lon\n    }\n); \n// node.log(\"end calc dist chatId: \" + msg.payload[i].chatId);\n\nvar maxDist =  msg.payload.distance;\n// node.log(\"chatId: \" + msg.payload[i].chatId + \" maxDist \" + maxDist + \" dist \" + dist/1000);\n\nif (dist/1000 <= maxDist) {\n    var km = Math.round(dist/1000 * 10) / 10\n    var content;\n    if (msg.type === \"vecinal\") {\n        // kmvecinal : '🔥 Alerta de posible fuego a {{km}} км de distancia (fuente NASA):''\n        content = t('kmvecinal', {km: km});\n    } else if (msg.type === \"nasa\") {\n        // kmnasa : '🔥 Alerta vecinal de fuego a {{km}} км de distancia:''\n        content = t('kmnasa', {km: km});\n    }\n    var caption = {\n        payload : {\n          chatId : msg.payload.chatId,\n          type : \"message\",\n          content: content\n        }\n    }\n    \n    var notification = {\n        payload : {\n          chatId : msg.payload.chatId,\n          type : \"location\",\n          content: {\n             longitude: msg.lon,\n             latitude: msg.lat \n          }\n        },\n        caption: caption,\n        i18n: t\n    }\n    \n    var newMsg = {\n        payload: {\n            chatId: msg.payload.chatId,\n            geo: { $near : {\n                $geometry: { \n                    type: \"Point\",  \n                    coordinates: [\n                        msg.lon,\n                        msg.lat\n                    ] },\n                $minDistance: 0,\n                $maxDistance: 2000 // Junto notificaciones en un radio de 2km \n                }\n            }\n        },\n        notification: notification,\n        caption: caption,\n        i18n: t\n    };\n    \n    node.send(newMsg);\n}\n\n",
        "outputs": 1,
        "noerr": 0,
        "x": 1140,
        "y": 400,
        "wires": [
            [
                "c0e6a5d.fb1e058"
            ]
        ]
    },
    {
        "id": "4fe5e164.e7dc",
        "type": "telegram sender",
        "z": "2b8628df.fdcca8",
        "name": "send",
        "bot": "f93d1a38.c43218",
        "x": 2270,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "ce0d4bec.4fc9e8",
        "type": "catch",
        "z": "93cb4937.6fc068",
        "name": "catch all",
        "scope": null,
        "x": 480,
        "y": 40,
        "wires": [
            [
                "a1ab1dbf.8d35d"
            ]
        ]
    },
    {
        "id": "6cfebdf8.84ef74",
        "type": "function",
        "z": "93cb4937.6fc068",
        "name": "send location",
        "func": "var t = msg.i18n;\nvar km = msg.payload[0].distance;\nif (msg.payload.length > 0) {\n    var caption = {\n        payload : {\n          chatId : msg.payload[0].chatId,\n          type : \"message\",\n          content: t('kmdistancia', {km: km})\n        }\n    }\n    \n    var location = {\n        payload : {\n          chatId : msg.payload[0].chatId,\n          type : \"location\",\n          content: {\n             longitude: msg.payload[0].location.lon,\n             latitude: msg.payload[0].location.lat\n          }\n        }\n    }\n    return [caption, location, null];\n}",
        "outputs": "2",
        "noerr": 0,
        "x": 1060,
        "y": 840,
        "wires": [
            [
                "33cd0275.71172e"
            ],
            [
                "74146dac.0d0704"
            ]
        ],
        "outputLabels": [
            "caption",
            "location"
        ]
    },
    {
        "id": "54c7f5d3.8c4e7c",
        "type": "function",
        "z": "93cb4937.6fc068",
        "name": "no susc",
        "func": "var t = msg.i18n;\nif (msg.payload.length === 0) {\n    msg.payload.type = \"message\";\n    msg.payload.content = t('No estás suscrito/a a ninguna alerta');\n    msg.payload.chatId = msg.chatId;\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "x": 1040,
        "y": 800,
        "wires": [
            [
                "fbac8488.5194a8"
            ]
        ]
    },
    {
        "id": "a1ab1dbf.8d35d",
        "type": "debug",
        "z": "93cb4937.6fc068",
        "name": "catch error",
        "active": true,
        "console": "true",
        "complete": "true",
        "x": 680,
        "y": 40,
        "wires": []
    },
    {
        "id": "82292481.dd9428",
        "type": "function",
        "z": "93cb4937.6fc068",
        "name": "update km",
        "func": "var km = Number(msg.payload.content.replace(/(a |em |)([0-9]+)[ ]*km( around| arredor|)/, \"$2\"));\nvar newMsg = {\n    query : {\n        // No busca bien con _id, \n        // duplicamos chatId\n        chatId : msg.payload.chatId \n    },\n    payload: {\n       $set: {        \n           distance : km\n       }\n    },\n    i18n: msg.i18n\n};\n\nreturn newMsg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 590,
        "y": 640,
        "wires": [
            [
                "10d562eb.b0de5d",
                "f26677b3.07e7f8"
            ]
        ]
    },
    {
        "id": "c063defc.417ea",
        "type": "mongodb out",
        "z": "2b8628df.fdcca8",
        "mongodb": "51a7af07.93444",
        "name": "save notis",
        "collection": "notifications",
        "payonly": false,
        "upsert": true,
        "multi": true,
        "operation": "store",
        "x": 2110,
        "y": 360,
        "wires": []
    },
    {
        "id": "53f7be24.9be16",
        "type": "mongodb in",
        "z": "2b8628df.fdcca8",
        "mongodb": "51a7af07.93444",
        "name": "find notis",
        "collection": "notifications",
        "operation": "find",
        "x": 1520,
        "y": 400,
        "wires": [
            [
                "990b8bb6.bacdd8"
            ]
        ]
    },
    {
        "id": "6329567.da6b7a8",
        "type": "function",
        "z": "2b8628df.fdcca8",
        "name": "noti query",
        "func": "if (msg.payload.type === \"location\") {\n    var newMsg = {\n        chatId: msg.payload.chatId,\n        geo: {\n            type: \"Point\",\n            coordinates: [ \n                msg.payload.content.longitude,\n                msg.payload.content.latitude\n            ]\n        }\n    };\n    return newMsg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "x": 1940,
        "y": 360,
        "wires": [
            [
                "c063defc.417ea"
            ]
        ]
    },
    {
        "id": "990b8bb6.bacdd8",
        "type": "function",
        "z": "2b8628df.fdcca8",
        "name": "save and send",
        "func": "if (msg.payload.length === 0) {\n    // No yet notified  save and \n    // send notifications\n    return [ msg.notification, [msg.caption, msg.notification], null];\n} else {\n    // Already notified, do nothing\n}\n",
        "outputs": "2",
        "noerr": 0,
        "x": 1720,
        "y": 400,
        "wires": [
            [
                "6329567.da6b7a8"
            ],
            [
                "cf97891b.2928a8"
            ]
        ]
    },
    {
        "id": "c0e6a5d.fb1e058",
        "type": "delay",
        "z": "2b8628df.fdcca8",
        "name": "rate 5s",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "5",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 1340,
        "y": 400,
        "wires": [
            [
                "53f7be24.9be16"
            ]
        ]
    },
    {
        "id": "cf97891b.2928a8",
        "type": "delay",
        "z": "2b8628df.fdcca8",
        "name": "rate 1x2s",
        "pauseType": "rate",
        "timeout": "2",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "2",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 1940,
        "y": 400,
        "wires": [
            [
                "d79d8e7b.539c8"
            ]
        ]
    },
    {
        "id": "6294a71e.647c58",
        "type": "debug",
        "z": "2b8628df.fdcca8",
        "name": "false positive",
        "active": false,
        "console": "false",
        "complete": "true",
        "x": 740,
        "y": 300,
        "wires": []
    },
    {
        "id": "e2ba2944.46c208",
        "type": "file in",
        "z": "93cb4937.6fc068",
        "name": "read",
        "filename": "",
        "format": "utf8",
        "chunk": false,
        "sendError": true,
        "x": 690,
        "y": 180,
        "wires": [
            [
                "6cb3b14e.a135a",
                "a27f7210.58aa1"
            ]
        ]
    },
    {
        "id": "6cb3b14e.a135a",
        "type": "csv",
        "z": "93cb4937.6fc068",
        "name": "viir csv",
        "sep": ",",
        "hdrin": true,
        "hdrout": "",
        "multi": "one",
        "ret": "\\n",
        "temp": "",
        "x": 860,
        "y": 180,
        "wires": [
            [
                "9ef9c4c5.a68d08",
                "56fafc54.228824"
            ]
        ]
    },
    {
        "id": "ff13d2ac.cce79",
        "type": "telegram sender",
        "z": "93cb4937.6fc068",
        "name": "keyb",
        "bot": "f93d1a38.c43218",
        "x": 1030,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "70cddff9.2dbfb",
        "type": "function",
        "z": "93cb4937.6fc068",
        "name": "save geofind",
        "func": "var newMsg = {\n    query : {\n        // No busca bien con _id, \n        // duplicamos chatId\n        chatId : msg.chatId \n    },\n    payload: {\n       $set: {        \n            location: {\n                lat: msg.payload.lat,\n                lon: msg.payload.lon,\n                text: msg.address\n            },\n            // _id: msg.chatId,\n            chatId: msg.chatId,\n            geo: {\n                type: \"Point\",\n                coordinates: [msg.payload.lon, msg.payload.lat]\n            },\n            distance: 5\n        }\n    },\n    location: {\n        lat: msg.payload.lat,\n        lon: msg.payload.lon\n    },\n    // _id: msg.chatId,\n    chatId: msg.chatId,\n    i18n: msg.i18n\n    \n}\nreturn newMsg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1750,
        "y": 580,
        "wires": [
            [
                "4f819d77.37fcc4",
                "771c05f7.78a3ac",
                "bed1aee.d1d745",
                "25c52409.dd295c"
            ]
        ]
    },
    {
        "id": "10eb3fd5.6d416",
        "type": "function",
        "z": "93cb4937.6fc068",
        "name": "save location",
        "func": "var newMsg = {\n    query : {\n        // No busca bien con _id, \n        // duplicamos chatId\n        chatId : msg.payload.chatId \n    },\n    // payload $set for updates\n    payload: {\n       $set: {        \n    location: {\n        lat: msg.payload.content.latitude,\n        lon: msg.payload.content.longitude\n    },\n    // _id: msg.payload.chatId,\n    chatId: msg.payload.chatId,\n    geo: {\n        type: \"Point\",\n        coordinates: [\n            msg.payload.content.longitude, \n            msg.payload.content.latitude]\n    },\n    distance: 5\n       }\n    },\n    location: {\n        lat: msg.payload.content.latitude,\n        lon: msg.payload.content.longitude\n    },\n    chatId: msg.payload.chatId,\n    i18n: msg.i18n\n}\nreturn newMsg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1750,
        "y": 640,
        "wires": [
            [
                "bed1aee.d1d745",
                "771c05f7.78a3ac",
                "25c52409.dd295c"
            ]
        ]
    },
    {
        "id": "543a368a.8447b8",
        "type": "config",
        "z": "93cb4937.6fc068",
        "name": "config-dev",
        "properties": [
            {
                "p": "ftp-path",
                "pt": "global",
                "to": "/tmp/",
                "tot": "str"
            },
            {
                "p": "ftp-area",
                "pt": "global",
                "to": "Global",
                "tot": "str"
            },
            {
                "p": "ftp-area2",
                "pt": "global",
                "to": "Europe",
                "tot": "str"
            },
            {
                "p": "sends-news-to2",
                "pt": "global",
                "to": "all",
                "tot": "str"
            },
            {
                "p": "sends-news-to",
                "pt": "global",
                "to": "4885772,-253600015",
                "tot": "str"
            }
        ],
        "active": true,
        "x": 130,
        "y": 40,
        "wires": []
    },
    {
        "id": "73b0043e.3d68dc",
        "type": "config",
        "z": "93cb4937.6fc068",
        "name": "config-prod",
        "properties": [
            {
                "p": "ftp-path",
                "pt": "global",
                "to": "/data/",
                "tot": "str"
            },
            {
                "p": "ftp-area",
                "pt": "global",
                "to": "Global",
                "tot": "str"
            },
            {
                "p": "sends-news-to",
                "pt": "global",
                "to": "4885772",
                "tot": "str"
            }
        ],
        "active": false,
        "x": 330,
        "y": 40,
        "wires": []
    },
    {
        "id": "48cdccd8.2399a4",
        "type": "delay",
        "z": "93cb4937.6fc068",
        "name": "d 300ms",
        "pauseType": "delay",
        "timeout": "300",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 2320,
        "y": 640,
        "wires": [
            [
                "f9199a3f.b81058"
            ]
        ]
    },
    {
        "id": "a9221162.52512",
        "type": "telegram command",
        "z": "93cb4937.6fc068",
        "name": "/inicio",
        "command": "/inicio",
        "bot": "f93d1a38.c43218",
        "x": 90,
        "y": 300,
        "wires": [
            [
                "55ebd8f8.436e38"
            ],
            []
        ]
    },
    {
        "id": "92cf1a70.8b3e38",
        "type": "telegram command",
        "z": "93cb4937.6fc068",
        "name": "/suscribirme",
        "command": "/suscribirme",
        "bot": "f93d1a38.c43218",
        "x": 110,
        "y": 240,
        "wires": [
            [
                "a1932f34.2ab98"
            ],
            []
        ]
    },
    {
        "id": "c57b248a.0f3fc8",
        "type": "telegram sender",
        "z": "93cb4937.6fc068",
        "name": "keyb",
        "bot": "f93d1a38.c43218",
        "x": 930,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "f3249bab.90eae8",
        "type": "delay",
        "z": "93cb4937.6fc068",
        "name": "rate",
        "pauseType": "rate",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "3",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "x": 570,
        "y": 800,
        "wires": [
            [
                "7636ac6a.243324"
            ]
        ]
    },
    {
        "id": "a1932f34.2ab98",
        "type": "delay",
        "z": "93cb4937.6fc068",
        "name": "rate",
        "pauseType": "rate",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "3",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "x": 270,
        "y": 240,
        "wires": [
            [
                "be0cbd6.2efaf4"
            ]
        ]
    },
    {
        "id": "98bfcdd0.736cf",
        "type": "delay",
        "z": "93cb4937.6fc068",
        "name": "rate",
        "pauseType": "rate",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "2",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "x": 790,
        "y": 380,
        "wires": [
            [
                "c57b248a.0f3fc8"
            ]
        ]
    },
    {
        "id": "49306cf6.a72494",
        "type": "delay",
        "z": "93cb4937.6fc068",
        "name": "rate",
        "pauseType": "rate",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "x": 570,
        "y": 560,
        "wires": [
            [
                "33879e8b.3151b2"
            ]
        ]
    },
    {
        "id": "c89c411b.79f73",
        "type": "delay",
        "z": "93cb4937.6fc068",
        "name": "rate",
        "pauseType": "rate",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "3",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "x": 890,
        "y": 480,
        "wires": [
            [
                "3ce9c795.c84558"
            ]
        ]
    },
    {
        "id": "d79d8e7b.539c8",
        "type": "delay",
        "z": "2b8628df.fdcca8",
        "name": "rate 20x1m",
        "pauseType": "rate",
        "timeout": "2",
        "timeoutUnits": "seconds",
        "rate": "20",
        "nbRateUnits": "1",
        "rateUnits": "minute",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 2110,
        "y": 400,
        "wires": [
            [
                "4fe5e164.e7dc",
                "a890056b.ebcff8"
            ]
        ]
    },
    {
        "id": "8cffd8ff.5786d8",
        "type": "ui_chart",
        "z": "2b8628df.fdcca8",
        "name": "to dash",
        "group": "601660c.cd104a",
        "order": 1,
        "width": "0",
        "height": "0",
        "label": "Usuarios cercanos",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "x": 1320,
        "y": 140,
        "wires": [
            [
                "ac0b5f28.dea74"
            ],
            []
        ]
    },
    {
        "id": "c7da78e3.f6ea28",
        "type": "function",
        "z": "2b8628df.fdcca8",
        "name": "users near (hangs!)",
        "func": "var newMsg  = {\n    payload: msg.payload.length,\n    label: 'Usuarios en la zona'\n}\nreturn newMsg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 1110,
        "y": 140,
        "wires": [
            [
                "8cffd8ff.5786d8"
            ]
        ]
    },
    {
        "id": "8f83bfc5.cfb9b",
        "type": "function",
        "z": "93cb4937.6fc068",
        "name": "count active",
        "func": "if (Array.isArray(msg.payload)) {\n    var newMsg  = {\n        payload: msg.payload.length,\n        topic: \"Fuegos activos en Europa (VIRR)\"\n    }\n    return newMsg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "x": 1010,
        "y": 280,
        "wires": [
            [
                "44fbc396.81360c"
            ]
        ]
    },
    {
        "id": "a27f7210.58aa1",
        "type": "csv",
        "z": "93cb4937.6fc068",
        "name": "viir count",
        "sep": ",",
        "hdrin": true,
        "hdrout": "",
        "multi": "mult",
        "ret": "\\n",
        "temp": "",
        "x": 840,
        "y": 280,
        "wires": [
            [
                "8f83bfc5.cfb9b"
            ]
        ]
    },
    {
        "id": "3a5ab6ad.0e340a",
        "type": "csv",
        "z": "93cb4937.6fc068",
        "name": "modis count",
        "sep": ",",
        "hdrin": true,
        "hdrout": "",
        "multi": "mult",
        "ret": "\\n",
        "temp": "",
        "x": 850,
        "y": 320,
        "wires": [
            [
                "d8b00aa6.5027f8"
            ]
        ]
    },
    {
        "id": "d8b00aa6.5027f8",
        "type": "function",
        "z": "93cb4937.6fc068",
        "name": "count active",
        "func": "if (Array.isArray(msg.payload)) {\n    var newMsg  = {\n        payload: msg.payload.length,\n        topic: \"Fuegos activos en Europa (MODIS)\"\n    }\n    return newMsg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "x": 1010,
        "y": 320,
        "wires": [
            [
                "44fbc396.81360c"
            ]
        ]
    },
    {
        "id": "44fbc396.81360c",
        "type": "ui_chart",
        "z": "93cb4937.6fc068",
        "name": "to dash",
        "group": "601660c.cd104a",
        "order": 2,
        "width": "0",
        "height": "0",
        "label": "Fuegos activos en Europas según NASA",
        "chartType": "line",
        "legend": "false",
        "xformat": "Y-M-D",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "x": 1220,
        "y": 280,
        "wires": [
            [
                "c4c96710.0c14f8"
            ],
            []
        ]
    },
    {
        "id": "abe7d7fb.2c4708",
        "type": "function",
        "z": "93cb4937.6fc068",
        "name": "inc subs",
        "func": "// var day = context.global.moment.utc().dayOfYear()\n\nvar newMsg = {\n    query : {\n        // day: day,\n        name: \"numsus\"\n    },\n    payload: {\n        $inc: { value: 1 }\n    }\n}\n\nreturn newMsg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 1040,
        "y": 740,
        "wires": [
            [
                "4bd722d5.8df87c"
            ]
        ]
    },
    {
        "id": "4bd722d5.8df87c",
        "type": "mongodb out",
        "z": "93cb4937.6fc068",
        "mongodb": "51a7af07.93444",
        "name": "update stats",
        "collection": "fstats",
        "payonly": false,
        "upsert": true,
        "multi": false,
        "operation": "update",
        "x": 1230,
        "y": 740,
        "wires": []
    },
    {
        "id": "64500fb0.8e131",
        "type": "function",
        "z": "93cb4937.6fc068",
        "name": "in desubs",
        "func": "// var day = context.global.moment.utc().dayOfYear()\n\nvar newMsg = {\n    query : {\n        // day: day,\n        name: \"numdesus\"\n    },\n    payload: {\n        $inc: { value: 1 }\n    }\n}\n\nreturn newMsg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 940,
        "y": 520,
        "wires": [
            [
                "659f7d56.aca1d4"
            ]
        ]
    },
    {
        "id": "659f7d56.aca1d4",
        "type": "mongodb out",
        "z": "93cb4937.6fc068",
        "mongodb": "51a7af07.93444",
        "name": "update stats",
        "collection": "fstats",
        "payonly": false,
        "upsert": true,
        "multi": false,
        "operation": "update",
        "x": 1110,
        "y": 520,
        "wires": []
    },
    {
        "id": "475edba3.768d04",
        "type": "mongodb out",
        "z": "2b8628df.fdcca8",
        "mongodb": "51a7af07.93444",
        "name": "update stats",
        "collection": "fstats",
        "payonly": false,
        "upsert": true,
        "multi": false,
        "operation": "update",
        "x": 2430,
        "y": 360,
        "wires": []
    },
    {
        "id": "a890056b.ebcff8",
        "type": "function",
        "z": "2b8628df.fdcca8",
        "name": "inc subs",
        "func": "// var day = context.global.moment.utc().dayOfYear()\n\nvar newMsg = {\n    query : {\n        // day: day,\n        name: \"sendnotis\"\n    },\n    payload: {\n        $inc: { value: 1 }\n    }\n}\n\nreturn newMsg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 2280,
        "y": 360,
        "wires": [
            [
                "475edba3.768d04"
            ]
        ]
    },
    {
        "id": "c6746cf.d2d809",
        "type": "function",
        "z": "93cb4937.6fc068",
        "name": "all",
        "func": "// empty payload == all\nvar newMsg = {\n    payload: {\n    }}\nreturn newMsg;",
        "outputs": 1,
        "noerr": 0,
        "x": 370,
        "y": 80,
        "wires": [
            [
                "afa80f90.4891d"
            ]
        ]
    },
    {
        "id": "b3f1e61b.568c08",
        "type": "inject",
        "z": "93cb4937.6fc068",
        "name": "delete day notis",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "00 0 * * *",
        "once": false,
        "x": 150,
        "y": 80,
        "wires": [
            [
                "c6746cf.d2d809"
            ]
        ]
    },
    {
        "id": "afa80f90.4891d",
        "type": "mongodb out",
        "z": "93cb4937.6fc068",
        "mongodb": "51a7af07.93444",
        "name": "delete notis",
        "collection": "notifications",
        "payonly": false,
        "upsert": true,
        "multi": true,
        "operation": "delete",
        "x": 530,
        "y": 80,
        "wires": []
    },
    {
        "id": "f71f4cac.9481d",
        "type": "inject",
        "z": "93cb4937.6fc068",
        "name": "update stats",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "1800",
        "crontab": "",
        "once": false,
        "x": 110,
        "y": 1100,
        "wires": [
            [
                "e412e0fb.c0301"
            ]
        ]
    },
    {
        "id": "df770305.a8826",
        "type": "function",
        "z": "93cb4937.6fc068",
        "name": "current susc",
        "func": "msg.payload = {};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 490,
        "y": 1100,
        "wires": [
            [
                "f35da4d0.4efea8",
                "77f46e84.2260f"
            ]
        ]
    },
    {
        "id": "f35da4d0.4efea8",
        "type": "mongodb in",
        "z": "93cb4937.6fc068",
        "mongodb": "51a7af07.93444",
        "name": "count susc",
        "collection": "subscriptions",
        "operation": "count",
        "x": 710,
        "y": 1100,
        "wires": [
            [
                "a4557bc7.dd66a8",
                "ba04416.3b1bbc"
            ]
        ]
    },
    {
        "id": "6a5b9f6.b6d256",
        "type": "function",
        "z": "93cb4937.6fc068",
        "name": "count susc",
        "func": "var newMsg = {\n    payload : {\n        name: \"numsus\"\n    },\n    projection: { \n        value: \n        1\n        \n    }\n};\nreturn newMsg;",
        "outputs": 1,
        "noerr": 0,
        "x": 490,
        "y": 1140,
        "wires": [
            [
                "bfb8ba04.b55468"
            ]
        ]
    },
    {
        "id": "bfb8ba04.b55468",
        "type": "mongodb in",
        "z": "93cb4937.6fc068",
        "mongodb": "51a7af07.93444",
        "name": "find stats",
        "collection": "fstats",
        "operation": "find",
        "x": 700,
        "y": 1140,
        "wires": [
            [
                "d510ac6b.541af"
            ]
        ]
    },
    {
        "id": "d510ac6b.541af",
        "type": "ui_text",
        "z": "93cb4937.6fc068",
        "group": "601660c.cd104a",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "sus",
        "label": "Suscripciones en el tiempo",
        "format": "{{msg.payload[0].value}}",
        "layout": "row-spread",
        "x": 870,
        "y": 1140,
        "wires": []
    },
    {
        "id": "a4557bc7.dd66a8",
        "type": "ui_text",
        "z": "93cb4937.6fc068",
        "group": "601660c.cd104a",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "subs real",
        "label": "Subscripciones actuales",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 880,
        "y": 1100,
        "wires": []
    },
    {
        "id": "b59087e9.b1e7b8",
        "type": "function",
        "z": "93cb4937.6fc068",
        "name": "count susc",
        "func": "var newMsg = {\n    payload : {\n        name: \"numdesus\"\n    },\n    projection: { \n        value: \n        1\n        \n    }\n};\nreturn newMsg;",
        "outputs": 1,
        "noerr": 0,
        "x": 490,
        "y": 1180,
        "wires": [
            [
                "6ed74184.fdc72"
            ]
        ]
    },
    {
        "id": "6ed74184.fdc72",
        "type": "mongodb in",
        "z": "93cb4937.6fc068",
        "mongodb": "51a7af07.93444",
        "name": "find stats",
        "collection": "fstats",
        "operation": "find",
        "x": 700,
        "y": 1180,
        "wires": [
            [
                "c4132465.859b28"
            ]
        ]
    },
    {
        "id": "c4132465.859b28",
        "type": "ui_text",
        "z": "93cb4937.6fc068",
        "group": "601660c.cd104a",
        "order": 6,
        "width": 0,
        "height": 0,
        "name": "desus",
        "label": "Desucripciones",
        "format": "{{msg.payload[0].value}}",
        "layout": "row-spread",
        "x": 870,
        "y": 1180,
        "wires": []
    },
    {
        "id": "bc571a7f.119508",
        "type": "function",
        "z": "93cb4937.6fc068",
        "name": "count notis",
        "func": "var newMsg = {\n    payload : {\n        name: \"sendnotis\"\n    },\n    projection: { \n        value: \n        1\n        \n    }\n};\nreturn newMsg;",
        "outputs": 1,
        "noerr": 0,
        "x": 490,
        "y": 1220,
        "wires": [
            [
                "fefae1e8.b0dba"
            ]
        ]
    },
    {
        "id": "fefae1e8.b0dba",
        "type": "mongodb in",
        "z": "93cb4937.6fc068",
        "mongodb": "51a7af07.93444",
        "name": "find stats",
        "collection": "fstats",
        "operation": "find",
        "x": 700,
        "y": 1220,
        "wires": [
            [
                "88bb2a1d.559188"
            ]
        ]
    },
    {
        "id": "88bb2a1d.559188",
        "type": "ui_text",
        "z": "93cb4937.6fc068",
        "group": "601660c.cd104a",
        "order": 7,
        "width": 0,
        "height": 0,
        "name": "notis",
        "label": "Notificaciones enviadas",
        "format": "{{msg.payload[0].value}}",
        "layout": "row-spread",
        "x": 870,
        "y": 1220,
        "wires": []
    },
    {
        "id": "cbe0e85b.a53018",
        "type": "function",
        "z": "93cb4937.6fc068",
        "name": "112",
        "func": "var t = msg.i18n;\nvar newMsg = {\n    payload: {\n        type: \"message\",\n        content: t('No olvides llamar al 📞112 si no lo has hecho ya para avisar a los servicios de emergencia 🚒'),\n        chatId : msg.payload.chatId\n    }\n};\nreturn newMsg;\n\n",
        "outputs": 1,
        "noerr": 0,
        "x": 570,
        "y": 760,
        "wires": [
            [
                "373aa2ef.0aac9e"
            ]
        ]
    },
    {
        "id": "1292920f.64d29e",
        "type": "delay",
        "z": "93cb4937.6fc068",
        "name": "rate",
        "pauseType": "rate",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "3",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "x": 570,
        "y": 440,
        "wires": [
            [
                "b0289aa8.88a968"
            ]
        ]
    },
    {
        "id": "3d60861f.0f7cea",
        "type": "switch",
        "z": "93cb4937.6fc068",
        "name": "susc o fuego?",
        "property": "locationtopic",
        "propertyType": "global",
        "rules": [
            {
                "t": "eq",
                "v": "sus",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "nuevofuego",
                "vt": "str"
            }
        ],
        "checkall": "false",
        "outputs": 2,
        "x": 1280,
        "y": 640,
        "wires": [
            [
                "cab2f268.5157"
            ],
            [
                "aed10823.c1e808"
            ]
        ]
    },
    {
        "id": "b0289aa8.88a968",
        "type": "delay",
        "z": "93cb4937.6fc068",
        "name": "",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 720,
        "y": 440,
        "wires": [
            [
                "22b64555.dd2e7a"
            ]
        ]
    },
    {
        "id": "9620588a.113218",
        "type": "google geocoding",
        "z": "c644db46.3854c8",
        "name": "Geo Fire",
        "geocodeBy": "address",
        "address": "",
        "lat": "",
        "lon": "",
        "googleAPI": "9f205dc2.bd858",
        "bounds": "",
        "language": "",
        "region": "",
        "components": "",
        "x": 780,
        "y": 320,
        "wires": [
            [
                "6d492c2d.a26024"
            ]
        ]
    },
    {
        "id": "d5052529.791c48",
        "type": "telegram sender",
        "z": "c644db46.3854c8",
        "name": "ask",
        "bot": "f93d1a38.c43218",
        "x": 230,
        "y": 320,
        "wires": [
            [
                "5c52af18.0b854"
            ]
        ]
    },
    {
        "id": "5c52af18.0b854",
        "type": "telegram reply",
        "z": "c644db46.3854c8",
        "name": "get reply",
        "bot": "f93d1a38.c43218",
        "x": 360,
        "y": 320,
        "wires": [
            [
                "4cd4a2cd.e15ecc"
            ]
        ]
    },
    {
        "id": "4230490a.147bf8",
        "type": "function",
        "z": "c644db46.3854c8",
        "name": "write pos",
        "func": "var t = msg.i18n;\nmsg.payload.type = 'message';\nmsg.payload.content = t('Escribir localización del fuego (por ej. tu pueblo, una calle, etc). Si usas un móvil también puedes adjuntar una ubicación pulsando el clip:');\n\nvar opts = {\n  reply_markup: JSON.stringify({\n    force_reply: true,\n  })\n};\n\nmsg.payload.options = opts;\nreturn msg;\n",
        "outputs": "1",
        "noerr": 0,
        "x": 100,
        "y": 320,
        "wires": [
            [
                "d5052529.791c48"
            ]
        ]
    },
    {
        "id": "60ee8a37.032aa4",
        "type": "subflow:c644db46.3854c8",
        "z": "93cb4937.6fc068",
        "name": "",
        "x": 590,
        "y": 600,
        "wires": []
    },
    {
        "id": "b0495fbe.5ecca",
        "type": "function",
        "z": "c6a40c11.dfc6b",
        "name": "volver btn",
        "func": "var t = msg.i18n;\nvar opts = {\n    // reply_to_message_id: msg.payload.messageId,\n    reply_to_message_id : null,\n    reply_markup: JSON.stringify({\n        force_reply: true,\n        keyboard: [ \n            [{text: t(\"⬅️ Volver\")}]\n        ], \n        'resize_keyboard' : true, \n        'one_time_keyboard' : false\n        })\n    };\nmsg.payload.type = \"message\";\nmsg.payload.options = opts;\nreturn [msg];",
        "outputs": 1,
        "noerr": 0,
        "x": 400,
        "y": 120,
        "wires": [
            [
                "5f2a32ba.eaa58c"
            ]
        ]
    },
    {
        "id": "5f2a32ba.eaa58c",
        "type": "telegram sender",
        "z": "c6a40c11.dfc6b",
        "name": "show keyb",
        "bot": "f93d1a38.c43218",
        "x": 650,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "9ac27b91.95fd38",
        "type": "subflow:c6a40c11.dfc6b",
        "z": "93cb4937.6fc068",
        "name": "",
        "x": 930,
        "y": 560,
        "wires": []
    },
    {
        "id": "8e21846c.61c698",
        "type": "function",
        "z": "c644db46.3854c8",
        "name": "ask confirmation",
        "func": "var t = msg.i18n;\n\nvar isUser = msg.payload.chatId > 0;\n\ncontext.global.keyboard = { pending : true };\n\nvar opts = {\n  reply_to_message_id: msg.payload.messageId,\n  reply_markup: JSON.stringify({\n    \"inline_keyboard\": [[\n                {\n                    \"text\": t('Sí'),\n                    \"callback_data\": \"notify_fire\"\n                },\n                {\n                    \"text\": t('No'),\n                    \"callback_data\": \"no_notify_fire\"\n                }]\n            ]\n  })\n};\n\nglobal.set('location', msg);\n\nvar newMsg = {\n    payload : {\n        chatId: msg.payload.chatId,\n        type: 'message',\n        content: t('Vas a notificar a los vecinos cercanos sobre este fuego ¿estás seguro/a?'),\n        options: opts\n    }\n};\n\nif (isUser) {\n  //  msg.payload.content += ' Te solicitaremos tú contacto como medida de seguridad.';\n}\n\nreturn [newMsg, null];",
        "outputs": "1",
        "noerr": 0,
        "x": 1310,
        "y": 220,
        "wires": [
            [
                "ac714246.d3333"
            ]
        ]
    },
    {
        "id": "32f96431.64f9bc",
        "type": "telegram sender",
        "z": "156e20df.86399f",
        "name": "send",
        "bot": "f93d1a38.c43218",
        "x": 530,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "a95a87ec.d0c648",
        "type": "function",
        "z": "156e20df.86399f",
        "name": "send location",
        "func": "var caption = {\n    payload : {\n      chatId : msg.chatId,\n      type : \"message\",\n      content: msg.caption\n    }\n}\n\nvar location = {\n    payload : {\n      chatId : msg.chatId,\n      type : \"location\",\n      content: {\n         longitude: msg.location.lon,\n         latitude: msg.location.lat\n      }\n    }\n}\nreturn [msg, location, caption];",
        "outputs": "3",
        "noerr": 0,
        "x": 320,
        "y": 160,
        "wires": [
            [
                "748b9d33.3e7354"
            ],
            [
                "dac16e62.49529"
            ],
            [
                "32f96431.64f9bc"
            ]
        ],
        "outputLabels": [
            "location",
            "caption",
            ""
        ]
    },
    {
        "id": "771c05f7.78a3ac",
        "type": "function",
        "z": "93cb4937.6fc068",
        "name": "subs caption",
        "func": "var t = msg.i18n;\nmsg.caption = t('Este es el mapa del lugar al que te subscribes');\nmsg.payload.chatId = msg.chatId;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1990,
        "y": 640,
        "wires": [
            [
                "ad6ea913.641818"
            ]
        ]
    },
    {
        "id": "ad6ea913.641818",
        "type": "subflow:156e20df.86399f",
        "z": "93cb4937.6fc068",
        "name": "",
        "x": 2150,
        "y": 640,
        "wires": [
            [
                "48cdccd8.2399a4"
            ]
        ]
    },
    {
        "id": "46ab5b3e.b67004",
        "type": "subflow:156e20df.86399f",
        "z": "c644db46.3854c8",
        "name": "",
        "x": 1090,
        "y": 320,
        "wires": [
            [
                "ad92a3e7.bb743"
            ]
        ]
    },
    {
        "id": "ac714246.d3333",
        "type": "telegram sender",
        "z": "c644db46.3854c8",
        "name": "send",
        "bot": "f93d1a38.c43218",
        "x": 1470,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "6d492c2d.a26024",
        "type": "function",
        "z": "c644db46.3854c8",
        "name": "caption, etc",
        "func": "var t = msg.i18n;\nmsg.caption = t('Este es el mapa del lugar donde crees que hay un fuego');\nmsg.location.text = msg.address;\nmsg.payload.chatId = msg.chatId;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 930,
        "y": 320,
        "wires": [
            [
                "46ab5b3e.b67004"
            ]
        ]
    },
    {
        "id": "f0bdf975.8486e8",
        "type": "telegram command",
        "z": "93cb4937.6fc068",
        "name": "/fuego",
        "command": "/fuego",
        "bot": "f93d1a38.c43218",
        "x": 90,
        "y": 900,
        "wires": [
            [
                "1292920f.64d29e"
            ],
            []
        ]
    },
    {
        "id": "dac16e62.49529",
        "type": "delay",
        "z": "156e20df.86399f",
        "name": "d 300ms",
        "pauseType": "delay",
        "timeout": "300",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 540,
        "y": 200,
        "wires": [
            [
                "b1629107.5c873"
            ]
        ]
    },
    {
        "id": "b1629107.5c873",
        "type": "telegram sender",
        "z": "156e20df.86399f",
        "name": "send",
        "bot": "f93d1a38.c43218",
        "x": 670,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "748b9d33.3e7354",
        "type": "delay",
        "z": "156e20df.86399f",
        "name": "",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 620,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "74146dac.0d0704",
        "type": "delay",
        "z": "93cb4937.6fc068",
        "name": "d 300ms",
        "pauseType": "delay",
        "timeout": "300",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 1240,
        "y": 860,
        "wires": [
            [
                "fbac8488.5194a8",
                "33cd0275.71172e"
            ]
        ]
    },
    {
        "id": "4a109a88.7389a4",
        "type": "function",
        "z": "9968fcc5.ed33c",
        "name": "menú distancia",
        "func": "var t = msg.i18n;\ncontext.global.keyboard = { pending : true };\n\n// if (msg.payload.type == 'message') {\nvar opts = {\n  // reply_to_message_id: msg.payload.messageId,\n  reply_markup: JSON.stringify({\n    force_reply: true,\n    keyboard: [ \n        [{text: t('a 5 km')}, {text: t('a 10 km')}],\n        [{text: t('a 20 km')}, {text: t('a 40 km')} ],\n        [{text: t('a 100 km')}, {text: t('⬅️ Cancelar')} ]],\n      'resize_keyboard' : true, \n      'one_time_keyboard' : true\n  })\n};\n\nmsg.payload.type = 'message';\nmsg.payload.content = t('¿A que distancia a la redonda quieres recibir notificaciones?');\nmsg.payload.options = opts;\n\nreturn msg;\n//}\n",
        "outputs": "1",
        "noerr": 0,
        "x": 360,
        "y": 120,
        "wires": [
            [
                "c4cc6a46.5d2af8"
            ]
        ]
    },
    {
        "id": "c4cc6a46.5d2af8",
        "type": "telegram sender",
        "z": "9968fcc5.ed33c",
        "name": "show keyb",
        "bot": "f93d1a38.c43218",
        "x": 570,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "f9199a3f.b81058",
        "type": "subflow:9968fcc5.ed33c",
        "z": "93cb4937.6fc068",
        "name": "",
        "x": 2520,
        "y": 640,
        "wires": []
    },
    {
        "id": "19b16d50.b6eed3",
        "type": "telegram command",
        "z": "93cb4937.6fc068",
        "name": "/distancia",
        "command": "/distancia",
        "bot": "f93d1a38.c43218",
        "x": 80,
        "y": 1460,
        "wires": [
            [
                "192c6f7a.054a91"
            ],
            []
        ]
    },
    {
        "id": "192c6f7a.054a91",
        "type": "delay",
        "z": "93cb4937.6fc068",
        "name": "rate",
        "pauseType": "rate",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "3",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "x": 270,
        "y": 1460,
        "wires": [
            [
                "7d6a8c23.8b1694"
            ]
        ]
    },
    {
        "id": "7d6a8c23.8b1694",
        "type": "subflow:9968fcc5.ed33c",
        "z": "93cb4937.6fc068",
        "name": "",
        "x": 480,
        "y": 1460,
        "wires": []
    },
    {
        "id": "539a53d4.268c7c",
        "type": "subflow:9968fcc5.ed33c",
        "z": "93cb4937.6fc068",
        "name": "",
        "x": 600,
        "y": 860,
        "wires": []
    },
    {
        "id": "7828fbe3.e03084",
        "type": "ui_text",
        "z": "93cb4937.6fc068",
        "group": "601660c.cd104a",
        "order": 8,
        "width": 0,
        "height": 0,
        "name": "avisos",
        "label": "Avisos recibidos",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 870,
        "y": 1260,
        "wires": []
    },
    {
        "id": "6c8eed1.c193f14",
        "type": "function",
        "z": "93cb4937.6fc068",
        "name": "count all",
        "func": "msg.payload = {};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 480,
        "y": 1260,
        "wires": [
            [
                "5cf05a49.4afdd4"
            ]
        ]
    },
    {
        "id": "5cf05a49.4afdd4",
        "type": "mongodb in",
        "z": "93cb4937.6fc068",
        "mongodb": "51a7af07.93444",
        "name": "count fuegos",
        "collection": "avisosfuego",
        "operation": "count",
        "x": 710,
        "y": 1260,
        "wires": [
            [
                "7828fbe3.e03084"
            ]
        ]
    },
    {
        "id": "3bff2447.c4441c",
        "type": "ui_chart",
        "z": "93cb4937.6fc068",
        "name": "to dash",
        "group": "601660c.cd104a",
        "order": 3,
        "width": "0",
        "height": "0",
        "label": "Avisos diarios",
        "chartType": "line",
        "legend": "false",
        "xformat": "Y-M-D",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "x": 880,
        "y": 1300,
        "wires": [
            [
                "cd1388d0.3f8418"
            ],
            []
        ]
    },
    {
        "id": "4461acb0.5f2df4",
        "type": "function",
        "z": "93cb4937.6fc068",
        "name": "alertas hoy",
        "func": "var today = context.global.moment(new Date()).format('YYYYMMDD');\nmsg.payload = {\n    dateformat: today\n};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 490,
        "y": 1300,
        "wires": [
            [
                "1f09ffa2.dbce4",
                "39f00c4b.5f7974"
            ]
        ]
    },
    {
        "id": "1f09ffa2.dbce4",
        "type": "mongodb in",
        "z": "93cb4937.6fc068",
        "mongodb": "51a7af07.93444",
        "name": "count fuegos",
        "collection": "avisosfuego",
        "operation": "count",
        "x": 710,
        "y": 1300,
        "wires": [
            [
                "3bff2447.c4441c"
            ]
        ]
    },
    {
        "id": "d6336a1e.3ad888",
        "type": "subflow:c644db46.3854c8",
        "z": "93cb4937.6fc068",
        "name": "",
        "x": 1780,
        "y": 680,
        "wires": []
    },
    {
        "id": "47d2afc3.7fb6b",
        "type": "counter",
        "z": "93cb4937.6fc068",
        "name": "",
        "init": "0",
        "step": "1",
        "lower": null,
        "upper": null,
        "mode": "increment",
        "outputs": "2",
        "x": 1520,
        "y": 380,
        "wires": [
            [
                "62ade476.c012ec"
            ],
            [
                "62ade476.c012ec"
            ]
        ]
    },
    {
        "id": "cf2a8b1d.e1edc8",
        "type": "inject",
        "z": "93cb4937.6fc068",
        "name": "reset",
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 1250,
        "y": 380,
        "wires": [
            [
                "f70d8032.1481d"
            ]
        ]
    },
    {
        "id": "f70d8032.1481d",
        "type": "function",
        "z": "93cb4937.6fc068",
        "name": "reset",
        "func": "msg.reset = true;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1390,
        "y": 380,
        "wires": [
            [
                "47d2afc3.7fb6b"
            ]
        ]
    },
    {
        "id": "5eea2f81.66eb7",
        "type": "debug",
        "z": "9968fcc5.ed33c",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 570,
        "y": 180,
        "wires": []
    },
    {
        "id": "48b0356c.7fd7ac",
        "type": "debug",
        "z": "156e20df.86399f",
        "name": "all sendloc",
        "active": true,
        "console": "false",
        "complete": "true",
        "x": 310,
        "y": 220,
        "wires": []
    },
    {
        "id": "862cd972.e97388",
        "type": "telegram receiver",
        "z": "93cb4937.6fc068",
        "name": "rec",
        "bot": "f93d1a38.c43218",
        "saveDataDir": "",
        "x": 950,
        "y": 640,
        "wires": [
            [
                "349ef6f8.98e88a"
            ],
            []
        ]
    },
    {
        "id": "f0552abc.9ccb78",
        "type": "function",
        "z": "76bd701f.29d0f",
        "name": "query sub",
        "func": "msg.chatId = msg.payload.chatId;\nmsg.payload = {\"chatId\": msg.payload.chatId };\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 590,
        "y": 100,
        "wires": [
            [
                "9a2aeae1.fa4bf8"
            ]
        ]
    },
    {
        "id": "9a2aeae1.fa4bf8",
        "type": "mongodb in",
        "z": "76bd701f.29d0f",
        "mongodb": "51a7af07.93444",
        "name": "find sub",
        "collection": "subscriptions",
        "operation": "find",
        "x": 800,
        "y": 100,
        "wires": [
            [
                "875a7c37.8bb0a",
                "782fbdaf.bd36f4"
            ]
        ]
    },
    {
        "id": "875a7c37.8bb0a",
        "type": "function",
        "z": "76bd701f.29d0f",
        "name": "start menu",
        "func": "context.global.keyboard = { pending : true };\n\nvar t = msg.i18n;\n\n// https://apps.timwhitlock.info/emoji/tables/unicode\n\nif (msg.payload.length === 0) {\n    // Ya suscrito\n    var opts = {\n        // reply_to_message_id: msg.payload.messageId,\n        reply_markup:\n        JSON.stringify(\n            {\n                keyboard: [ \n                    [{text: t('📣 Suscribirme a fuegos en mi zona')}],\n                    [{text: t('🔥 Notificar un fuego nuevo')} ], \n                    [{text: t('♥ Apoya esta iniciativa')}, {text: t('📖 Más info')}, ] ],\n                'resize_keyboard' : true, \n                // 'one_time_keyboard' : true\n            })\n    };\n} else {\n    var opts = {\n        // reply_to_message_id: msg.payload.messageId,\n        reply_markup:\n        JSON.stringify(\n            {\n                keyboard: [ \n                    [{text: t('📣 Suscrito a nuevos fuegos')}],\n                    [{text: t('Desuscribirme')}, {text: t('🔥 Notificar un fuego nuevo')} ], \n                    [{text: t('♥ Apoya esta iniciativa')}, {text: t('📖 Más info')}, ] ],\n                'resize_keyboard' : true, \n                // 'one_time_keyboard' : true\n            })\n    };\n}\n\nmsg.payload.content = t('Elige una de las opciones:');\nmsg.payload.chatId = msg.chatId;\nmsg.payload.type = \"message\";\nopts.disable_notification = true;\nmsg.payload.options = opts;\n\nreturn [ msg ];",
        "outputs": "1",
        "noerr": 0,
        "x": 990,
        "y": 100,
        "wires": [
            [
                "12a4adcb.c93232"
            ]
        ]
    },
    {
        "id": "12a4adcb.c93232",
        "type": "telegram sender",
        "z": "76bd701f.29d0f",
        "name": "keyb",
        "bot": "f93d1a38.c43218",
        "x": 1190,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "55ebd8f8.436e38",
        "type": "subflow:76bd701f.29d0f",
        "z": "93cb4937.6fc068",
        "name": "",
        "x": 570,
        "y": 300,
        "wires": []
    },
    {
        "id": "bf50334e.7ac3a",
        "type": "subflow:76bd701f.29d0f",
        "z": "465e67f.6ebf598",
        "name": "",
        "x": 350,
        "y": 40,
        "wires": []
    },
    {
        "id": "596d56e2.54f5e8",
        "type": "delay",
        "z": "76bd701f.29d0f",
        "name": "start r",
        "pauseType": "rate",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "3",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "x": 190,
        "y": 100,
        "wires": [
            [
                "b3331045.d30b3"
            ]
        ]
    },
    {
        "id": "730cf241.49734c",
        "type": "switch",
        "z": "c644db46.3854c8",
        "name": "",
        "property": "payload.type",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "location",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "outputs": 2,
        "x": 150,
        "y": 120,
        "wires": [
            [
                "ad92a3e7.bb743"
            ],
            [
                "4230490a.147bf8"
            ]
        ],
        "outputLabels": [
            "location",
            "message"
        ]
    },
    {
        "id": "cab2f268.5157",
        "type": "function",
        "z": "93cb4937.6fc068",
        "name": "reset g.loc",
        "func": "global.set('locationtopic', null);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1470,
        "y": 600,
        "wires": [
            [
                "10eb3fd5.6d416",
                "1e112e4e.062b82"
            ]
        ]
    },
    {
        "id": "aed10823.c1e808",
        "type": "function",
        "z": "93cb4937.6fc068",
        "name": "reset g.loc",
        "func": "global.set('locationtopic', null);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1470,
        "y": 680,
        "wires": [
            [
                "d982859c.d8dea8",
                "9c0ff2b9.ff7bc"
            ]
        ]
    },
    {
        "id": "349ef6f8.98e88a",
        "type": "function",
        "z": "93cb4937.6fc068",
        "name": "is loc",
        "func": "if (msg.payload.type === 'location' && \n    typeof msg.geo === 'undefined') {\n    // node.log(\"Location received\");  \n    return msg;\n} else {\n    return null;\n}",
        "outputs": 1,
        "noerr": 0,
        "x": 1090,
        "y": 640,
        "wires": [
            [
                "69a62d00.26b314"
            ]
        ]
    },
    {
        "id": "1e112e4e.062b82",
        "type": "debug",
        "z": "93cb4937.6fc068",
        "name": "payl",
        "active": false,
        "console": "false",
        "complete": "payload",
        "x": 1570,
        "y": 640,
        "wires": []
    },
    {
        "id": "5b42be73.7ac18",
        "type": "debug",
        "z": "93cb4937.6fc068",
        "name": "loc-lang",
        "active": false,
        "console": "false",
        "complete": "true",
        "x": 1260,
        "y": 580,
        "wires": []
    },
    {
        "id": "52271fef.7036",
        "type": "debug",
        "z": "93cb4937.6fc068",
        "name": "all",
        "active": false,
        "console": "false",
        "complete": "true",
        "x": 1730,
        "y": 540,
        "wires": []
    },
    {
        "id": "baa17b12.6767a8",
        "type": "subflow:465e67f.6ebf598",
        "z": "93cb4937.6fc068",
        "name": "",
        "x": 1230,
        "y": 700,
        "wires": []
    },
    {
        "id": "fbac8488.5194a8",
        "type": "subflow:465e67f.6ebf598",
        "z": "93cb4937.6fc068",
        "name": "",
        "x": 1410,
        "y": 800,
        "wires": []
    },
    {
        "id": "dd53d5e0.fdd0b8",
        "type": "debug",
        "z": "c644db46.3854c8",
        "name": "near?",
        "active": true,
        "console": "false",
        "complete": "true",
        "x": 530,
        "y": 20,
        "wires": []
    },
    {
        "id": "ad92a3e7.bb743",
        "type": "function",
        "z": "c644db46.3854c8",
        "name": "near today?",
        "func": "var date = new Date();\nvar formated = context.global.moment(date).format('YYYYMMDD');\nmsg.originalMessage = msg.payload;\nmsg.originalLocation = msg.location;\nvar lon = msg.location.lon;\nvar lat = msg.location.lat;\n\nmsg.payload = {\n    geo:\n       { $near : {\n            $geometry: { \n                type: \"Point\",  \n                coordinates: [lon, lat]\n            },\n            $minDistance: 0,\n            $maxDistance: 1000\n          }\n       },\n    dateformat: formated\n   }\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 390,
        "y": 60,
        "wires": [
            [
                "a05c3c94.f331f"
            ]
        ]
    },
    {
        "id": "a05c3c94.f331f",
        "type": "mongodb in",
        "z": "c644db46.3854c8",
        "mongodb": "51a7af07.93444",
        "name": "find",
        "collection": "avisosfuego",
        "operation": "find",
        "x": 550,
        "y": 60,
        "wires": [
            [
                "af778312.fcd62"
            ]
        ]
    },
    {
        "id": "19f3b34b.f8ebcd",
        "type": "function",
        "z": "c644db46.3854c8",
        "name": "send Orig",
        "func": "var newMsg = {\n    payload: msg.originalMessage,\n    location: msg.originalLocation,\n    i18n: msg.i18n,\n};\nreturn newMsg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1140,
        "y": 220,
        "wires": [
            [
                "8e21846c.61c698"
            ]
        ]
    },
    {
        "id": "af778312.fcd62",
        "type": "switch",
        "z": "c644db46.3854c8",
        "name": "already",
        "property": "payload.length",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gt",
                "v": "0",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "outputs": 2,
        "x": 680,
        "y": 60,
        "wires": [
            [
                "91cf9b3e.1b8b78"
            ],
            [
                "73053858.f6f538"
            ]
        ]
    },
    {
        "id": "91cf9b3e.1b8b78",
        "type": "function",
        "z": "c644db46.3854c8",
        "name": "already notif",
        "func": "var t = msg.i18n;\nnode.log(\"i18n: \" + typeof t);\nvar newMsg = {\n    payload: {\n        type: \"message\",\n        chatId: msg.originalMessage.chatId,\n        content: t('Este fuego o uno muy cercano ya ha sido notificado por otra persona anteriormente. ¡Gracias!')\n    },\n    i18n: t\n};\nreturn newMsg;",
        "outputs": 1,
        "noerr": 0,
        "x": 850,
        "y": 60,
        "wires": [
            [
                "9c7b7220.fab4c"
            ]
        ]
    },
    {
        "id": "9c7b7220.fab4c",
        "type": "subflow:c6a40c11.dfc6b",
        "z": "c644db46.3854c8",
        "x": 1170,
        "y": 60,
        "wires": []
    },
    {
        "id": "73053858.f6f538",
        "type": "function",
        "z": "c644db46.3854c8",
        "name": "today limits?",
        "func": "var date = new Date();\nvar formated = context.global.moment(date).format('YYYYMMDD');\n/*msg.originalMessage = msg.payload;\nmsg.originalLocation = msg.location;*/\nmsg.payload = {\n    chatId: msg.payload.chatId,\n    dateformat: formated\n   }\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 690,
        "y": 120,
        "wires": [
            [
                "3083c74e.b35258"
            ]
        ]
    },
    {
        "id": "3083c74e.b35258",
        "type": "mongodb in",
        "z": "c644db46.3854c8",
        "mongodb": "51a7af07.93444",
        "name": "find",
        "collection": "avisosfuego",
        "operation": "find",
        "x": 830,
        "y": 120,
        "wires": [
            [
                "a227a0dc.c36ca"
            ]
        ]
    },
    {
        "id": "a227a0dc.c36ca",
        "type": "switch",
        "z": "c644db46.3854c8",
        "name": "already",
        "property": "payload.length",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gt",
                "v": "0",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "outputs": 2,
        "x": 960,
        "y": 120,
        "wires": [
            [
                "d9561c77.e3ca9"
            ],
            [
                "19f3b34b.f8ebcd"
            ]
        ]
    },
    {
        "id": "acfaa5f4.f3b898",
        "type": "function",
        "z": "c644db46.3854c8",
        "name": "limits notif",
        "func": "var t = msg.i18n;\n\nvar newMsg = {\n    payload: {\n        type: \"message\",\n        chatId: msg.originalMessage.chatId,\n        content: t('Ya habías notificado un fuego hoy. Si por algún motivo necesitas reportar más de un fuego al día, ponte en contacto con nosotros: info@comunes.org ¡Gracias!')\n    },\n    i18n: t\n}\nreturn newMsg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1300,
        "y": 140,
        "wires": [
            [
                "873d85b7.cdd238"
            ]
        ]
    },
    {
        "id": "873d85b7.cdd238",
        "type": "subflow:c6a40c11.dfc6b",
        "z": "c644db46.3854c8",
        "x": 1450,
        "y": 140,
        "wires": []
    },
    {
        "id": "d9561c77.e3ca9",
        "type": "switch",
        "z": "c644db46.3854c8",
        "name": "admin?",
        "property": "originalMessage.chatId",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "4885772",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "outputs": 2,
        "x": 1140,
        "y": 120,
        "wires": [
            [
                "19f3b34b.f8ebcd"
            ],
            [
                "acfaa5f4.f3b898"
            ]
        ]
    },
    {
        "id": "e1100c9f.a5d3a",
        "type": "subflow:2b8628df.fdcca8",
        "z": "93cb4937.6fc068",
        "name": "",
        "x": 1190,
        "y": 220,
        "wires": []
    },
    {
        "id": "9ef9c4c5.a68d08",
        "type": "function",
        "z": "93cb4937.6fc068",
        "name": "args",
        "func": "var newMsg = {\n    type: \"nasa\",\n    lon: msg.payload.longitude,\n    lat: msg.payload.latitude\n}\nreturn newMsg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1010,
        "y": 220,
        "wires": [
            [
                "e1100c9f.a5d3a"
            ]
        ]
    },
    {
        "id": "d982859c.d8dea8",
        "type": "function",
        "z": "93cb4937.6fc068",
        "name": "args",
        "func": "var newMsg = {\n    payload: {\n        type: \"location\",\n        chatId: msg.payload.chatId\n    },\n    location: {\n        lon: msg.payload.content.longitude,\n        lat: msg.payload.content.latitude,\n        text: \"\"\n    },\n    i18n: msg.i18n\n};\nreturn newMsg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1630,
        "y": 680,
        "wires": [
            [
                "d6336a1e.3ad888",
                "9c0ff2b9.ff7bc"
            ]
        ]
    },
    {
        "id": "9c0ff2b9.ff7bc",
        "type": "debug",
        "z": "93cb4937.6fc068",
        "name": "all",
        "active": false,
        "console": "false",
        "complete": "true",
        "x": 1750,
        "y": 740,
        "wires": []
    },
    {
        "id": "8facbcf3.bbd35",
        "type": "debug",
        "z": "4a3c7cc0.965dd4",
        "name": "all",
        "active": true,
        "console": false,
        "complete": "true",
        "x": 750,
        "y": 160,
        "wires": []
    },
    {
        "id": "9ad7b6d1.a6e748",
        "type": "subflow:4a3c7cc0.965dd4",
        "z": "93cb4937.6fc068",
        "name": "",
        "x": 1250,
        "y": 180,
        "wires": []
    },
    {
        "id": "ef152257.faf05",
        "type": "comment",
        "z": "4a3c7cc0.965dd4",
        "name": "payload: name, lat, lon, layer, ..., icon, iconColor, photoUrl, deleted",
        "info": "layer, speed, bearing, accuracy, icon, iconColor, photoUrl, deleted",
        "x": 1240,
        "y": 180,
        "wires": []
    },
    {
        "id": "7a257dc0.bf8594",
        "type": "subflow:4a3c7cc0.965dd4",
        "z": "d29a1c6a.5a89e",
        "name": "",
        "x": 350,
        "y": 100,
        "wires": []
    },
    {
        "id": "cd1388d0.3f8418",
        "type": "persist in",
        "z": "93cb4937.6fc068",
        "name": "dayly-file-alerts",
        "storageNode": "103d89d5.f04ab6",
        "x": 1060,
        "y": 1300,
        "wires": []
    },
    {
        "id": "be491f6d.7c5b4",
        "type": "persist out",
        "z": "93cb4937.6fc068",
        "name": "dayly-file-alerts",
        "storageNode": "103d89d5.f04ab6",
        "x": 900,
        "y": 1340,
        "wires": [
            [
                "3bff2447.c4441c"
            ]
        ]
    },
    {
        "id": "c4c96710.0c14f8",
        "type": "persist in",
        "z": "93cb4937.6fc068",
        "name": "nasa-fire-active",
        "storageNode": "2c23f46.8edd30c",
        "x": 1400,
        "y": 280,
        "wires": []
    },
    {
        "id": "b3460bb5.6fb918",
        "type": "persist out",
        "z": "93cb4937.6fc068",
        "name": "nasa-fire-active",
        "storageNode": "2c23f46.8edd30c",
        "x": 1240,
        "y": 320,
        "wires": [
            [
                "44fbc396.81360c"
            ]
        ]
    },
    {
        "id": "39f00c4b.5f7974",
        "type": "mongodb in",
        "z": "93cb4937.6fc068",
        "mongodb": "51a7af07.93444",
        "name": "find fuegos",
        "collection": "avisosfuego",
        "operation": "find",
        "x": 710,
        "y": 1380,
        "wires": [
            [
                "13c7c7d2.416a58"
            ]
        ]
    },
    {
        "id": "6187e791.e5f488",
        "type": "function",
        "z": "d29a1c6a.5a89e",
        "name": "neigh - args",
        "func": "// https://earthdata.nasa.gov/what-is-new-collection-6-modis-active-fire-data\nvar point = msg.location? msg: msg.payload;\n\nvar lat = point.location.lat;\nvar lon = point.location.lon;\nvar pname = \"\" + lat + \"/\" + lon;\npname += \"/\" + point.chatId? \"neighbourhood\" : \"neigh-alert/\" + point.dateformat;\n\n// https://github.com/dceejay/RedMap/issues/29\n// A kind of \"update\" (del & add)\nvar delMsg = {\n    payload: {\n        name: pname,\n        lat: lat,\n        lon: lon,\n        layer: point.chatId? \"Neighbourhood\": \"Neighbourhood alerts\",\n        deleted: true\n    }\n}\nnode.send(delMsg);\n\nvar addMsg = {\n    payload: {\n        name: pname,\n        lat: lat,\n        lon: lon,\n        layer: point.chatId? \"Neighbourhood\": \"Neighbourhood alerts\",\n        icon: point.chatId? \"fa-user\": \"fa-fire\",\n        iconColor: point.chatId? \"green\": \"red\",\n        addtoheatmap: false, // only rest to the heatmap\n        // radius: point.distance? point.distance * 1000: null,\n        // color: \"red\",\n        // fillColor: \"red\",\n        // intensity: intensity,\n        // weight: intensity,\n        // radius: 10000, // radius,\n        // fillOpacity: 1,\n        // weblink only with markers\n        // weblink: \"http://example.com\"\n        // photoUrl: \"http://loremflickr.com/320/240/wildfire\"\n    }\n};\n\nif (point.distance) {\n    var radiusDel = {\n        payload: {\n            name: pname,\n            lat: lat,\n            lon: lon,\n            layer: \"Neighbourhood area\",\n            deleted: true\n        }\n    }\n    node.send(radiusDel);\n    \n    var radius = {\n        payload: {\n            name: pname,\n            lat: lat,\n            lon: lon,\n            layer: \"Neighbourhood area\",\n            // icon:  \"hostile\",\n            // nColor: \"green\",\n            addtoheatmap: false,\n            radius: point.distance * 1000,\n            color: \"#145A32\",\n            fillColor: \"green\",\n            // intensity: intensity,\n            // weight: intensity,\n            fillOpacity: .1,\n            // weblink: \"http://example.com\"\n            // photoUrl: \"http://loremflickr.com/320/240/wildfire\"\n        }\n    }\n    node.send(radius);\n}\n\nreturn addMsg;",
        "outputs": 1,
        "noerr": 0,
        "x": 190,
        "y": 100,
        "wires": [
            [
                "7a257dc0.bf8594"
            ]
        ]
    },
    {
        "id": "56fafc54.228824",
        "type": "function",
        "z": "93cb4937.6fc068",
        "name": "nasa-map",
        "func": "// https://earthdata.nasa.gov/what-is-new-collection-6-modis-active-fire-data\nvar lat = msg.payload.latitude;\nvar lon = msg.payload.longitude;\nvar pname = \"Fuego activo según NASA: \" + lat + \", \" + lon;\npname += \", satelite: \" + msg.payload.satellite;\nvar maxkevin = 373;\nvar intensity =\n    (msg.payload.bright_ti4? msg.payload.bright_ti4: \n    (msg.payload.brightness? msg.payload.brightness: maxkevin)) / maxkevin;\nvar radius = msg.payload.scan * 1000;\n\nvar newMsg = {\n    payload: {\n        name: pname,\n        lat: lat,\n        lon: lon,\n        layer: \"NASA\",\n        // icon: \"earthquake\",\n        color: \"red\",\n        fillColor: \"red\",\n        // intensity: intensity,\n        // weight: intensity,\n        radius: radius,\n        fillOpacity: 1,\n        iconColor:'red', // obligatorio\n        stroke: false,\n        addtoheatmap: false,\n        // fillOpacity: 0.8,\n        clickable: true,\n        weblink: {url: \"http://example.com\", name: \"Más info\"}\n        \n        // photoUrl: \"http://loremflickr.com/320/240/wildfire\"\n    }\n};\n\nreturn newMsg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1020,
        "y": 180,
        "wires": [
            [
                "9ad7b6d1.a6e748"
            ]
        ]
    },
    {
        "id": "ac0b5f28.dea74",
        "type": "persist in",
        "z": "2b8628df.fdcca8",
        "name": "near-neighbours",
        "storageNode": "db913a18.f8bf88",
        "x": 1520,
        "y": 140,
        "wires": []
    },
    {
        "id": "ce1799a1.35d408",
        "type": "persist out",
        "z": "2b8628df.fdcca8",
        "name": "near-neighbours",
        "storageNode": "db913a18.f8bf88",
        "x": 1110,
        "y": 100,
        "wires": [
            [
                "8cffd8ff.5786d8"
            ]
        ]
    },
    {
        "id": "daa4db99.b70ba8",
        "type": "subflow:d29a1c6a.5a89e",
        "z": "93cb4937.6fc068",
        "name": "",
        "x": 1060,
        "y": 1380,
        "wires": []
    },
    {
        "id": "13c7c7d2.416a58",
        "type": "split",
        "z": "93cb4937.6fc068",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 870,
        "y": 1380,
        "wires": [
            [
                "daa4db99.b70ba8"
            ]
        ]
    },
    {
        "id": "77f46e84.2260f",
        "type": "mongodb in",
        "z": "93cb4937.6fc068",
        "mongodb": "51a7af07.93444",
        "name": "find susc",
        "collection": "subscriptions",
        "operation": "find",
        "x": 700,
        "y": 1060,
        "wires": [
            [
                "c3d36a6d.6a20e8"
            ]
        ]
    },
    {
        "id": "c3d36a6d.6a20e8",
        "type": "split",
        "z": "93cb4937.6fc068",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 870,
        "y": 1060,
        "wires": [
            [
                "d54d18e1.75e718"
            ]
        ]
    },
    {
        "id": "d54d18e1.75e718",
        "type": "subflow:d29a1c6a.5a89e",
        "z": "93cb4937.6fc068",
        "name": "",
        "x": 1060,
        "y": 1060,
        "wires": []
    },
    {
        "id": "cf23a5a.9eacd58",
        "type": "worldmap",
        "z": "4a3c7cc0.965dd4",
        "name": "",
        "lat": " 40.4",
        "lon": "-3.6833333",
        "zoom": "6",
        "layer": "OSM grey",
        "cluster": "0",
        "maxage": "20000",
        "usermenu": "hide",
        "layers": "show",
        "x": 1070,
        "y": 220,
        "wires": []
    },
    {
        "id": "570aa929.8d2508",
        "type": "inject",
        "z": "4a3c7cc0.965dd4",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "none",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 190,
        "y": 280,
        "wires": [
            [
                "98d0a495.055168"
            ]
        ]
    },
    {
        "id": "98d0a495.055168",
        "type": "function",
        "z": "4a3c7cc0.965dd4",
        "name": "add new layer",
        "func": "msg.payload = {};\nmsg.payload.command = {};\n\nvar u = 'http://{s}.tile.openstreetmap.fr/hot/{z}/{x}/{y}.png';\nvar o = JSON.stringify({ maxZoom: 19, attribution: '&copy; OpenStreetMap'});\n\nmsg.payload.command.map = {name:\"OSMhot\", url:u, opt:o};\nmsg.payload.command.layer = \"OSMhot\";\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 420,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "7df4137c.51713c",
        "type": "function",
        "z": "4a3c7cc0.965dd4",
        "name": "USGS Quake monitor csv re-parse",
        "func": "msg.payload.lat = msg.payload.latitude;\nmsg.payload.lon = msg.payload.longitude;\nmsg.payload.layer = \"earthquake\";\nmsg.payload.name = msg.payload.id;\nmsg.payload.icon = \"globe\";\nmsg.payload.iconColor = \"orange\";\n\ndelete msg.payload.latitude;\ndelete msg.payload.longitude;\t\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 800,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "4fb53dc.021f2c4",
        "type": "csv",
        "z": "4a3c7cc0.965dd4",
        "name": "",
        "sep": ",",
        "hdrin": true,
        "hdrout": "",
        "multi": "one",
        "ret": "\\n",
        "temp": "",
        "x": 550,
        "y": 320,
        "wires": [
            [
                "7df4137c.51713c"
            ]
        ]
    },
    {
        "id": "a0fb9394.24d9",
        "type": "http request",
        "z": "4a3c7cc0.965dd4",
        "name": "",
        "method": "GET",
        "url": "http://earthquake.usgs.gov/earthquakes/feed/v1.0/summary/2.5_day.csv",
        "x": 390,
        "y": 320,
        "wires": [
            [
                "4fb53dc.021f2c4"
            ]
        ]
    },
    {
        "id": "a88534bc.bbd598",
        "type": "inject",
        "z": "4a3c7cc0.965dd4",
        "name": "Quakes",
        "topic": "",
        "payload": "",
        "payloadType": "none",
        "repeat": "900",
        "crontab": "",
        "once": false,
        "x": 200,
        "y": 320,
        "wires": [
            [
                "a0fb9394.24d9"
            ]
        ]
    },
    {
        "id": "c0867d8e.a5999",
        "type": "function",
        "z": "93cb4937.6fc068",
        "name": "conf map",
        "func": "/* Only for tests */\nvar cfg = {};\ncfg.payload = {};\ncfg.payload.command = {\n    cluster:0,\n    layer:\"OSM grey\",\n    lat:40.4,\n    lon:-3.6833333,\n    zoom:6,\n};   \nreturn [cfg];",
        "outputs": 1,
        "noerr": 0,
        "x": 1060,
        "y": 80,
        "wires": [
            [
                "9ad7b6d1.a6e748"
            ]
        ]
    },
    {
        "id": "3534f560.645aea",
        "type": "inject",
        "z": "93cb4937.6fc068",
        "name": "onInit",
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": true,
        "x": 890,
        "y": 140,
        "wires": [
            [
                "c0867d8e.a5999",
                "f2c9762e.6c90a8"
            ]
        ]
    },
    {
        "id": "25c52409.dd295c",
        "type": "subflow:d29a1c6a.5a89e",
        "z": "93cb4937.6fc068",
        "name": "",
        "x": 2010,
        "y": 540,
        "wires": []
    },
    {
        "id": "251e2d7f.4e64c2",
        "type": "debug",
        "z": "d29a1c6a.5a89e",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "true",
        "x": 170,
        "y": 140,
        "wires": []
    },
    {
        "id": "ba04416.3b1bbc",
        "type": "ui_chart",
        "z": "93cb4937.6fc068",
        "name": "to dash",
        "group": "601660c.cd104a",
        "order": 2,
        "width": "0",
        "height": "0",
        "label": "Suscripciones",
        "chartType": "line",
        "legend": "false",
        "xformat": "Y-M-D",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "x": 1040,
        "y": 1100,
        "wires": [
            [
                "976cab1d.ec9f38"
            ],
            []
        ]
    },
    {
        "id": "169d1b28.74fda5",
        "type": "persist out",
        "z": "93cb4937.6fc068",
        "name": "suscriptions-in-time",
        "storageNode": "cb34ee3.be2b31",
        "x": 1070,
        "y": 1140,
        "wires": [
            [
                "ba04416.3b1bbc"
            ]
        ]
    },
    {
        "id": "976cab1d.ec9f38",
        "type": "persist in",
        "z": "93cb4937.6fc068",
        "name": "suscriptions-in-time",
        "storageNode": "cb34ee3.be2b31",
        "x": 1250,
        "y": 1100,
        "wires": []
    },
    {
        "id": "57d802c7.63cd2c",
        "type": "worldmap in",
        "z": "91777bb3.922328",
        "name": "",
        "x": 320,
        "y": 100,
        "wires": [
            [
                "620ec824.128428"
            ]
        ]
    },
    {
        "id": "532b1add.453374",
        "type": "debug",
        "z": "91777bb3.922328",
        "name": "all",
        "active": true,
        "console": "false",
        "complete": "true",
        "x": 470,
        "y": 160,
        "wires": []
    },
    {
        "id": "e412e0fb.c0301",
        "type": "subflow:91777bb3.922328",
        "z": "93cb4937.6fc068",
        "name": "",
        "x": 230,
        "y": 1160,
        "wires": [
            [
                "df770305.a8826",
                "6a5b9f6.b6d256",
                "b59087e9.b1e7b8",
                "bc571a7f.119508",
                "6c8eed1.c193f14",
                "4461acb0.5f2df4"
            ]
        ]
    },
    {
        "id": "620ec824.128428",
        "type": "function",
        "z": "91777bb3.922328",
        "name": "on connected",
        "func": "if (msg.payload && msg.payload.action && msg.payload.action == \"connected\") {\n    return msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "x": 540,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "de887fc7.5e54",
        "type": "delay",
        "z": "93cb4937.6fc068",
        "name": "d 3s",
        "pauseType": "delay",
        "timeout": "3",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 910,
        "y": 80,
        "wires": [
            [
                "c0867d8e.a5999"
            ]
        ]
    },
    {
        "id": "ec5c317.b1889d",
        "type": "subflow:91777bb3.922328",
        "z": "93cb4937.6fc068",
        "x": 750,
        "y": 80,
        "wires": [
            [
                "de887fc7.5e54"
            ]
        ]
    },
    {
        "id": "a30ccf58.3a1e",
        "type": "function",
        "z": "2f0217a5.051978",
        "name": "find prev false positive register",
        "func": "if (msg.originalMessage && \n    msg.originalMessage.reply_to_message &&\n    msg.originalMessage.reply_to_message.location) {\n    var lon = msg.originalMessage.reply_to_message.location.longitude;\n    var lat = msg.originalMessage.reply_to_message.location.latitude;\n    var find = {};\n    find.payload = {\n    geo:\n       { $near : {\n            $geometry: { \n                type: \"Point\",  \n                coordinates: [lon, lat]\n            },\n            $minDistance: 0,\n            $maxDistance: 200\n          }\n        },\n        chatId: msg.payload.chatId\n    };\n    find.originalMessage = msg.originalMessage;\n    find.chatId = msg.payload.chatId;\n    return find;\n}\n\n",
        "outputs": 1,
        "noerr": 0,
        "x": 390,
        "y": 160,
        "wires": [
            [
                "9eef9e79.27f5b"
            ]
        ]
    },
    {
        "id": "9eef9e79.27f5b",
        "type": "mongodb in",
        "z": "2f0217a5.051978",
        "mongodb": "51a7af07.93444",
        "name": "falsepositives count",
        "collection": "falsepositives",
        "operation": "find",
        "x": 640,
        "y": 160,
        "wires": [
            [
                "7f8ce0c9.99ac4"
            ]
        ]
    },
    {
        "id": "7f8ce0c9.99ac4",
        "type": "switch",
        "z": "2f0217a5.051978",
        "name": "already",
        "property": "payload.length",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gt",
                "v": "0",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "outputs": 2,
        "x": 820,
        "y": 160,
        "wires": [
            [
                "d7931057.66ab7"
            ],
            [
                "677cc27e.bad8ec",
                "ed07b302.7a6b7"
            ]
        ]
    },
    {
        "id": "677cc27e.bad8ec",
        "type": "function",
        "z": "2f0217a5.051978",
        "name": "save",
        "func": "var date = new Date();\nvar formated = context.global.moment(date).format('YYYYMMDD');\n\nvar orig = msg.originalMessage;\nvar lon = orig.reply_to_message.location.longitude;\nvar lat = orig.reply_to_message.location.latitude;\n\nvar chatId = msg.chatId;\n\nvar reg = {\n    query : {\n        // solo un fuego por usuario por ahora\n        chatId : chatId,\n        geo: {\n            type: \"Point\",\n            coordinates: [lon, lat]\n        }\n    },\n    payload: {\n        $set: {        \n            chatId: chatId,\n            when: date,\n            whendateformat: formated,\n            geo: {\n                type: \"Point\",\n                coordinates: [lon, lat]\n            }\n        }\n    },\n}\nreturn reg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1010,
        "y": 220,
        "wires": [
            [
                "88e9dc11.5af31"
            ]
        ]
    },
    {
        "id": "88e9dc11.5af31",
        "type": "mongodb out",
        "z": "2f0217a5.051978",
        "mongodb": "51a7af07.93444",
        "name": "insert",
        "collection": "falsepositives",
        "payonly": false,
        "upsert": true,
        "multi": false,
        "operation": "update",
        "x": 1170,
        "y": 220,
        "wires": []
    },
    {
        "id": "9f730cf9.c7a3b",
        "type": "subflow:2f0217a5.051978",
        "z": "93cb4937.6fc068",
        "name": "",
        "x": 600,
        "y": 920,
        "wires": [
            [
                "63a864bc.f82b1c"
            ]
        ]
    },
    {
        "id": "63a864bc.f82b1c",
        "type": "debug",
        "z": "93cb4937.6fc068",
        "name": "all",
        "active": true,
        "console": "false",
        "complete": "true",
        "x": 750,
        "y": 920,
        "wires": []
    },
    {
        "id": "ef71cdfb.1f93",
        "type": "debug",
        "z": "2f0217a5.051978",
        "name": "all",
        "active": true,
        "console": "false",
        "complete": "true",
        "x": 590,
        "y": 220,
        "wires": []
    },
    {
        "id": "ed07b302.7a6b7",
        "type": "function",
        "z": "2f0217a5.051978",
        "name": "thanks!",
        "func": "var t = msg.i18n;\n\nvar thx = {};\nthx.payload = {};\nthx.payload.type = \"message\";\nthx.payload.chatId = msg.chatId;\nthx.payload.content = t('👌 Tomamos nota, ¡gracias por colaborar!');\nreturn thx;",
        "outputs": 1,
        "noerr": 0,
        "x": 1020,
        "y": 260,
        "wires": [
            [
                "1f728a28.973446"
            ]
        ]
    },
    {
        "id": "1f728a28.973446",
        "type": "telegram sender",
        "z": "2f0217a5.051978",
        "name": "send",
        "bot": "f93d1a38.c43218",
        "x": 1170,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "d7931057.66ab7",
        "type": "function",
        "z": "2f0217a5.051978",
        "name": "already!",
        "func": "var t = msg.i18n;\n\nvar thx = {};\nthx.payload = {};\nthx.payload.type = \"message\";\nthx.payload.chatId = msg.chatId;\nthx.payload.content = t(\"Ya marcaste este fuego como 'falso positivo'. Gracias en cualquier caso...\");\nreturn thx;",
        "outputs": 1,
        "noerr": 0,
        "x": 1020,
        "y": 100,
        "wires": [
            [
                "4d5be381.f478fc"
            ]
        ]
    },
    {
        "id": "4d5be381.f478fc",
        "type": "telegram sender",
        "z": "2f0217a5.051978",
        "name": "send",
        "bot": "f93d1a38.c43218",
        "x": 1170,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "d76ddf98.d3de9",
        "type": "function",
        "z": "2b8628df.fdcca8",
        "name": "false positive?",
        "func": "var query = {}\nquery.payload = {\n    geo:\n       { $near : {\n            $geometry: { \n                type: \"Point\",  \n                coordinates: [ msg.lon, msg.lat]\n            },\n            $minDistance: 0,\n            $maxDistance: 200\n          }\n       }\n   }\nquery.originalMessage = msg;\nreturn query;",
        "outputs": 1,
        "noerr": 0,
        "x": 240,
        "y": 240,
        "wires": [
            [
                "61abc532.9a0afc"
            ]
        ]
    },
    {
        "id": "61abc532.9a0afc",
        "type": "mongodb in",
        "z": "2b8628df.fdcca8",
        "mongodb": "51a7af07.93444",
        "name": "find",
        "collection": "falsepositives",
        "operation": "find",
        "x": 410,
        "y": 240,
        "wires": [
            [
                "9e65a744.1a6a68"
            ]
        ]
    },
    {
        "id": "9e65a744.1a6a68",
        "type": "function",
        "z": "2b8628df.fdcca8",
        "name": "false?",
        "func": "if (msg.payload.length > 0) {\n    // node.log(\"False positive\");\n    return [null, msg.originalMessage];\n} else {\n    // node.log(\"Not false positive\");\n    return [msg.originalMessage, null];\n}",
        "outputs": "2",
        "noerr": 0,
        "x": 530,
        "y": 240,
        "wires": [
            [
                "59c0890d.7d97e8"
            ],
            []
        ],
        "outputLabels": [
            "not false positive",
            "false"
        ]
    },
    {
        "id": "60fdfcd6.2a6d84",
        "type": "function",
        "z": "c644db46.3854c8",
        "name": "set location",
        "func": "msg.chatId = msg.payload.chatId;\nvar content = msg.payload.content;\nmsg.location = {};\n\nif (content && content.latitude) {\n    // Is a shared location (clip)\n    msg.location.lat = content.latitude;\n    msg.location.lon = content.longitude;\n    return [null, msg];\n} else {\n    // Is a writen location\n    msg.location.address = content;\n    return [msg, null];\n}",
        "outputs": "2",
        "noerr": 0,
        "x": 630,
        "y": 320,
        "wires": [
            [
                "9620588a.113218"
            ],
            []
        ],
        "outputLabels": [
            "address",
            "lat,lon already"
        ]
    },
    {
        "id": "f2c9762e.6c90a8",
        "type": "function",
        "z": "93cb4937.6fc068",
        "name": "i18n conf",
        "func": "var i = context.global.i18next;\nvar backend = context.global.i18nextbackend;\n\nvar backOpts = {\n  // path where resources get loaded from\n  loadPath: './locales/{{lng}}/{{ns}}.json',\n\n  // path to post missing resources\n  addPath: './locales/{{lng}}/{{ns}}.missing.json',\n\n  // jsonIndent to use when storing json files\n  jsonIndent: 2\n};\n\ni.use(backend)\n .init({\n  backend: backOpts,\n  lng: 'es',\n  //fallbackLng: 'es',\n  fallbackLng: { \n    'en-US': ['en'], \n    'en-GB': ['en'],\n    'default': ['es']\n    },\n  whitelist: false,  \n  // whitelist: ['es', 'en'], // allowed languages\n  load: 'all', // es-ES -> es, en-US -> en\n  debug: false,\n  ns: 'telegram-bot',\n  defaultNS: 'telegram-bot',\n  saveMissing: false, // if true seems it's fails to getResourceBundle\n  saveMissingTo: 'all',\n  keySeparator: 'ß',\n  nsSeparator: 'ð',\n  pluralSeparator: 'đ',\n}, function(err, t) {\n    // initialized and ready to go!\n    const es = i.getFixedT('es');\n    const en = i.getFixedT('en');\n    const pt = i.getFixedT('pt');\n    const ast = i.getFixedT('ast');\n    global.set('lang-es', es);\n    global.set('lang-en', en);\n    global.set('lang-ast', ast);\n    global.set('lang-pt', pt);\n    i.loadLanguages(['en', 'pt', 'ast'], function() {\n        var t = global.get('lang-pt');\n        // node.log(t('Sí'));\n    });\n});\n",
        "outputs": 1,
        "noerr": 0,
        "x": 1280,
        "y": 140,
        "wires": [
            [
                "1f93ce66.41da62"
            ]
        ]
    },
    {
        "id": "1f93ce66.41da62",
        "type": "debug",
        "z": "93cb4937.6fc068",
        "name": "payl",
        "active": true,
        "console": "false",
        "complete": "true",
        "x": 1410,
        "y": 140,
        "wires": []
    },
    {
        "id": "373aa2ef.0aac9e",
        "type": "subflow:e81a68fa.695e38",
        "z": "93cb4937.6fc068",
        "name": "",
        "x": 720,
        "y": 760,
        "wires": [
            []
        ]
    },
    {
        "id": "dd683e99.7c126",
        "type": "telegram sender",
        "z": "e81a68fa.695e38",
        "name": "",
        "bot": "f93d1a38.c43218",
        "x": 350,
        "y": 40,
        "wires": [
            []
        ]
    },
    {
        "id": "c60a2456.adac68",
        "type": "subflow:e81a68fa.695e38",
        "z": "93cb4937.6fc068",
        "name": "",
        "x": 1040,
        "y": 700,
        "wires": [
            [
                "baa17b12.6767a8"
            ]
        ]
    },
    {
        "id": "33cd0275.71172e",
        "type": "subflow:e81a68fa.695e38",
        "z": "93cb4937.6fc068",
        "name": "",
        "x": 1400,
        "y": 840,
        "wires": [
            []
        ]
    },
    {
        "id": "5541b1d7.23da4",
        "type": "function",
        "z": "6995c6a.1a0bf38",
        "name": "set i18n if not set",
        "func": "if (msg.lang === null || typeof msg.i18n === 'undefined') {\n    var current = msg.lang;\n    if (current.match(/^en/)) {\n        node.log(\"Current language English\");\n        msg.i18n = global.get('lang-en');\n    } else if (current.match(/^ast/)) {\n        node.log(\"Current language Asturian\");\n        msg.i18n = global.get('lang-ast');\n    } else if (current.match(/^pt/)) {\n        node.log(\"Current language Portuguese\");\n        msg.i18n = global.get('lang-pt');\n    }\n}\n\nif (typeof msg.i18n !== 'function') {\n    // fallback to Spanish\n    node.log(\"Current language Spanish\");\n    msg.i18n = global.get('lang-es');\n} else {\n    node.log(\"i18n already configured\");\n} \n\n// node.log(\"Type of i18n \" + typeof msg.i18n);\n\nreturn [msg, null]; ",
        "outputs": "1",
        "noerr": 0,
        "x": 270,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "acf185e6.858808",
        "type": "subflow:94b874d7.e0e478",
        "z": "93cb4937.6fc068",
        "name": "",
        "x": 990,
        "y": 920,
        "wires": [
            []
        ]
    },
    {
        "id": "e3b00d54.9cd4e",
        "type": "function",
        "z": "94b874d7.e0e478",
        "name": "detect lang change",
        "func": "if (msg.payload.content &&\n    msg.payload.content.match(/^[♥⬅️📖📣🔥📣📝📍📝]+ .*/)) {\n    node.log(\"Detect lang changed\");\n    return [null, msg];\n}\nelse \n    return [msg, null];",
        "outputs": "2",
        "noerr": 0,
        "x": 310,
        "y": 80,
        "wires": [
            [],
            [
                "776742ab.da3f4c",
                "148a484f.48c168"
            ]
        ]
    },
    {
        "id": "148a484f.48c168",
        "type": "debug",
        "z": "94b874d7.e0e478",
        "name": "all",
        "active": true,
        "console": "false",
        "complete": "true",
        "x": 570,
        "y": 180,
        "wires": []
    },
    {
        "id": "776742ab.da3f4c",
        "type": "subflow:76bd701f.29d0f",
        "z": "94b874d7.e0e478",
        "x": 570,
        "y": 140,
        "wires": []
    },
    {
        "id": "5cd09e04.d865d",
        "type": "inject",
        "z": "93cb4937.6fc068",
        "name": "20m down",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 120,
        "y": 180,
        "wires": [
            [
                "4aeaeb09.be3364"
            ]
        ]
    },
    {
        "id": "9af219f9.082b88",
        "type": "ftp-download",
        "z": "a7679700.0cb7a8",
        "server": "6c68017b.bba33",
        "files": "files",
        "directory": "ftp-path",
        "name": "nrt3 nasa",
        "output": "payload",
        "filesType": "msg",
        "directoryType": "global",
        "x": 220,
        "y": 40,
        "wires": [
            [
                "7b95048a.80eaac"
            ]
        ]
    },
    {
        "id": "4aeaeb09.be3364",
        "type": "function",
        "z": "93cb4937.6fc068",
        "name": "set ftp files",
        "func": "var moment = context.global.moment.utc();\nvar day = moment.dayOfYear();\nvar year = moment.year();\n\n// https://earthdata.nasa.gov/earth-observation-data/near-real-time/download-nrt-data\n// Cada 60 * 125 min\n\nvar msgV = {};\nvar msgM = {};\n\nvar area = global.get('ftp-area');\n\nvar filesV = [\n            {'src': '/FIRMS/viirs/' + area + '/VIIRS_I_'+ area + '_VNP14IMGTDL_NRT_' + year + day + '.txt', 'dest': 'viir.txt'}\n            ];\nvar filesM = [\n            {'src': '/FIRMS/c6/' + area + '/MODIS_C6_'+ area + '_MCD14DL_NRT_' + year + day + '.txt', 'dest': 'modis.txt'}\n            ];\n\n// VIIRS Fields (adquisition is in UTC)      \n// https://earthdata.nasa.gov/earth-observation-data/near-real-time/firms/v1-vnp14imgt      \n// Acq_Date\tAcquisition Date\tDate of VIIRS acquisition.\n// Acq_Time\tAcquisition Time\tTime of acquisition/overpass of the satellite (in UTC).\n\n// newMsg.files = global.get('ftp-files');\n// global.set('ftp-files', files);\n// global.get('ftp-files');\n\nmsgV.files = filesV;\nmsgM.files = filesM; \n\nreturn [msgM, msgV];\n\n/*\nAlaska\nAustralia_NewZealand\nCanada\nCentral_America\nEurope\nGlobal\nNorthern_and_Central_Africa\nRussia_Asia\nSouthEast_Asia\nSouth_America\nSouth_Asia\nSouthern_Africa\nUSA_contiguous_and_Hawaii\n*/\n",
        "outputs": "2",
        "noerr": 0,
        "x": 290,
        "y": 180,
        "wires": [
            [
                "d2a5d34f.2387a"
            ],
            [
                "1da56c1e.21c564"
            ]
        ],
        "outputLabels": [
            "modis",
            "viirs "
        ]
    },
    {
        "id": "1da56c1e.21c564",
        "type": "delay",
        "z": "93cb4937.6fc068",
        "name": "d 10s",
        "pauseType": "delay",
        "timeout": "10",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 390,
        "y": 220,
        "wires": [
            [
                "c4d37e69.19c7b"
            ]
        ]
    },
    {
        "id": "d2a5d34f.2387a",
        "type": "subflow:a7679700.0cb7a8",
        "z": "93cb4937.6fc068",
        "name": "",
        "x": 520,
        "y": 180,
        "wires": [
            [
                "e2ba2944.46c208"
            ]
        ]
    },
    {
        "id": "c4d37e69.19c7b",
        "type": "subflow:a7679700.0cb7a8",
        "z": "93cb4937.6fc068",
        "x": 520,
        "y": 220,
        "wires": [
            [
                "7aa07a53.1c8ec4"
            ]
        ]
    },
    {
        "id": "5be1e81a.8eae68",
        "type": "change",
        "z": "a7679700.0cb7a8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "filename",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 580,
        "y": 40,
        "wires": [
            []
        ]
    },
    {
        "id": "7b95048a.80eaac",
        "type": "function",
        "z": "a7679700.0cb7a8",
        "name": "split",
        "func": "for (var i = 0; i < msg.payload.length; i++) {\n    var newM = {};\n    newM.payload = msg.payload[i];\n    node.send(newM);\n}",
        "outputs": 1,
        "noerr": 0,
        "x": 370,
        "y": 40,
        "wires": [
            [
                "5be1e81a.8eae68"
            ]
        ]
    },
    {
        "id": "f4470f67.a877d",
        "type": "delay",
        "z": "93cb4937.6fc068",
        "name": "rate",
        "pauseType": "rate",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "3",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "x": 570,
        "y": 480,
        "wires": [
            [
                "1b848c63.4e2bf4"
            ]
        ]
    },
    {
        "id": "d64bffcd.fec3c",
        "type": "function",
        "z": "93cb4937.6fc068",
        "name": "test something",
        "func": "",
        "outputs": 1,
        "noerr": 0,
        "x": 360,
        "y": 1860,
        "wires": [
            []
        ]
    },
    {
        "id": "94cfbe56.9321f",
        "type": "inject",
        "z": "93cb4937.6fc068",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 120,
        "y": 1860,
        "wires": [
            [
                "d64bffcd.fec3c"
            ]
        ]
    },
    {
        "id": "ffec927c.d96be",
        "type": "function",
        "z": "93cb4937.6fc068",
        "name": "use lang",
        "func": "var en = msg.i18n;\nnode.log(\"en: \" + typeof en + \" \" + en('Desuscribirme'));\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 580,
        "y": 1860,
        "wires": [
            []
        ]
    },
    {
        "id": "e9667844.7ff518",
        "type": "function",
        "z": "93cb4937.6fc068",
        "name": "start opts",
        "func": "var output = [];\nvar opt = msg.payload.content;\nvar t = msg.i18n;\n// node.log(\"Type of i18n \" + typeof t);\n\nif (opt === \"/start@rednodetest_bot\") {\n  output[0] = msg; return output;\n} else if (opt === \"/start@TodosContraElFuego_bot\") {\n  output[0] = msg; return output;\n} else if (opt === \"/inicio@rednodetest_bot\") {\n  output[0] = msg; return output;\n} else if (opt === \"/inicio@TodosContraElFuego_bot\") {\n  output[0] = msg; return output;\n} else if (opt === t(\"⬅️ Volver\")) {\n  output[0] = msg; return output;\n} else if (opt === t(\"⬅️ Cancelar\")) {\n  output[0] = msg; return output;\n} else if (opt === t(\"📣 Suscribirme a fuegos en mi zona\")) {\n  output[1] = msg; return output;\n} else if (opt === \"/suscribirme@rednodetest_bot\") {\n  output[1] = msg; return output;\n} else if (opt === \"/suscribirme@TodosContraElFuego_bot\") {\n  output[1] = msg; return output;\n} else if (opt === t(\"📖 Más info\")) {\n  output[2] = msg; return output;\n} else if (opt === t(\"♥ Apoya esta iniciativa\")) {\n  output[2] = msg; return output;\n} else if (opt === t(\"🔥 Notificar un fuego nuevo\")) {\n  output[3] = msg; return output;\n} else if (opt === t(\"📝 Escribir mi posición\")) {\n  output[4] = msg; return output;\n} else if (opt === t(\"📝 Escribir localización fuego\")) {\n  output[5] = msg; return output;\n} else if ((opt + \"\").match(new RegExp(\"^(a |em |)[0-9]*[ ]*km( around| arredor|)\",'i'))) {\n  output[6] = msg; return output;\n} else if (opt === t(\"📣 Suscrito a nuevos fuegos\")) {\n  output[7] = msg; return output;\n} else if (opt === \"/info@rednodetest_bot\") {\n  output[7] = msg; return output;\n} else if (opt === \"/info@TodosContraElFuego_bot\") {\n  output[7] = msg; return output;\n} else if (opt === \"/distancia@rednodetest_bot\") {\n  output[8] = msg; return output;\n} else if (opt === \"/distancia@TodosContraElFuego_bot\") {\n  output[8] = msg; return output;\n} else if (opt === t(\"📍 El fuego está en mi ubicación\")) {\n  output[9] = msg; return output;\n} else if ((opt + \"\").match(new RegExp(\"(falsa alarma|falso positivo|es una industria|industria)\",'i'))) {\n  output[10] = msg; return output;\n} else if (opt === t(\"Desuscribirme\")) {\n  output[11] = msg; return output;\n} else {\n  output[12] = msg; return output;\n}\n",
        "outputs": "13",
        "noerr": 0,
        "x": 280,
        "y": 480,
        "wires": [
            [
                "55ebd8f8.436e38"
            ],
            [
                "be0cbd6.2efaf4"
            ],
            [
                "49306cf6.a72494"
            ],
            [
                "1292920f.64d29e",
                "cbe0e85b.a53018"
            ],
            [
                "f4470f67.a877d"
            ],
            [
                "60ee8a37.032aa4"
            ],
            [
                "82292481.dd9428"
            ],
            [
                "f3249bab.90eae8"
            ],
            [
                "539a53d4.268c7c"
            ],
            [
                "60ee8a37.032aa4"
            ],
            [
                "9f730cf9.c7a3b"
            ],
            [
                "49306cf6.a72494",
                "529f65ba.a3f03c"
            ],
            [
                "e0bc7e33.2a795"
            ]
        ],
        "outputLabels": [
            "start",
            "subscribe",
            "more info, desubscribe, support...",
            "Notify new fire",
            "Write my position",
            "Write fire position",
            "in n km",
            "info",
            "distance",
            "fire in my location",
            "false alarm",
            "desubscription",
            "others"
        ]
    },
    {
        "id": "11e83fb2.09a37",
        "type": "subflow:4384af8e.a7409",
        "z": "93cb4937.6fc068",
        "name": "",
        "x": 130,
        "y": 420,
        "wires": [
            [
                "e9667844.7ff518"
            ]
        ]
    },
    {
        "id": "9b7f71f8.cb024",
        "type": "inject",
        "z": "93cb4937.6fc068",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 100,
        "y": 980,
        "wires": [
            [
                "47a779c9.a8f538"
            ]
        ]
    },
    {
        "id": "47a779c9.a8f538",
        "type": "function",
        "z": "93cb4937.6fc068",
        "name": "test cmd",
        "func": "var newmsg = {};\nnewmsg.payload = {};\nnewmsg.payload.content = \"♥ Apoya esta iniciativa\";\nnewmsg.payload.content = \"a 10 km\";\nnewmsg.originalMessage = {};\nnewmsg.originalMessage.from = {};\nnewmsg.originalMessage.from.language_code = \"es-ES\";\nreturn newmsg;\n            ",
        "outputs": 1,
        "noerr": 0,
        "x": 240,
        "y": 980,
        "wires": [
            []
        ]
    },
    {
        "id": "a5ababbd.b45f98",
        "type": "switch",
        "z": "93cb4937.6fc068",
        "name": "opciones start menu",
        "property": "payload.content",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "/start@rednodetest_bot",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "/start@TodosContraElFuego_bot",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "/inicio@rednodetest_bot",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "/inicio@TodosContraElFuego_bot",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "⬅️ Volver",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "⬅️ Cancelar",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "📣 Suscribirme a fuegos en mi zona",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "/suscribirme@rednodetest_bot",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "/suscribirme@TodosContraElFuego_bot",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Desuscribirme",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "🔥 Notificar un fuego nuevo",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "♥ Apoya esta iniciativa",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "📝 Escribir mi posición",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "📖 Más info",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "📝 Escribir localización fuego",
                "vt": "str"
            },
            {
                "t": "regex",
                "v": "^(a |)[0-9]*[ ]*km( around|)",
                "vt": "str",
                "case": true
            },
            {
                "t": "eq",
                "v": "📣 Suscrito a nuevos fuegos",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "/info@rednodetest_bot",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "/info@TodosContraElFuego_bot",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "/distancia@rednodetest_bot",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "📍 El fuego está en mi ubicación",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "/distancia@TodosContraElFuego_bot",
                "vt": "str"
            },
            {
                "t": "regex",
                "v": "(falsa alarma|falso positivo|es una industria|industria)",
                "vt": "str",
                "case": true
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "outputs": 24,
        "x": 1070,
        "y": 1620,
        "wires": [
            [],
            [],
            [],
            [],
            [],
            [],
            [],
            [],
            [],
            [],
            [],
            [],
            [],
            [],
            [],
            [],
            [],
            [],
            [],
            [],
            [],
            [],
            [],
            []
        ]
    },
    {
        "id": "b3331045.d30b3",
        "type": "subflow:4384af8e.a7409",
        "z": "76bd701f.29d0f",
        "name": "",
        "x": 370,
        "y": 100,
        "wires": [
            [
                "f0552abc.9ccb78"
            ]
        ]
    },
    {
        "id": "4cd4a2cd.e15ecc",
        "type": "subflow:4384af8e.a7409",
        "z": "c644db46.3854c8",
        "x": 490,
        "y": 320,
        "wires": [
            [
                "60fdfcd6.2a6d84"
            ]
        ]
    },
    {
        "id": "bb4817df.01de48",
        "type": "subflow:4384af8e.a7409",
        "z": "93cb4937.6fc068",
        "x": 1530,
        "y": 480,
        "wires": [
            [
                "189c6a9b.aab975"
            ]
        ]
    },
    {
        "id": "6906bc92.3ea1d4",
        "type": "debug",
        "z": "128790f6.dee0df",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "true",
        "x": 1350,
        "y": 200,
        "wires": []
    },
    {
        "id": "20aeace7.594e64",
        "type": "function",
        "z": "128790f6.dee0df",
        "name": "current susc",
        "func": "var newMsg = {};\nnewMsg.notification = msg;\nnewMsg.payload = {};\nreturn newMsg;",
        "outputs": 1,
        "noerr": 0,
        "x": 510,
        "y": 200,
        "wires": [
            [
                "6e448899.3af328"
            ]
        ]
    },
    {
        "id": "6e448899.3af328",
        "type": "mongodb in",
        "z": "128790f6.dee0df",
        "mongodb": "51a7af07.93444",
        "name": "find susc",
        "collection": "subscriptions",
        "operation": "find",
        "x": 700,
        "y": 200,
        "wires": [
            [
                "ace2d6f2.4362f8"
            ]
        ]
    },
    {
        "id": "ace2d6f2.4362f8",
        "type": "function",
        "z": "128790f6.dee0df",
        "name": "to who?",
        "func": "var who = global.get('sends-news-to');\nif ( who === 'all') {\n    return msg;\n} else {\n    msg.payload = [];\n    var sp = who.split(\",\");\n    for (var i = 0; i < sp.length; i++) {\n        var chatId = sp[i];\n        msg.payload[i] = { chatId: chatId };\n    }\n    return msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "x": 860,
        "y": 200,
        "wires": [
            [
                "199dadf2.46a4b2"
            ]
        ]
    },
    {
        "id": "a5da0c46.379c6",
        "type": "function",
        "z": "128790f6.dee0df",
        "name": "ask confirmation",
        "func": "// var t = global.get(\"i18n-es\");\n// No internacionalizamos esta parte por ahora\n\ncontext.global.keyboard = { pending : true };\n\nvar opts = {\n  reply_to_message_id: msg.payload.messageId,\n  reply_markup: JSON.stringify({\n    \"inline_keyboard\": [[\n                {\n                    \"text\": 'Sí',\n                    \"callback_data\": \"news_send\"\n                },\n                {\n                    \"text\": 'No',\n                    \"callback_data\": \"news_no_send\"\n                }]\n            ]\n  })\n};\n\nvar newMsg = {\n    payload : {\n        chatId: msg.payload.chatId,\n        type: 'message',\n        content: 'Vas a enviar estas novedades a todos los usuarios ¿estás seguro?',\n        options: opts\n    }\n};\n\nglobal.set('notification', msg);\n\nreturn [newMsg, null];",
        "outputs": "1",
        "noerr": 0,
        "x": 1090,
        "y": 60,
        "wires": [
            [
                "9a57fc1b.84c16"
            ]
        ]
    },
    {
        "id": "4675b760.d24348",
        "type": "function",
        "z": "128790f6.dee0df",
        "name": "set send opts",
        "func": "msg.payload.type = \"message\";\nmsg.payload.options = {};\nmsg.payload.options.parse_mode = \"Markdown\";\nmsg.payload.options.disable_web_page_preview = true; \nmsg.payload.options.disable_notification = true;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 720,
        "y": 60,
        "wires": [
            [
                "6618aac1.2a3744",
                "4fe7fb99.30eb64"
            ]
        ]
    },
    {
        "id": "b4cf9be5.550978",
        "type": "function",
        "z": "128790f6.dee0df",
        "name": "test news",
        "func": "var news = {};\nnews.payload = {};\nnews.payload.content  = \"📣 * Novedades de @TodosContraElFuego_bot *\\r\\n\";\nnews.payload.content += \"\\r\\n\";\nnews.payload.content += \"➖ A veces habrás visto que llegan notificaciones de fuegos de industrias como incineradoras, siderúrgicas, refinerías, etc. \"\nnews.payload.content += \"Ahora puedes ayudarnos a marcar estos 'falsos positivos'. Para ello pulsa en el mapa de la notificación de uno de estos fuegos y pulsa 'Responder' con un mensaje que diga 'falso positivo' o 'industria' para que estos fuegos no sean notificados en un futuro. Gracias.\\r\\n\";\nnews.payload.content += \"➖ Estamos traduciendo este bot al asturiano, gallego, inglés, portugués, etc. Puedes participar [en la traducción](https://translate.comunes.org/projects/todos-contra-el-fuego/todoscontraelfuego_bot/).\\r\\n\";\nnews.payload.content += \"➖ A petición de usuarios/amigos de Latinoamérica, ahora procesamos alertas de fuegos también de otras partes del mundo, no solo Europa.\\r\\n\";\n// this is me, for preview:\nnews.payload.chatId = 4885772;\nreturn news;",
        "outputs": 1,
        "noerr": 0,
        "x": 530,
        "y": 60,
        "wires": [
            [
                "4675b760.d24348"
            ]
        ]
    },
    {
        "id": "b2a86687.974fc8",
        "type": "inject",
        "z": "128790f6.dee0df",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 120,
        "y": 60,
        "wires": [
            [
                "903240b.81669c"
            ]
        ]
    },
    {
        "id": "903240b.81669c",
        "type": "delay",
        "z": "128790f6.dee0df",
        "name": "rate 1x1m",
        "pauseType": "rate",
        "timeout": "2",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "30",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "x": 310,
        "y": 60,
        "wires": [
            [
                "b4cf9be5.550978"
            ]
        ]
    },
    {
        "id": "765837ba.bc31e8",
        "type": "function",
        "z": "128790f6.dee0df",
        "name": "answer confirm",
        "func": "// Not translated right now\n// var t = msg.i18n;\n\nvar show_alert = false; // you can set this to true to open a dialog with the answer in the client.\nvar notification = global.get('notification');\n\nif (notification !== null) {\n    // node.log(\"Notification callback\");\n    msg.payload.options = show_alert;\n    \n    global.set('notification', null);\n    // msg.payload.content contains the callback data from the keyboard.\n    if (msg.payload.content === 'news_send') {\n        return [notification, null];\n    } else if (msg.payload.content === 'news_no_send') {\n        var newMsg = {\n            payload: {\n                type: \"message\",\n                content: 'Notificación cancelada',\n                chatId: msg.payload.chatId\n            }\n        };\n        return [null, newMsg];\n    }\n}",
        "outputs": "2",
        "noerr": 0,
        "x": 300,
        "y": 200,
        "wires": [
            [
                "20aeace7.594e64"
            ],
            [
                "df3bdc0f.4cd2f"
            ]
        ],
        "outputLabels": [
            "notification",
            "No"
        ]
    },
    {
        "id": "df3bdc0f.4cd2f",
        "type": "telegram sender",
        "z": "128790f6.dee0df",
        "name": "send",
        "bot": "f93d1a38.c43218",
        "x": 490,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "6618aac1.2a3744",
        "type": "telegram sender",
        "z": "128790f6.dee0df",
        "name": "send",
        "bot": "f93d1a38.c43218",
        "x": 910,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "9a57fc1b.84c16",
        "type": "telegram sender",
        "z": "128790f6.dee0df",
        "name": "send",
        "bot": "f93d1a38.c43218",
        "x": 1270,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "74385b88.39eb04",
        "type": "telegram callback_query",
        "z": "128790f6.dee0df",
        "name": "callback",
        "command": "",
        "bot": "f93d1a38.c43218",
        "x": 100,
        "y": 200,
        "wires": [
            [
                "765837ba.bc31e8"
            ]
        ]
    },
    {
        "id": "4fe7fb99.30eb64",
        "type": "delay",
        "z": "128790f6.dee0df",
        "name": "",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 900,
        "y": 60,
        "wires": [
            [
                "a5da0c46.379c6"
            ]
        ]
    },
    {
        "id": "977bb03b.dc94f",
        "type": "delay",
        "z": "128790f6.dee0df",
        "name": "rate 1x2s",
        "pauseType": "rate",
        "timeout": "2",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "2",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 1160,
        "y": 300,
        "wires": [
            [
                "bd6813b1.2cab5"
            ]
        ]
    },
    {
        "id": "bd6813b1.2cab5",
        "type": "delay",
        "z": "128790f6.dee0df",
        "name": "rate 20x1m",
        "pauseType": "rate",
        "timeout": "2",
        "timeoutUnits": "seconds",
        "rate": "20",
        "nbRateUnits": "1",
        "rateUnits": "minute",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 1330,
        "y": 300,
        "wires": [
            [
                "49f7750c.76675c",
                "3eff4b32.9114b4"
            ]
        ]
    },
    {
        "id": "49f7750c.76675c",
        "type": "telegram sender",
        "z": "128790f6.dee0df",
        "name": "send",
        "bot": "f93d1a38.c43218",
        "x": 1490,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "199dadf2.46a4b2",
        "type": "function",
        "z": "128790f6.dee0df",
        "name": "send to all",
        "func": "var noti = msg.notification;\nfor (var i = 0; i < msg.payload.length; i++) {\n    var chatId = msg.payload[i].chatId;\n    noti.payload.chatId = chatId;\n    node.send(noti);\n}\n\n",
        "outputs": 1,
        "noerr": 0,
        "x": 1030,
        "y": 200,
        "wires": [
            [
                "977bb03b.dc94f",
                "6906bc92.3ea1d4"
            ]
        ]
    },
    {
        "id": "782fbdaf.bd36f4",
        "type": "debug",
        "z": "76bd701f.29d0f",
        "name": "all",
        "active": false,
        "console": "false",
        "complete": "true",
        "x": 970,
        "y": 40,
        "wires": []
    },
    {
        "id": "152ee632.13c3fa",
        "type": "comment",
        "z": "93cb4937.6fc068",
        "name": "Warning: Listeners like /commands in subflows can be duplicated",
        "info": "",
        "x": 250,
        "y": 1540,
        "wires": []
    },
    {
        "id": "9d03d653.8cca68",
        "type": "function",
        "z": "93cb4937.6fc068",
        "name": "create response",
        "func": "if (context.global.keyboardlang && context.global.keyboardlang.pending) {\n    var langs = {\n        'Asturianu': 'ast',\n        'Català': 'ca',\n        'Español': 'es',\n        'English': 'en',\n        'Galego': 'gl',\n        'Português': 'pt',\n        'Português do Brasil': 'pt_BR'\n        // Euskara\n    };\n    \n    context.global.keyboardlang.pending = false;\n    \n    if (msg.payload.content.match(/(Asturianu)|(Español)|(English)|(Galego)|(Português)|(Português do Brasil)/i)) {\n        msg.lang = langs[msg.payload.content];\n        return [msg, null];   \n    } else\n    {\n        return [null, msg];   \n    }\n}\n",
        "outputs": "2",
        "noerr": 0,
        "x": 300,
        "y": 1660,
        "wires": [
            [
                "f6fa435d.52b8f",
                "bb1ffea3.4e9f4"
            ],
            [
                "1475a6c1.176199"
            ]
        ],
        "outputLabels": [
            "correct answer",
            "incorrect answer"
        ]
    },
    {
        "id": "1475a6c1.176199",
        "type": "debug",
        "z": "93cb4937.6fc068",
        "name": "wrong answer",
        "active": true,
        "console": "false",
        "complete": "true",
        "x": 540,
        "y": 1720,
        "wires": []
    },
    {
        "id": "f6fa435d.52b8f",
        "type": "function",
        "z": "93cb4937.6fc068",
        "name": "update user",
        "func": "var orig = msg.originalMessage;\n\nvar update = {\n    query : {\n        // No busca bien con _id, \n        // duplicamos chatId\n        telegramChatId : msg.payload.chatId \n    },\n    payload: {\n       $set: {        \n           telegramChatId : msg.payload.chatId,\n           telegramUsername : orig.from.username,\n           telegramFirstName : orig.from.first_name,\n           telegramLanguageCode : orig.from.language_code,\n           lang : msg.lang,\n           updated: new Date()\n       }\n    },\n    i18n: msg.i18n\n};\n\nreturn update;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 550,
        "y": 1660,
        "wires": [
            [
                "fed0561d.343aa8",
                "1b51742a.93af1c"
            ]
        ]
    },
    {
        "id": "fed0561d.343aa8",
        "type": "mongodb out",
        "z": "93cb4937.6fc068",
        "mongodb": "51a7af07.93444",
        "name": "update user",
        "collection": "users",
        "payonly": false,
        "upsert": true,
        "multi": false,
        "operation": "update",
        "x": 770,
        "y": 1660,
        "wires": []
    },
    {
        "id": "1b51742a.93af1c",
        "type": "Cache out",
        "z": "93cb4937.6fc068",
        "name": "users-lang-in",
        "cache": "488013b6.1183ec",
        "keyType": "msg",
        "keyProperty": "payload.$set.telegramChatId",
        "valueType": "msg",
        "valueProperty": "payload.$set.lang",
        "ttlType": "msg",
        "ttlProperty": "",
        "useString": true,
        "x": 770,
        "y": 1720,
        "wires": []
    },
    {
        "id": "bb1ffea3.4e9f4",
        "type": "subflow:465e67f.6ebf598",
        "z": "93cb4937.6fc068",
        "name": "",
        "x": 780,
        "y": 1600,
        "wires": []
    },
    {
        "id": "81be2f6c.56aa8",
        "type": "function",
        "z": "4384af8e.a7409",
        "name": "user? no:ask-lang",
        "func": "if (msg.payload.length === 0) {\n    return [msg, null];\n} else {\n    // user register\n    var lang = msg.payload[0].lang;\n    msg.payload = msg.originalPayload;\n    msg.lang = lang;\n    return [null, msg];\n}\n\n",
        "outputs": "2",
        "noerr": 0,
        "x": 1150,
        "y": 40,
        "wires": [
            [
                "4e79d201.8c93bc"
            ],
            [
                "e39f3d19.34c0f"
            ]
        ],
        "outputLabels": [
            "ask",
            "we have lang"
        ]
    },
    {
        "id": "6173b8ee.c73038",
        "type": "Cache in",
        "z": "4384af8e.a7409",
        "name": "users-lang-out",
        "cache": "488013b6.1183ec",
        "keyType": "msg",
        "keyProperty": "chatId",
        "valueType": "msg",
        "valueProperty": "lang",
        "useString": true,
        "x": 380,
        "y": 80,
        "wires": [
            [
                "6b27a3a5.4208dc"
            ]
        ]
    },
    {
        "id": "5ade250d.5e12fc",
        "type": "function",
        "z": "4384af8e.a7409",
        "name": "query user",
        "func": "msg.chatId = msg.payload.chatId;\nmsg.originalPayload = msg.payload;\nmsg.payload = {\"telegramChatId\": msg.chatId };\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 770,
        "y": 40,
        "wires": [
            [
                "8f334917.ef75c8"
            ]
        ]
    },
    {
        "id": "8f334917.ef75c8",
        "type": "mongodb in",
        "z": "4384af8e.a7409",
        "mongodb": "51a7af07.93444",
        "name": "find users",
        "collection": "users",
        "operation": "find",
        "x": 940,
        "y": 40,
        "wires": [
            [
                "81be2f6c.56aa8"
            ]
        ]
    },
    {
        "id": "6b27a3a5.4208dc",
        "type": "function",
        "z": "4384af8e.a7409",
        "name": "no cached?",
        "func": "if (typeof msg.lang === 'undefined'  || msg.lang === null) {\n    return [msg, null];\n} else {\n    return [null, msg];\n}",
        "outputs": "2",
        "noerr": 0,
        "x": 570,
        "y": 80,
        "wires": [
            [
                "5ade250d.5e12fc"
            ],
            [
                "e39f3d19.34c0f"
            ]
        ],
        "outputLabels": [
            "no cached",
            "cached"
        ]
    },
    {
        "id": "b06e64a2.4501c8",
        "type": "function",
        "z": "4384af8e.a7409",
        "name": "old set lang if not set",
        "func": "if (msg.originalMessage && msg.originalMessage.from && msg.originalMessage.from.language_code &&\n    typeof msg.i18n === 'undefined') {\n    var current = msg.originalMessage.from.language_code;\n    if (current.match(/^en/)) {\n        node.log(\"Current language English\");\n        msg.i18n = global.get('lang-en');\n    } else if (current.match(/^ast/)) {\n        node.log(\"Current language Asturian\");\n        msg.i18n = global.get('lang-ast');\n    } else if (current.match(/^pt/)) {\n        node.log(\"Current language Portuguese\");\n        msg.i18n = global.get('lang-pt');\n    }\n}\n\nif (typeof msg.i18n !== 'function') {\n    // fallback to Spanish\n    node.log(\"Current language Spanish\");\n    msg.i18n = global.get('lang-es');\n} else {\n    node.log(\"i18n already configured\");\n} \n\n// node.log(\"Type of i18n \" + typeof msg.i18n);\n\nreturn [msg, null]; \n\n/*\nif (msg.originalMessage && msg.originalMessage.from && msg.originalMessage.from.language_code &&\n    typeof msg.i18n === 'undefined') { \n\n    var i = context.global.i18next;\n    \n    node.log(msg.i18n);\n    node.log(\"User lang: \"+ msg.originalMessage.from.language_code);\n    \n    var lang = msg.originalMessage.from.language_code;\n    \n    i.changeLanguage(lang);\n    // i.changeLanguage('es');\n    // node.log(\"langs len \"+ i.languages.length);\n    // node.log(\"langs \"+ i.languages);\n    \n    var i18n;\n    var currentLang;\n    for (var l = 0; l < i.languages.length && typeof i18n === 'undefined'; l++) {\n        var cl = i.languages[l];\n        // node.log(\"Trying: \" + cl);\n        i18n = i.getResourceBundle(cl, 'telegram-bot');\n        currentLang = cl;\n        // node.log(i18n);\n    }\n    if (typeof i18n === 'undefined') {\n        // node.log(\"Falling back to 'es'\");\n        i18n = i.getResourceBundle('es', 'telegram-bot');\n        currentLang = 'es';\n    }\n    i18n.currentLang = lang;\n    msg.i18n = i18n;\n    return [msg, null]; \n}\n/* else if (msg.originalMessage && msg.originalMessage.from && msg.originalMessage.from.language_code &&\n    msg.i18n.currentLang !== msg.originalMessage.from.language_code) {\n    // user lang changed!!!\n    node.log(\"User lang change detected, old lang: \" + msg.i18n.currentLang + \", new lang: \" + msg.originalMessage.from.language_code);\n    msg.i18n = undefined;\n    // return to /start (with a the language)\n    return [null, msg]; \n}\nreturn [msg, null];  */",
        "outputs": "2",
        "noerr": 0,
        "x": 380,
        "y": 360,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "faffc082.4386a",
        "type": "telegram receiver",
        "z": "93cb4937.6fc068",
        "name": "",
        "bot": "f93d1a38.c43218",
        "saveDataDir": "",
        "x": 100,
        "y": 1660,
        "wires": [
            [
                "9d03d653.8cca68"
            ],
            [
                "43864735.d1af38"
            ]
        ]
    },
    {
        "id": "57e40a1.1461bf4",
        "type": "debug",
        "z": "4384af8e.a7409",
        "name": "msg cached?",
        "active": true,
        "console": "false",
        "complete": "true",
        "x": 440,
        "y": 140,
        "wires": []
    },
    {
        "id": "43864735.d1af38",
        "type": "debug",
        "z": "93cb4937.6fc068",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "true",
        "x": 290,
        "y": 1740,
        "wires": []
    },
    {
        "id": "e2e4dfd1.88c4b",
        "type": "debug",
        "z": "4384af8e.a7409",
        "name": "lang in",
        "active": true,
        "console": "false",
        "complete": "true",
        "x": 210,
        "y": 120,
        "wires": []
    },
    {
        "id": "609be7c0.d095a8",
        "type": "debug",
        "z": "4384af8e.a7409",
        "name": "msg cached",
        "active": true,
        "console": "false",
        "complete": "true",
        "x": 750,
        "y": 140,
        "wires": []
    },
    {
        "id": "afdf0d2.1f75ef",
        "type": "function",
        "z": "4384af8e.a7409",
        "name": "set chatId",
        "func": "if (context.global.keyboardlang && context.global.keyboardlang.pending) {\n  // do nothing   \n} else {\n    msg.chatId = msg.payload.chatId;\n    return msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "x": 200,
        "y": 80,
        "wires": [
            [
                "6173b8ee.c73038"
            ]
        ]
    },
    {
        "id": "7368515c.c6292",
        "type": "debug",
        "z": "4384af8e.a7409",
        "name": "msg not cached",
        "active": true,
        "console": "false",
        "complete": "true",
        "x": 940,
        "y": 80,
        "wires": []
    },
    {
        "id": "a2c7e3af.c055f",
        "type": "telegram sender",
        "z": "e6f3db8c.48eac8",
        "name": "send",
        "bot": "f93d1a38.c43218",
        "x": 450,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "4091f971.ce23f8",
        "type": "function",
        "z": "e6f3db8c.48eac8",
        "name": "ask-lang",
        "func": "context.global.keyboardlang = { pending : true };\n// no user\nvar opts = {\n    disable_notification : true,\n    reply_to_message_id: msg.payload.messageId,\n    reply_markup: JSON.stringify({\n        keyboard: [ \n            [{text: 'Asturianu'}, {text: 'Español'}, ],\n            [{text: 'English'}, {text: 'Galego'}, ],\n            [{text: 'Português'}, {text: 'Português do Brasil'}, ]\n            ],\n      'resize_keyboard' : true, \n      'one_time_keyboard' : true\n      \n    })\n};\nmsg.payload.chatId = msg.payload.chatId? msg.payload.chatId : msg.chatId;\nmsg.payload.type = \"message\";\nmsg.payload.content = 'Escoge tu idioma / Choose your language:';\nmsg.payload.options = opts;\nreturn [msg, null];\n",
        "outputs": "2",
        "noerr": 0,
        "x": 260,
        "y": 100,
        "wires": [
            [
                "a2c7e3af.c055f"
            ],
            []
        ],
        "outputLabels": [
            "ask",
            "we have lang"
        ]
    },
    {
        "id": "f47aa14b.72c2b",
        "type": "telegram command",
        "z": "93cb4937.6fc068",
        "name": "/lang",
        "command": "/lang",
        "bot": "f93d1a38.c43218",
        "x": 70,
        "y": 1580,
        "wires": [
            [
                "5e792abd.c19084"
            ],
            []
        ]
    },
    {
        "id": "5e792abd.c19084",
        "type": "subflow:e6f3db8c.48eac8",
        "z": "93cb4937.6fc068",
        "name": "",
        "x": 365,
        "y": 1580,
        "wires": []
    },
    {
        "id": "4e79d201.8c93bc",
        "type": "subflow:e6f3db8c.48eac8",
        "z": "4384af8e.a7409",
        "x": 1340,
        "y": 40,
        "wires": []
    },
    {
        "id": "69a62d00.26b314",
        "type": "subflow:4384af8e.a7409",
        "z": "93cb4937.6fc068",
        "x": 1090,
        "y": 580,
        "wires": [
            [
                "3d60861f.0f7cea",
                "5b42be73.7ac18"
            ]
        ]
    },
    {
        "id": "b8099eb5.315a1",
        "type": "function",
        "z": "2b8628df.fdcca8",
        "name": "is lang set?",
        "func": "if (msg.payload.length === 0) {\n    // fallback\n    msg.lang = 'es';\n    msg.payload = msg.originalPayload;\n    return [msg, null];\n} else {\n    // user register\n    var lang = msg.payload[0].lang;\n    msg.payload = msg.originalPayload;\n    msg.lang = lang;\n    return [null, msg];\n}\n\n",
        "outputs": "2",
        "noerr": 0,
        "x": 2010,
        "y": 200,
        "wires": [
            [
                "6f05d6e0.346e98"
            ],
            [
                "6f05d6e0.346e98"
            ]
        ],
        "outputLabels": [
            "ask",
            "we have lang"
        ]
    },
    {
        "id": "1e94769b.4a6099",
        "type": "mongodb in",
        "z": "2b8628df.fdcca8",
        "mongodb": "51a7af07.93444",
        "name": "find users",
        "collection": "users",
        "operation": "find",
        "x": 1840,
        "y": 200,
        "wires": [
            [
                "b8099eb5.315a1"
            ]
        ]
    },
    {
        "id": "89857846.7f0968",
        "type": "function",
        "z": "2b8628df.fdcca8",
        "name": "query user",
        "func": "msg.chatId = msg.payload.chatId;\nmsg.originalPayload = msg.payload;\nmsg.payload = {\"telegramChatId\": msg.chatId };\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1670,
        "y": 200,
        "wires": [
            [
                "1e94769b.4a6099"
            ]
        ]
    },
    {
        "id": "999d94d.8b58768",
        "type": "function",
        "z": "2b8628df.fdcca8",
        "name": "no cached?",
        "func": "if (typeof msg.lang === 'undefined'  || msg.lang === null) {\n    return [msg, null];\n} else {\n    return [null, msg];\n}",
        "outputs": "2",
        "noerr": 0,
        "x": 1470,
        "y": 240,
        "wires": [
            [
                "89857846.7f0968"
            ],
            [
                "6f05d6e0.346e98"
            ]
        ],
        "outputLabels": [
            "no cached",
            "cached"
        ]
    },
    {
        "id": "bd354f75.34da3",
        "type": "Cache in",
        "z": "2b8628df.fdcca8",
        "name": "users-lang-out",
        "cache": "488013b6.1183ec",
        "keyType": "msg",
        "keyProperty": "payload.chatId",
        "valueType": "msg",
        "valueProperty": "lang",
        "useString": true,
        "x": 1260,
        "y": 240,
        "wires": [
            [
                "999d94d.8b58768"
            ]
        ]
    },
    {
        "id": "1986ad37.928233",
        "type": "split",
        "z": "2b8628df.fdcca8",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 1070,
        "y": 240,
        "wires": [
            [
                "bd354f75.34da3"
            ]
        ]
    },
    {
        "id": "6f05d6e0.346e98",
        "type": "function",
        "z": "2b8628df.fdcca8",
        "name": "join",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 2170,
        "y": 240,
        "wires": [
            [
                "2a9cd9af.ae25c6"
            ]
        ]
    },
    {
        "id": "e39f3d19.34c0f",
        "type": "subflow:6995c6a.1a0bf38",
        "z": "4384af8e.a7409",
        "name": "",
        "x": 1370,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "2a9cd9af.ae25c6",
        "type": "subflow:6995c6a.1a0bf38",
        "z": "2b8628df.fdcca8",
        "x": 960,
        "y": 400,
        "wires": [
            [
                "ca5f1316.5932c"
            ]
        ]
    },
    {
        "id": "b47755bb.64af48",
        "type": "function",
        "z": "93cb4937.6fc068",
        "name": "save",
        "func": "var date = new Date();\nvar formated = context.global.moment(date).format('YYYYMMDD');\nvar lon = msg.location.lon;\nvar lat = msg.location.lat;\nvar text = msg.location.text;\n\nvar chatId = msg.payload.chatId;\n\nvar newMsg = {\n    query : {\n        // solo un fuego por usuario por ahora\n        chatId : chatId \n    },\n    payload: {\n       $set: {        \n    location: {\n        lat: lat,\n        lon: lon,\n        text: text // msg.address\n    },\n    // _id: msg.chatId,\n    chatId: msg.chatId,\n    aviso: date,\n    dateformat: formated,\n    geo: {\n        type: \"Point\",\n        coordinates: [lon, lat]\n    }\n    }\n    },\n    location: {\n        lat: lat,\n        lon: lon\n    },\n    chatId: chatId,\n    \n}\nreturn newMsg;",
        "outputs": 1,
        "noerr": 0,
        "x": 690,
        "y": 2080,
        "wires": [
            [
                "3980d36e.8c5dfc",
                "585ace97.26933"
            ]
        ]
    },
    {
        "id": "3980d36e.8c5dfc",
        "type": "mongodb out",
        "z": "93cb4937.6fc068",
        "mongodb": "51a7af07.93444",
        "name": "save fuego",
        "collection": "avisosfuego",
        "payonly": false,
        "upsert": true,
        "multi": false,
        "operation": "update",
        "x": 970,
        "y": 2080,
        "wires": []
    },
    {
        "id": "76cd31f0.40e6",
        "type": "function",
        "z": "93cb4937.6fc068",
        "name": "inc fuegos",
        "func": "var day = context.global.moment.utc().dayOfYear();\n\nvar newMsg = {\n    query : {\n        day: day,\n        name: \"numfuegos\"\n    },\n    payload: {\n        $inc: { value: 1 }\n    }\n};\n\nreturn newMsg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 710,
        "y": 2040,
        "wires": [
            [
                "b9afc1e.d78db4"
            ]
        ]
    },
    {
        "id": "b9afc1e.d78db4",
        "type": "mongodb out",
        "z": "93cb4937.6fc068",
        "mongodb": "51a7af07.93444",
        "name": "update stats",
        "collection": "fstats",
        "payonly": false,
        "upsert": true,
        "multi": false,
        "operation": "update",
        "x": 970,
        "y": 2040,
        "wires": []
    },
    {
        "id": "f7be44bd.5d84f8",
        "type": "telegram callback_query",
        "z": "93cb4937.6fc068",
        "name": "callback_query",
        "command": "",
        "bot": "f93d1a38.c43218",
        "x": 120,
        "y": 2000,
        "wires": [
            [
                "b81751c6.f7b84"
            ]
        ]
    },
    {
        "id": "4964dee.a0c6e2",
        "type": "function",
        "z": "93cb4937.6fc068",
        "name": "answer confirm",
        "func": "var t = msg.i18n;\n\nvar show_alert = false; // you can set this to true to open a dialog with the answer in the client.\n\nmsg.payload.options = show_alert;\nvar location = global.get('location');\n\nif (location !== null) {\n    // node.log(\"Location confirm callback\");\n    global.set('location', null);\n    // msg.payload.content contains the callback data from the keyboard.\n    if (msg.payload.content === 'notify_fire') {\n        // msg.payload.content = i.t('📣 Alerta recibida, ¡gracias!');\n        msg.payload.content = t('Alerta recibida, ¡gracias!');\n        // node.log(location.payload.content);\n        return [msg, location, null];\n    } else if (msg.payload.content === 'no_notify_fire') {\n        var newMsg = {\n            payload: {\n                type: \"message\",\n                content: t('Aviso cancelado'),\n                chatId: msg.payload.chatId\n            },\n            i18n: t\n        };\n        return [null, null, newMsg];\n    }\n}",
        "outputs": "3",
        "noerr": 0,
        "x": 480,
        "y": 2000,
        "wires": [
            [
                "a1aac5f6.cf0228",
                "a13314cd.bfdb78"
            ],
            [
                "76cd31f0.40e6",
                "b47755bb.64af48",
                "b19e4ad8.90f058"
            ],
            [
                "a1aac5f6.cf0228"
            ]
        ],
        "outputLabels": [
            "Sí",
            "Location",
            "No"
        ]
    },
    {
        "id": "a13314cd.bfdb78",
        "type": "telegram sender",
        "z": "93cb4937.6fc068",
        "name": "send",
        "bot": "f93d1a38.c43218",
        "x": 690,
        "y": 1960,
        "wires": [
            []
        ]
    },
    {
        "id": "a1aac5f6.cf0228",
        "type": "subflow:c6a40c11.dfc6b",
        "z": "93cb4937.6fc068",
        "x": 770,
        "y": 2000,
        "wires": []
    },
    {
        "id": "e75ad8bd.147e48",
        "type": "debug",
        "z": "93cb4937.6fc068",
        "name": "previous confirm",
        "active": true,
        "console": "false",
        "complete": "true",
        "x": 470,
        "y": 2160,
        "wires": []
    },
    {
        "id": "311b07de.9a7238",
        "type": "debug",
        "z": "93cb4937.6fc068",
        "name": "send notis!",
        "active": true,
        "console": "false",
        "complete": "true",
        "x": 870,
        "y": 2220,
        "wires": []
    },
    {
        "id": "6fe5f874.cf4978",
        "type": "subflow:2b8628df.fdcca8",
        "z": "93cb4937.6fc068",
        "name": "",
        "x": 990,
        "y": 2160,
        "wires": []
    },
    {
        "id": "b19e4ad8.90f058",
        "type": "function",
        "z": "93cb4937.6fc068",
        "name": "args",
        "func": "var newMsg = {\n    type: \"vecinal\",\n    lon: msg.location.lon,\n    lat: msg.location.lat\n}\nreturn newMsg;",
        "outputs": 1,
        "noerr": 0,
        "x": 690,
        "y": 2160,
        "wires": [
            [
                "311b07de.9a7238",
                "6fe5f874.cf4978"
            ]
        ]
    },
    {
        "id": "585ace97.26933",
        "type": "subflow:d29a1c6a.5a89e",
        "z": "93cb4937.6fc068",
        "x": 990,
        "y": 2120,
        "wires": []
    },
    {
        "id": "2ccdf622.74c9ba",
        "type": "comment",
        "z": "93cb4937.6fc068",
        "name": "location attached is received also in the switch",
        "info": "",
        "x": 210,
        "y": 1940,
        "wires": []
    },
    {
        "id": "b81751c6.f7b84",
        "type": "subflow:4384af8e.a7409",
        "z": "93cb4937.6fc068",
        "x": 270,
        "y": 2000,
        "wires": [
            [
                "4964dee.a0c6e2",
                "e75ad8bd.147e48"
            ]
        ]
    },
    {
        "id": "9524e182.148b2",
        "type": "debug",
        "z": "2b8628df.fdcca8",
        "name": "positive?",
        "active": true,
        "console": "false",
        "complete": "true",
        "x": 450,
        "y": 160,
        "wires": []
    },
    {
        "id": "fbdce741.552298",
        "type": "debug",
        "z": "2b8628df.fdcca8",
        "name": "positive result",
        "active": true,
        "console": "false",
        "complete": "true",
        "x": 540,
        "y": 320,
        "wires": []
    },
    {
        "id": "74a88d3a.e6fe64",
        "type": "debug",
        "z": "2b8628df.fdcca8",
        "name": "users near?",
        "active": true,
        "console": "false",
        "complete": "true",
        "x": 890,
        "y": 80,
        "wires": []
    },
    {
        "id": "50bb0492.b20fbc",
        "type": "debug",
        "z": "2b8628df.fdcca8",
        "name": "user near",
        "active": true,
        "console": "false",
        "complete": "true",
        "x": 1240,
        "y": 280,
        "wires": []
    },
    {
        "id": "d1901604.d1e3a8",
        "type": "debug",
        "z": "2b8628df.fdcca8",
        "name": "user result",
        "active": true,
        "console": "false",
        "complete": "true",
        "x": 2330,
        "y": 180,
        "wires": []
    },
    {
        "id": "3eff4b32.9114b4",
        "type": "subflow:465e67f.6ebf598",
        "z": "128790f6.dee0df",
        "x": 1520,
        "y": 340,
        "wires": []
    }
]
