telegram-bot/flows.json
[
    {
        "id": "93cb4937.6fc068",
        "type": "tab",
        "label": "Flow Inicial",
        "disabled": false,
        "info": ""
    },
    {
        "id": "c644db46.3854c8",
        "type": "subflow",
        "name": "nuevo fuego",
        "info": "Input: A msg for geocode or a  message type location with:\nmsg.location.lon and msg.location.lon",
        "in": [
            {
                "x": 40,
                "y": 120,
                "wires": [
                    {
                        "id": "730cf241.49734c"
                    }
                ]
            }
        ],
        "out": []
    },
    {
        "id": "c6a40c11.dfc6b",
        "type": "subflow",
        "name": "volver",
        "info": "",
        "in": [
            {
                "x": 80,
                "y": 120,
                "wires": [
                    {
                        "id": "49b822b4.2c81fc"
                    }
                ]
            }
        ],
        "out": []
    },
    {
        "id": "156e20df.86399f",
        "type": "subflow",
        "name": "send location",
        "info": "Envía la localización al telegram",
        "in": [
            {
                "x": 140,
                "y": 160,
                "wires": [
                    {
                        "id": "a95a87ec.d0c648"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 900,
                "y": 160,
                "wires": [
                    {
                        "id": "748b9d33.3e7354",
                        "port": 0
                    }
                ]
            }
        ],
        "inputLabels": [
            "location.lat & lon"
        ]
    },
    {
        "id": "9968fcc5.ed33c",
        "type": "subflow",
        "name": "menu distancia",
        "info": "",
        "in": [
            {
                "x": 100,
                "y": 120,
                "wires": [
                    {
                        "id": "4a109a88.7389a4"
                    }
                ]
            }
        ],
        "out": []
    },
    {
        "id": "76bd701f.29d0f",
        "type": "subflow",
        "name": "start",
        "info": "",
        "in": [
            {
                "x": 60,
                "y": 100,
                "wires": [
                    {
                        "id": "596d56e2.54f5e8"
                    }
                ]
            }
        ],
        "out": []
    },
    {
        "id": "465e67f.6ebf598",
        "type": "subflow",
        "name": "start & delay",
        "info": "",
        "in": [
            {
                "x": 60,
                "y": 40,
                "wires": [
                    {
                        "id": "e864b674.6fd2c8"
                    }
                ]
            }
        ],
        "out": []
    },
    {
        "id": "2b8628df.fdcca8",
        "type": "subflow",
        "name": "send notifications",
        "info": "",
        "in": [
            {
                "x": 40,
                "y": 100,
                "wires": [
                    {
                        "id": "d76ddf98.d3de9"
                    }
                ]
            }
        ],
        "out": []
    },
    {
        "id": "4a3c7cc0.965dd4",
        "type": "subflow",
        "name": "to map",
        "info": "",
        "in": [
            {
                "x": 180,
                "y": 220,
                "wires": [
                    {
                        "id": "cf23a5a.9eacd58"
                    }
                ]
            }
        ],
        "out": []
    },
    {
        "id": "d29a1c6a.5a89e",
        "type": "subflow",
        "name": "neighbour to map",
        "info": "",
        "in": [
            {
                "x": 60,
                "y": 100,
                "wires": [
                    {
                        "id": "6187e791.e5f488"
                    }
                ]
            }
        ],
        "out": []
    },
    {
        "id": "91777bb3.922328",
        "type": "subflow",
        "name": "OnMapConnected",
        "info": "",
        "in": [
            {
                "x": 160,
                "y": 40,
                "wires": []
            }
        ],
        "out": [
            {
                "x": 680,
                "y": 40,
                "wires": [
                    {
                        "id": "620ec824.128428",
                        "port": 0
                    },
                    {
                        "id": "91777bb3.922328",
                        "port": 0
                    }
                ]
            }
        ],
        "inputLabels": [
            "forwards in to out"
        ],
        "outputLabels": [
            "out + on map connected"
        ]
    },
    {
        "id": "2f0217a5.051978",
        "type": "subflow",
        "name": "false positive",
        "info": "",
        "in": [
            {
                "x": 80,
                "y": 80,
                "wires": [
                    {
                        "id": "a30ccf58.3a1e"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 1180,
                "y": 80,
                "wires": [
                    {
                        "id": "7f8ce0c9.99ac4",
                        "port": 0
                    },
                    {
                        "id": "1f728a28.973446",
                        "port": 0
                    },
                    {
                        "id": "4d5be381.f478fc",
                        "port": 0
                    }
                ]
            }
        ]
    },
    {
        "id": "e81a68fa.695e38",
        "type": "subflow",
        "name": "tsend",
        "info": "",
        "in": [
            {
                "x": 60,
                "y": 40,
                "wires": [
                    {
                        "id": "dd683e99.7c126"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 560,
                "y": 40,
                "wires": [
                    {
                        "id": "dd683e99.7c126",
                        "port": 0
                    }
                ]
            }
        ]
    },
    {
        "id": "4384af8e.a7409",
        "type": "subflow",
        "name": "lang",
        "info": "",
        "in": [
            {
                "x": 100,
                "y": 100,
                "wires": [
                    {
                        "id": "5541b1d7.23da4"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 620,
                "y": 100,
                "wires": [
                    {
                        "id": "5541b1d7.23da4",
                        "port": 0
                    }
                ]
            }
        ]
    },
    {
        "id": "94b874d7.e0e478",
        "type": "subflow",
        "name": "check lang change",
        "info": "",
        "in": [
            {
                "x": 100,
                "y": 80,
                "wires": [
                    {
                        "id": "e3b00d54.9cd4e"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 600,
                "y": 80,
                "wires": [
                    {
                        "id": "e3b00d54.9cd4e",
                        "port": 0
                    }
                ]
            }
        ]
    },
    {
        "id": "f93d1a38.c43218",
        "type": "telegram bot",
        "z": "",
        "botname": "fuegos_bot",
        "usernames": "",
        "chatids": ""
    },
    {
        "id": "acfb3ae8.536858",
        "type": "ftp",
        "z": "",
        "host": "nrt4.modaps.eosdis.nasa.gov",
        "port": "21",
        "secureOptions": "",
        "user": "comunes",
        "connTimeout": "",
        "pasvTimeout": "",
        "keepalive": ""
    },
    {
        "id": "9f205dc2.bd858",
        "type": "google-api-config",
        "z": ""
    },
    {
        "id": "51a7af07.93444",
        "type": "mongodb",
        "z": "",
        "hostname": "127.0.0.1",
        "port": "27017",
        "db": "fuegos",
        "name": ""
    },
    {
        "id": "60f55fe6.6c729",
        "type": "ui_base",
        "theme": {
            "name": "theme-dark",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#097479",
                    "value": "#097479",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#111111",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#000000",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#0eb8c0",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            }
        },
        "site": {
            "name": "Tod@s contra el Fuego",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "dac4dde2.62c72",
        "type": "ui_tab",
        "z": "",
        "name": "Stats",
        "icon": "dashboard",
        "order": 1
    },
    {
        "id": "601660c.cd104a",
        "type": "ui_group",
        "z": "",
        "name": "Estadísticas",
        "tab": "dac4dde2.62c72",
        "disp": true,
        "width": "6"
    },
    {
        "id": "103d89d5.f04ab6",
        "type": "persist-store",
        "z": "",
        "filename": "dayly-file-alerts.json",
        "interval": "60"
    },
    {
        "id": "2c23f46.8edd30c",
        "type": "persist-store",
        "z": "",
        "filename": "nasa-fire-active.json",
        "interval": "60"
    },
    {
        "id": "db913a18.f8bf88",
        "type": "persist-store",
        "z": "2b8628df.fdcca8",
        "filename": "near-neighbours.json",
        "interval": "60"
    },
    {
        "id": "cb34ee3.be2b31",
        "type": "persist-store",
        "z": "",
        "filename": "suscriptions-in-time.json",
        "interval": "60"
    },
    {
        "id": "7e56d503.83b0ac",
        "type": "ftp in",
        "z": "93cb4937.6fc068",
        "ftp": "acfb3ae8.536858",
        "operation": "get",
        "filename": "",
        "localFilename": "",
        "name": "ftp modis",
        "x": 540,
        "y": 40,
        "wires": [
            [
                "42bf25f9.43f84c"
            ]
        ]
    },
    {
        "id": "737baffb.9872",
        "type": "function",
        "z": "93cb4937.6fc068",
        "name": "ftp modis opts",
        "func": "var moment = context.global.moment.utc();\nvar day = moment.dayOfYear();\nvar year = moment.year();\n\n// https://earthdata.nasa.gov/earth-observation-data/near-real-time/download-nrt-data\n// \n// Falta ver que es esto:\n// ftp://nrt3.modaps.eosdis.nasa.gov/allData/6/MOD14/2017/299/MOD14.A2017299.1645.006.NRT.hdf.met\n// ftp://nrt3.modaps.eosdis.nasa.gov/allData/6/MYD14/2017/299/MYD14.A2017299.0000.006.NRT.hdf.met\n// ftp://nrt3.modaps.eosdis.nasa.gov/allData/6/MOD14/2017/299/MOD14.A2017299.1645.006.NRT.hdf\n// ftp://nrt3.modaps.eosdis.nasa.gov/allData/6/MYD14/2017/299/MYD14.A2017299.0000.006.NRT.hdf\n\n// Cada 60 * 125 min\nvar newMsg = {\n    filename: '/FIRMS/c6/Europe/MODIS_C6_Europe_MCD14DL_NRT_' + year + day + '.txt',\n    localFilename: global.get(\"ftp-path\") + 'modis.txt'\n};\n// console.log(\"getting modis\");\n// console.log(newMsg);\nreturn newMsg;",
        "outputs": 1,
        "noerr": 0,
        "x": 380,
        "y": 40,
        "wires": [
            [
                "7e56d503.83b0ac"
            ]
        ]
    },
    {
        "id": "7aa07a53.1c8ec4",
        "type": "file in",
        "z": "93cb4937.6fc068",
        "name": "read",
        "filename": "",
        "format": "utf8",
        "chunk": false,
        "sendError": true,
        "x": 490,
        "y": 220,
        "wires": [
            [
                "b599e89d.2138b8",
                "3a5ab6ad.0e340a"
            ]
        ]
    },
    {
        "id": "b599e89d.2138b8",
        "type": "csv",
        "z": "93cb4937.6fc068",
        "name": "modis csv",
        "sep": ",",
        "hdrin": true,
        "hdrout": "",
        "multi": "one",
        "ret": "\\n",
        "temp": "",
        "x": 660,
        "y": 220,
        "wires": [
            [
                "9ef9c4c5.a68d08",
                "56fafc54.228824"
            ]
        ]
    },
    {
        "id": "bdb6d01f.a399d",
        "type": "telegram command",
        "z": "93cb4937.6fc068",
        "name": "/start",
        "command": "/start",
        "bot": "f93d1a38.c43218",
        "x": 90,
        "y": 340,
        "wires": [
            [
                "c757b5f5.bafb68"
            ],
            [
                "1eddeb25.368605"
            ]
        ]
    },
    {
        "id": "33879e8b.3151b2",
        "type": "function",
        "z": "93cb4937.6fc068",
        "name": "other replies",
        "func": "var i = context.global.i18next;\n//if(context.global.keyboard && context.global.keyboard.pending)\n//{\n//    context.global.keyboard.pending = false;\n    if(msg.payload.content === i.t('Desuscribirme'))\n    {\n        msg.payload.content = i.t('👍 Desuscrito');\n        return [msg, null];   \n    }\n    else if(msg.payload.content === i.t('♥ Apoya esta iniciativa'))\n    {\n        msg.payload.content =  i.t('¿Sabías que los fuegos producen tanto CO² como los coches y aproximadamente ⅕ de todas nuestras emisiones?') + '\\r\\n\\r\\n'\n        msg.payload.content += i.t('Puedes ayudarnos (y al medioambiente) dando difusión a @TodosContraElFuego_bot entre tus contactos y grupos para que más gente lo use.') + '\\r\\n\\r\\n';\n        msg.payload.content += i.t('También puedes apoyarnos con alguna donación. Así podremos pagar nuestros servidores, servicios de terceros, usar otras plataformas diferentes de Telegram y pagar algún café a los desarrolladores:');\n        msg.payload.content += '\\r\\n➡️ https://comunes.org/donate\\r\\n\\r\\n';\n\n        return [msg, null];\n\n    }\n    else if(msg.payload.content === i.t('📖 Más info'))\n    {   msg.payload.content =  i.t('© Copyleft Asociación Comunes bajo licencia AGPLv3') + '\\r\\n';\n        msg.payload.content += \"https://comunes.org\\r\\n\";\n        msg.payload.content += i.t('Código:') + 'https://github.com/comunes/todos-contra-el-fuego\\r\\n\\r\\n';\n        \n        msg.payload.content += i.t('LIMITACIÓN DE LA RESPONSABILIDAD:') + '\\r\\n\\r\\n'; \n        \n        msg.payload.content += i.t('EN NINGÚN CASO A MENOS QUE SEA REQUERIDO POR UNA LEY APLICABLE O ACUERDO ESCRITO NINGÚN TITULAR DE LOS DERECHOS DE AUTOR (“COPYRIGHT”), O NINGÚN TERCERO QUE MODIFIQUE Y/O TRANSMITA EL PROGRAMA COMO SE PERMITE ANTERIORMENTE, SERÁ RESPONSABLE ANTE USTED POR DAÑOS, INCLUYENDO CUALESQUIERA DAÑOS GENERALES, PARTICULARES, IMPREVISTOS O DERIVADOS DEL USO O IMPOSIBILIDAD DE USO DEL PROGRAMA (INCLUYENDO, PERO NO LIMITADO A, LA PÉRDIDA DE DATOS, DATOS GENERADOS INCORRECTOS, PÉRDIDAS SUFRIDAS POR USTED O POR TERCERAS PERSONAS, O LOS FALLOS DEL PROGRAMA PARA OPERAR CON OTROS PROGRAMAS), INCLUSO SI DICHO TITULAR O UN TERCERO HA SIDO ADVERTIDO DE LA POSIBILIDAD DE TALES DAÑOS.') + '\\r\\n\\r\\n';\n        \n        msg.payload.content += i.t('POLÍTICA DE PRIVACIDAD:') + '\\r\\n\\r\\n';\n        msg.payload.content += i.t('No compartimos ninguna información con terceros. La información recogida por esta aplicación tiene el único fin ayudar en la prevención y extinción de fuegos principalmente forestales.') + '\\r\\n\\r\\n';\n\n        msg.payload.content += i.t('FUENTES DE DATOS:') + '\\r\\n\\r\\n';\n        msg.payload.content += i.t('Además de las alertas proporcionadas por nuestros usuari@s, usamos datos de fuegos activos proporcionados por la NASA (programa MODIS y VIIRS). Ver mapa: http://effis.jrc.ec.europa.eu/static/effis_current_situation/public/index.html') + '\\r\\n';\n        msg.payload.content += \"«We acknowledge the use of data and imagery from LANCE FIRMS operated by the NASA/GSFC/Earth Science Data and Information System (ESDIS) with funding provided by NASA/HQ».\" + '\\r\\n';\n        msg.payload.content += i.t('Si quieres que añadamos otras fuentes de datos sobre fuegos, no dudes en contactar con nosotros: info@comunes.org') + '\\r\\n\\r\\n';\n        \n        msg.payload.content += i.t('PREGUNTAS FRECUENTES:') + '\\r\\n\\r\\n';\n        msg.payload.content += i.t('➖ ¿Me puedo suscribir a varias zonas?: Por ahora no directamente. Solo con un truco, añadiendo a @TodosContraElFuego_bot como miembro a un grupo y que ese grupo esté subscrito a otra zona.') + '\\r\\n';\n        msg.payload.content += i.t('➖ ¿Hay \"falsos positivos\"?: Sí los hay. Puedes recibir alguna notificación de fuego por ej. de refinerías o incineradoras. Puedes pulsar a la localización del falso positivo y responder con un mensaje que diga \"falso positivo\" o \"es una industria\" para que estos fuegos no sean notificados.') + '\\r\\n';\n        msg.payload.content += i.t('Nos puedes ayudar mucho proporcionándonos otros feedbacks sobre la veracidad de las notificaciones de fuego, sobre el estado del fuego, etc. Siplemente responde a la localización de una notificación de fuego (pulsando sobre ella y seleccionando \"Responder\") con algún comentario sobre ese fuego.') + '\\r\\n';\n        msg.payload.content += i.t('➖ ¿Puedo recibir notificaciones en una distancia diferente o mayor? Sí, basta con estar subscrito y teclear, por ejemplo, \"a 17 km\" si quisieramos recibir notificaciones en un radio de 17 kilómetros (o mayor si queremos hacer pruebas).') + '\\r\\n';\n        msg.payload.content += i.t('➖ ¿No voy a recibir demasiadas notificaciones?: En principio no deberías, ya que agrupamos las notificaciones de las diferentes fuentes y solo avisamos una vez al día por fuego. Por ejemplo no repetimos notificaciones si algún vecino ya ha notificado un mismo fuego en la zona previamente.') + '\\r\\n\\r\\n';\n        \n        msg.payload.content += i.t('OTROS:') + '\\r\\n\\r\\n';\n        msg.payload.content += i.t('➖ Por ahora solo procesamos datos de fuegos de la NASA en Europa, pero si nos lo pedís podemos ampliar nuestro radio de acción.') + '\\r\\n';\n        msg.payload.content += i.t('➖ Puedes añadir a @TodosContraElFuego_bot a un grupo como miembro y recibir notificaciones de cierta área en ese grupo.') + '\\r\\n';\n        msg.payload.content += i.t('➖ Puedes votar con alegría ⭐️⭐️⭐️⭐️⭐️ nuestro bot en https://telegram.me/storebot?start=TodosContraElFuego_bot.') +  '\\r\\n\\r\\n';\n        \n        msg.payload.content += i.t('Feedback, sugerencias, bugs, etc: @vj_rj') + '\\r\\n\\r\\n';\n        \n        msg.payload.content += i.t(\"¡Gracias!\");\n        return [msg, null];\n    }\n    else {\n        msg.payload.content = i.t('Opción de teclado desconocida');\n        return [null, msg];   \n    }\n//}\n",
        "outputs": "5",
        "noerr": 0,
        "x": 770,
        "y": 580,
        "wires": [
            [
                "9ac27b91.95fd38"
            ],
            [],
            [],
            [],
            []
        ]
    },
    {
        "id": "1b848c63.4e2bf4",
        "type": "function",
        "z": "93cb4937.6fc068",
        "name": "escribir posición",
        "func": "var i = context.global.i18next;\nif(context.global.keyboard.pending)\n{\n    context.global.keyboard.pending = false;\n    msg.payload.type = 'message';\n    msg.payload.content = i.t('Indícanos la posición a vigilar (por ej. tu pueblo, una calle, etc). Si usas un móvil también puedes adjuntar una ubicación pulsando el clip');\n    msg.payload.topic = \"sus\";\n    \n    var opts = {\n      reply_markup: JSON.stringify({\n        force_reply: true,\n      })\n    };\n    msg.payload.options = opts;\n    return msg;\n}\n",
        "outputs": "1",
        "noerr": 0,
        "x": 610,
        "y": 480,
        "wires": [
            [
                "c89c411b.79f73"
            ]
        ]
    },
    {
        "id": "3ce9c795.c84558",
        "type": "telegram sender",
        "z": "93cb4937.6fc068",
        "name": "ask",
        "bot": "f93d1a38.c43218",
        "x": 1030,
        "y": 480,
        "wires": [
            [
                "57988778.321178"
            ]
        ]
    },
    {
        "id": "a5ababbd.b45f98",
        "type": "switch",
        "z": "93cb4937.6fc068",
        "name": "opciones start menu",
        "property": "payload.content",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "/start@rednodetest_bot",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "/start@TodosContraElFuego_bot",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "/inicio@rednodetest_bot",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "/inicio@TodosContraElFuego_bot",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "i18n[\"⬅️ Volver\"]",
                "vt": "msg"
            },
            {
                "t": "eq",
                "v": "i18n[\"⬅️ Cancelar\"]",
                "vt": "msg"
            },
            {
                "t": "eq",
                "v": "i18n[\"📣 Suscribirme a fuegos en mi zona\"]",
                "vt": "msg"
            },
            {
                "t": "eq",
                "v": "/suscribirme@rednodetest_bot",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "/suscribirme@TodosContraElFuego_bot",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "i18n[\"Desuscribirme\"]",
                "vt": "msg"
            },
            {
                "t": "eq",
                "v": "i18n[\"🔥 Notificar un fuego nuevo\"]",
                "vt": "msg"
            },
            {
                "t": "eq",
                "v": "i18n[\"♥ Apoya esta iniciativa\"]",
                "vt": "msg"
            },
            {
                "t": "eq",
                "v": "i18n[\"📝 Escribir mi posición\"]",
                "vt": "msg"
            },
            {
                "t": "eq",
                "v": "i18n[\"📖 Más info\"]",
                "vt": "msg"
            },
            {
                "t": "eq",
                "v": "i18n[\"📝 Escribir localización fuego\"]",
                "vt": "msg"
            },
            {
                "t": "regex",
                "v": "^(a |)[0-9]*[ ]*km( around|)",
                "vt": "str",
                "case": true
            },
            {
                "t": "eq",
                "v": "i18n['📣 Suscrito a nuevos fuegos']",
                "vt": "msg"
            },
            {
                "t": "eq",
                "v": "/info@rednodetest_bot",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "/info@TodosContraElFuego_bot",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "/distancia@rednodetest_bot",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "i18n[\"📍 El fuego está en mi ubicación\"]",
                "vt": "msg"
            },
            {
                "t": "eq",
                "v": "/distancia@TodosContraElFuego_bot",
                "vt": "str"
            },
            {
                "t": "regex",
                "v": "(falsa alarma|falso positivo|es una industria|industria)",
                "vt": "str",
                "case": true
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "outputs": 24,
        "x": 300,
        "y": 540,
        "wires": [
            [
                "55ebd8f8.436e38"
            ],
            [
                "55ebd8f8.436e38"
            ],
            [
                "55ebd8f8.436e38"
            ],
            [
                "55ebd8f8.436e38"
            ],
            [
                "55ebd8f8.436e38"
            ],
            [
                "55ebd8f8.436e38"
            ],
            [
                "be0cbd6.2efaf4"
            ],
            [
                "be0cbd6.2efaf4"
            ],
            [
                "be0cbd6.2efaf4"
            ],
            [
                "529f65ba.a3f03c",
                "49306cf6.a72494"
            ],
            [
                "1292920f.64d29e",
                "cbe0e85b.a53018"
            ],
            [
                "49306cf6.a72494"
            ],
            [
                "1b848c63.4e2bf4"
            ],
            [
                "49306cf6.a72494"
            ],
            [
                "60ee8a37.032aa4"
            ],
            [
                "82292481.dd9428"
            ],
            [
                "f3249bab.90eae8"
            ],
            [
                "f3249bab.90eae8"
            ],
            [
                "f3249bab.90eae8"
            ],
            [
                "539a53d4.268c7c"
            ],
            [
                "60ee8a37.032aa4"
            ],
            [
                "539a53d4.268c7c"
            ],
            [
                "9f730cf9.c7a3b"
            ],
            [
                "acf185e6.858808"
            ]
        ]
    },
    {
        "id": "89de9b72.813528",
        "type": "inject",
        "z": "93cb4937.6fc068",
        "name": "process fire info",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "600",
        "crontab": "",
        "once": false,
        "x": 150,
        "y": 220,
        "wires": [
            [
                "88f2e71c.8fcf88",
                "7eabd297.d8f9ec"
            ]
        ]
    },
    {
        "id": "67b74079.40192",
        "type": "inject",
        "z": "93cb4937.6fc068",
        "name": "get modis via ftp",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "1200",
        "crontab": "",
        "once": false,
        "x": 150,
        "y": 40,
        "wires": [
            [
                "737baffb.9872"
            ]
        ]
    },
    {
        "id": "be0cbd6.2efaf4",
        "type": "function",
        "z": "93cb4937.6fc068",
        "name": "ask location to sub",
        "func": "var i = context.global.i18next;\nif (msg.payload.chatId > 0) {\n    if(context.global.keyboard.pending) {\n        context.global.keyboard.pending = false;\n        context.global.keyboard = { pending : true };\n        var opts = {\n            // reply_to_message_id: msg.payload.messageId,\n            \n            reply_markup: JSON.stringify({\n                force_reply: true,\n                keyboard: [ \n                    [{text: i.t('📍 Compartir mi posición'), request_location: true}, \n                     {text: i.t('📝 Escribir mi posición')}\n                    ],\n                    [{text: i.t('⬅️ Cancelar')}]\n                ], \n\n                'resize_keyboard' : true, \n                'one_time_keyboard' : true\n            })\n        };\n    }\n    msg.payload.content = i.t('¿Quieres compartir tu posición o escribir el nombre de la zona a vigilar (por ejemplo un pueblo, una dirección, etc)? Selecciona una de las opciones. Activa la información de tu ubicación 📍 en tu móvil si quieres compartir tu ubicación');\n    msg.payload.options = opts;\n    global.set('locationtopic', 'sus');\n    return [msg, null];\n} else {\n    global.set('locationtopic', 'sus');\n    return [null, msg];\n}",
        "outputs": "2",
        "noerr": 0,
        "x": 610,
        "y": 400,
        "wires": [
            [
                "98bfcdd0.736cf"
            ],
            [
                "1b848c63.4e2bf4"
            ]
        ]
    },
    {
        "id": "189c6a9b.aab975",
        "type": "google geocoding",
        "z": "93cb4937.6fc068",
        "name": "Geo",
        "geocodeBy": "address",
        "address": "",
        "lat": "",
        "lon": "",
        "googleAPI": "9f205dc2.bd858",
        "bounds": "",
        "language": "",
        "region": "",
        "components": "",
        "x": 1570,
        "y": 560,
        "wires": [
            [
                "70cddff9.2dbfb",
                "52271fef.7036"
            ]
        ]
    },
    {
        "id": "57988778.321178",
        "type": "telegram reply",
        "z": "93cb4937.6fc068",
        "name": "get reply",
        "bot": "f93d1a38.c43218",
        "x": 1220,
        "y": 480,
        "wires": [
            [
                "79a24d67.be0024"
            ]
        ]
    },
    {
        "id": "22b64555.dd2e7a",
        "type": "function",
        "z": "93cb4937.6fc068",
        "name": "ask fire",
        "func": "var i = context.global.i18next;\nif (msg.payload.chatId > 0) {\n    var opts = {\n        // reply_to_message_id: msg.payload.messageId,\n            \n        reply_markup: JSON.stringify({\n            force_reply: true,\n            keyboard: [ \n                [{text: i.t('📍 El fuego está en mi ubicación'), request_location: true}, \n                 {text: i.t('📝 Escribir localización fuego')}\n                ],\n                [{text: i.t('⬅️ Cancelar')}]\n            ], \n            'resize_keyboard' : true, \n            'one_time_keyboard' : true\n        })\n    };\n\n    msg.payload.content = i.t('¿Quieres compartir tu ubicación o escribir la localización del fuego (por ejemplo un pueblo, una dirección, etc)? Selecciona una de las opciones. Activa la información de tu ubicación 📍 en tu móvil si quieres compartir tu ubicación');\n    msg.payload.options = opts;\n    global.set('locationtopic', 'nuevofuego');\n    // msg.payload.topic = \"nuevofuego\";\n    return [msg, null];\n} else {\n    global.set('locationtopic', 'nuevofuego');\n    return [null, msg];\n}\n",
        "outputs": "2",
        "noerr": 0,
        "x": 860,
        "y": 440,
        "wires": [
            [
                "ff13d2ac.cce79"
            ],
            [
                "60ee8a37.032aa4"
            ]
        ]
    },
    {
        "id": "bed1aee.d1d745",
        "type": "mongodb out",
        "z": "93cb4937.6fc068",
        "mongodb": "51a7af07.93444",
        "name": "save subs",
        "collection": "subscriptions",
        "payonly": false,
        "upsert": true,
        "multi": false,
        "operation": "update",
        "x": 1990,
        "y": 580,
        "wires": []
    },
    {
        "id": "62ade476.c012ec",
        "type": "debug",
        "z": "93cb4937.6fc068",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "payload",
        "x": 1750,
        "y": 380,
        "wires": []
    },
    {
        "id": "79a24d67.be0024",
        "type": "change",
        "z": "93cb4937.6fc068",
        "name": "set location",
        "rules": [
            {
                "t": "set",
                "p": "location.address",
                "pt": "msg",
                "to": "payload.content",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "chatId",
                "pt": "msg",
                "to": "payload.chatId",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "address",
                "pt": "msg",
                "to": "payload.content",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1410,
        "y": 560,
        "wires": [
            [
                "189c6a9b.aab975"
            ]
        ]
    },
    {
        "id": "10d562eb.b0de5d",
        "type": "mongodb out",
        "z": "93cb4937.6fc068",
        "mongodb": "51a7af07.93444",
        "name": "update subs",
        "collection": "subscriptions",
        "payonly": false,
        "upsert": false,
        "multi": false,
        "operation": "update",
        "x": 810,
        "y": 640,
        "wires": []
    },
    {
        "id": "e0bc7e33.2a795",
        "type": "debug",
        "z": "93cb4937.6fc068",
        "name": "otherwise",
        "active": true,
        "console": "false",
        "complete": "true",
        "x": 820,
        "y": 680,
        "wires": []
    },
    {
        "id": "f26677b3.07e7f8",
        "type": "function",
        "z": "93cb4937.6fc068",
        "name": "Subscrito!",
        "func": "var i = context.global.i18next;\nvar newMsg = {\n    payload : {\n        content : i.t('👍 ¡Suscrito/a!'),\n        type: \"message\",\n        chatId: msg.query.chatId\n    }\n}\n\nreturn newMsg;",
        "outputs": 1,
        "noerr": 0,
        "x": 830,
        "y": 720,
        "wires": [
            [
                "abe7d7fb.2c4708",
                "c60a2456.adac68"
            ]
        ]
    },
    {
        "id": "e864b674.6fd2c8",
        "type": "delay",
        "z": "465e67f.6ebf598",
        "name": "",
        "pauseType": "delay",
        "timeout": "2",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 200,
        "y": 40,
        "wires": [
            [
                "bf50334e.7ac3a"
            ]
        ]
    },
    {
        "id": "4f819d77.37fcc4",
        "type": "debug",
        "z": "93cb4937.6fc068",
        "name": "chatId",
        "active": false,
        "console": "false",
        "complete": "chatId",
        "x": 1930,
        "y": 440,
        "wires": []
    },
    {
        "id": "6a17cf63.4a125",
        "type": "mongodb out",
        "z": "93cb4937.6fc068",
        "mongodb": "51a7af07.93444",
        "name": "remove subs",
        "collection": "subscriptions",
        "payonly": false,
        "upsert": true,
        "multi": true,
        "operation": "delete",
        "x": 770,
        "y": 520,
        "wires": []
    },
    {
        "id": "529f65ba.a3f03c",
        "type": "function",
        "z": "93cb4937.6fc068",
        "name": "query chatId",
        "func": "msg.payload = {\"chatId\": msg.payload.chatId };\n// console.log(msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 590,
        "y": 520,
        "wires": [
            [
                "6a17cf63.4a125",
                "64500fb0.8e131"
            ]
        ]
    },
    {
        "id": "c93b29f2.6b85b8",
        "type": "inject",
        "z": "93cb4937.6fc068",
        "name": "delete subs",
        "topic": "",
        "payload": "test",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 130,
        "y": 720,
        "wires": [
            [
                "32df6da4.7b9782"
            ]
        ]
    },
    {
        "id": "32df6da4.7b9782",
        "type": "function",
        "z": "93cb4937.6fc068",
        "name": "test id",
        "func": "var newMsg = {\n    payload: {\n        chatId: 666,\n        content : \"Plaza de la Luna, Madrid\"\n    }}\nreturn newMsg;",
        "outputs": 1,
        "noerr": 0,
        "x": 370,
        "y": 720,
        "wires": [
            [
                "529f65ba.a3f03c"
            ]
        ]
    },
    {
        "id": "50883145.39176",
        "type": "debug",
        "z": "93cb4937.6fc068",
        "name": "geo a salvar",
        "active": false,
        "console": "false",
        "complete": "geo",
        "x": 1950,
        "y": 480,
        "wires": []
    },
    {
        "id": "f0663c0a.d0646",
        "type": "mongodb in",
        "z": "93cb4937.6fc068",
        "mongodb": "51a7af07.93444",
        "name": "find sub",
        "collection": "subscriptions",
        "operation": "find",
        "x": 880,
        "y": 800,
        "wires": [
            [
                "54c7f5d3.8c4e7c",
                "6cfebdf8.84ef74"
            ]
        ]
    },
    {
        "id": "7636ac6a.243324",
        "type": "function",
        "z": "93cb4937.6fc068",
        "name": "query sub",
        "func": "msg.chatId = msg.payload.chatId;\nmsg.payload = {\"chatId\": msg.payload.chatId };\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 720,
        "y": 800,
        "wires": [
            [
                "f0663c0a.d0646"
            ]
        ]
    },
    {
        "id": "9f58b262.a60d",
        "type": "telegram command",
        "z": "93cb4937.6fc068",
        "name": "/info",
        "command": "/info",
        "bot": "f93d1a38.c43218",
        "x": 90,
        "y": 800,
        "wires": [
            [
                "f3249bab.90eae8"
            ],
            []
        ]
    },
    {
        "id": "9637d9cb.5f8a38",
        "type": "mongodb in",
        "z": "2b8628df.fdcca8",
        "mongodb": "51a7af07.93444",
        "name": "find subs near",
        "collection": "subscriptions",
        "operation": "find",
        "x": 360,
        "y": 100,
        "wires": [
            [
                "ca5f1316.5932c",
                "c7da78e3.f6ea28"
            ]
        ]
    },
    {
        "id": "59c0890d.7d97e8",
        "type": "function",
        "z": "2b8628df.fdcca8",
        "name": "near?",
        "func": "msg.payload = {\n     geo:\n       { $near : {\n            $geometry: { \n                type: \"Point\",  \n                coordinates: [ msg.lon, msg.lat]\n            },\n            $minDistance: 0,\n            $maxDistance: 1000000\n          }\n       }\n   }\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 210,
        "y": 100,
        "wires": [
            [
                "9637d9cb.5f8a38"
            ]
        ]
    },
    {
        "id": "ca5f1316.5932c",
        "type": "function",
        "z": "2b8628df.fdcca8",
        "name": "calc distances",
        "func": "var i18n = context.global.i18next;\n\n// node.log(\"Find users near \" + msg.payload.length);\nfor(var i = msg.payload.length; i--; ) {\n\n// node.log(\"Enter chatId: \" + msg.payload[i].chatId);\n\n// https://www.npmjs.com/package/geolib\nvar dist = context.global.geolib.getDistance(\n    { latitude: msg.payload[i].location.lat, \n      longitude: msg.payload[i].location.lon\n    },\n    { latitude: msg.lat, \n      longitude: msg.lon\n    }\n); \n// node.log(\"end calc dist chatId: \" + msg.payload[i].chatId);\n\nvar maxDist =  msg.payload[i].distance;\n// node.log(\"chatId: \" + msg.payload[i].chatId + \" maxDist \" + maxDist + \" dist \" + dist/1000);\n\nif (dist/1000 <= maxDist) {\n    var km = Math.round(dist/1000 * 10) / 10\n    var content;\n    if (msg.type === \"vecinal\") {\n        // kmnasa : '🔥 Alerta vecinal de fuego a {{km}} км de distancia:''\n        content = i18n.t('kmnasa', {km: km});\n    } else if (msg.type === \"nasa\") {\n        // kmvecinal '🔥 Alerta de posible fuego a {{km}} км de distancia (fuente NASA):''\n        content = i18n.t('kmvecinal', {km: km});\n    }\n    var caption = {\n        payload : {\n          chatId : msg.payload[i].chatId,\n          type : \"message\",\n          content: content\n        }\n    }\n    \n    var notification = {\n        payload : {\n          chatId : msg.payload[i].chatId,\n          type : \"location\",\n          content: {\n             longitude: msg.lon,\n             latitude: msg.lat \n          }\n        },\n        caption: caption\n    }\n    \n    var newMsg = {\n        payload: {\n            chatId: msg.payload[i].chatId,\n            geo: { $near : {\n                $geometry: { \n                    type: \"Point\",  \n                    coordinates: [\n                        msg.lon,\n                        msg.lat\n                    ] },\n                $minDistance: 0,\n                $maxDistance: 2000 // Junto notificaciones en un radio de 2km \n                }\n            }\n        },\n        notification: notification,\n        caption: caption\n    }\n    \n    node.send(newMsg);\n}\n\n}\n",
        "outputs": 1,
        "noerr": 0,
        "x": 580,
        "y": 100,
        "wires": [
            [
                "c0e6a5d.fb1e058"
            ]
        ]
    },
    {
        "id": "4fe5e164.e7dc",
        "type": "telegram sender",
        "z": "2b8628df.fdcca8",
        "name": "send",
        "bot": "f93d1a38.c43218",
        "x": 1730,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "ce0d4bec.4fc9e8",
        "type": "catch",
        "z": "93cb4937.6fc068",
        "name": "catch all",
        "scope": null,
        "x": 1280,
        "y": 100,
        "wires": [
            [
                "a1ab1dbf.8d35d"
            ]
        ]
    },
    {
        "id": "6cfebdf8.84ef74",
        "type": "function",
        "z": "93cb4937.6fc068",
        "name": "send location",
        "func": "var i = context.global.i18next;\nvar km = msg.payload[0].distance;\nif (msg.payload.length > 0) {\n    var caption = {\n        payload : {\n          chatId : msg.payload[0].chatId,\n          type : \"message\",\n          content: i.t('kmdistancia', {km: km})\n        }\n    }\n    \n    var location = {\n        payload : {\n          chatId : msg.payload[0].chatId,\n          type : \"location\",\n          content: {\n             longitude: msg.payload[0].location.lon,\n             latitude: msg.payload[0].location.lat\n          }\n        }\n    }\n    return [caption, location, null];\n}",
        "outputs": "2",
        "noerr": 0,
        "x": 1060,
        "y": 840,
        "wires": [
            [
                "33cd0275.71172e"
            ],
            [
                "74146dac.0d0704"
            ]
        ],
        "outputLabels": [
            "caption",
            "location"
        ]
    },
    {
        "id": "54c7f5d3.8c4e7c",
        "type": "function",
        "z": "93cb4937.6fc068",
        "name": "no susc",
        "func": "var i = context.global.i18next;\nif (msg.payload.length === 0) {\n    msg.payload.type = \"message\";\n    msg.payload.content = i.t('No estás suscrito/a a ninguna alerta');\n    msg.payload.chatId = msg.chatId;\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "x": 1040,
        "y": 800,
        "wires": [
            [
                "fbac8488.5194a8"
            ]
        ]
    },
    {
        "id": "a1ab1dbf.8d35d",
        "type": "debug",
        "z": "93cb4937.6fc068",
        "name": "catch error",
        "active": true,
        "console": "true",
        "complete": "true",
        "x": 1480,
        "y": 100,
        "wires": []
    },
    {
        "id": "82292481.dd9428",
        "type": "function",
        "z": "93cb4937.6fc068",
        "name": "update km",
        "func": "var km = Number(msg.payload.content.replace(/(a |)([0-9]+)[ ]*km( around|)/, \"$2\"));\nvar newMsg = {\n    query : {\n        // No busca bien con _id, \n        // duplicamos chatId\n        chatId : msg.payload.chatId \n    },\n    payload: {\n       $set: {        \n           distance : km\n       }\n    } \n}\n\nreturn newMsg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 590,
        "y": 640,
        "wires": [
            [
                "10d562eb.b0de5d",
                "f26677b3.07e7f8"
            ]
        ]
    },
    {
        "id": "c063defc.417ea",
        "type": "mongodb out",
        "z": "2b8628df.fdcca8",
        "mongodb": "51a7af07.93444",
        "name": "save notis",
        "collection": "notifications",
        "payonly": false,
        "upsert": true,
        "multi": true,
        "operation": "store",
        "x": 1570,
        "y": 40,
        "wires": []
    },
    {
        "id": "53f7be24.9be16",
        "type": "mongodb in",
        "z": "2b8628df.fdcca8",
        "mongodb": "51a7af07.93444",
        "name": "find notis",
        "collection": "notifications",
        "operation": "find",
        "x": 960,
        "y": 100,
        "wires": [
            [
                "990b8bb6.bacdd8"
            ]
        ]
    },
    {
        "id": "6329567.da6b7a8",
        "type": "function",
        "z": "2b8628df.fdcca8",
        "name": "noti query",
        "func": "if (msg.payload.type === \"location\") {\n    var newMsg = {\n        chatId: msg.payload.chatId,\n        geo: {\n            type: \"Point\",\n            coordinates: [ \n                msg.payload.content.longitude,\n                msg.payload.content.latitude\n            ]\n        }\n    };\n    return newMsg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "x": 1400,
        "y": 40,
        "wires": [
            [
                "c063defc.417ea"
            ]
        ]
    },
    {
        "id": "990b8bb6.bacdd8",
        "type": "function",
        "z": "2b8628df.fdcca8",
        "name": "save and send",
        "func": "if (msg.payload.length === 0) {\n    // No yet notified  save and \n    // send notifications\n    return [ msg.notification, [msg.caption, msg.notification], null];\n} else {\n    // Already notified, do nothing\n}\n",
        "outputs": "2",
        "noerr": 0,
        "x": 1180,
        "y": 80,
        "wires": [
            [
                "6329567.da6b7a8"
            ],
            [
                "cf97891b.2928a8"
            ]
        ]
    },
    {
        "id": "427ba997.c85e08",
        "type": "ftp in",
        "z": "93cb4937.6fc068",
        "ftp": "acfb3ae8.536858",
        "operation": "get",
        "filename": "",
        "localFilename": "",
        "name": "ftp viirs",
        "x": 540,
        "y": 80,
        "wires": [
            [
                "42bf25f9.43f84c"
            ]
        ]
    },
    {
        "id": "c59c8ead.88e5c",
        "type": "function",
        "z": "93cb4937.6fc068",
        "name": "ftp viirs opts",
        "func": "var moment = context.global.moment.utc();\nvar day = moment.dayOfYear();\nvar year = moment.year();\n\n// https://earthdata.nasa.gov/earth-observation-data/near-real-time/download-nrt-data\n// Formato nc\n// Example: ftp://nrt3.modaps.eosdis.nasa.gov/allData/5000/VNP14IMG_NRT/2017/299/VNP14IMG_NRT.A2017299.0000.001.nc\n// filename: '/allData/5000/VNP14IMG_NRT/'+ year + '/'+ day + '/VNP14IMG_NRT.A' + year + day + \".*\", \n\n// Mejor: https://earthdata.nasa.gov/earth-observation-data/near-real-time/firms/active-fire-data\n// ftp://nrt4.modaps.eosdis.nasa.gov/FIRMS/viirs/Europe/\n// Ejemplo: ftp://nrt4.modaps.eosdis.nasa.gov/FIRMS/viirs/Europe/VIIRS_I_Europe_VNP14IMGTDL_NRT_2017299.txt\n\n// Cada 180 min\n\nvar newMsg = {\n    filename: '/FIRMS/viirs/Europe/VIIRS_I_Europe_VNP14IMGTDL_NRT_' + year + day + '.txt',\n    // filename: '/FIRMS/c6/Europe/MODIS_C6_Europe_MCD14DL_NRT_' + year  + day + '.txt',\n    localFilename: global.get(\"ftp-path\") + 'viir.txt'\n};\nreturn newMsg;",
        "outputs": 1,
        "noerr": 0,
        "x": 390,
        "y": 80,
        "wires": [
            [
                "427ba997.c85e08"
            ]
        ]
    },
    {
        "id": "a8453c43.ab4ff",
        "type": "inject",
        "z": "93cb4937.6fc068",
        "name": "get viiir via ftp",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "1200",
        "crontab": "",
        "once": false,
        "x": 140,
        "y": 80,
        "wires": [
            [
                "c59c8ead.88e5c"
            ]
        ]
    },
    {
        "id": "c0e6a5d.fb1e058",
        "type": "delay",
        "z": "2b8628df.fdcca8",
        "name": "rate 5s",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "5",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 780,
        "y": 100,
        "wires": [
            [
                "53f7be24.9be16"
            ]
        ]
    },
    {
        "id": "cf97891b.2928a8",
        "type": "delay",
        "z": "2b8628df.fdcca8",
        "name": "rate 1x2s",
        "pauseType": "rate",
        "timeout": "2",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "2",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 1400,
        "y": 80,
        "wires": [
            [
                "d79d8e7b.539c8"
            ]
        ]
    },
    {
        "id": "6294a71e.647c58",
        "type": "debug",
        "z": "2b8628df.fdcca8",
        "name": "false positive",
        "active": false,
        "console": "false",
        "complete": "true",
        "x": 650,
        "y": 280,
        "wires": []
    },
    {
        "id": "e2ba2944.46c208",
        "type": "file in",
        "z": "93cb4937.6fc068",
        "name": "read",
        "filename": "",
        "format": "utf8",
        "chunk": false,
        "sendError": true,
        "x": 490,
        "y": 180,
        "wires": [
            [
                "6cb3b14e.a135a",
                "a27f7210.58aa1"
            ]
        ]
    },
    {
        "id": "6cb3b14e.a135a",
        "type": "csv",
        "z": "93cb4937.6fc068",
        "name": "viir csv",
        "sep": ",",
        "hdrin": true,
        "hdrout": "",
        "multi": "one",
        "ret": "\\n",
        "temp": "",
        "x": 660,
        "y": 180,
        "wires": [
            [
                "9ef9c4c5.a68d08",
                "56fafc54.228824"
            ]
        ]
    },
    {
        "id": "69b4ebfd.c372c4",
        "type": "telegram callback_query",
        "z": "93cb4937.6fc068",
        "name": "",
        "command": "",
        "bot": "f93d1a38.c43218",
        "x": 150,
        "y": 960,
        "wires": [
            [
                "8ab524ff.4e66b8",
                "af1bbd1.b73d74"
            ]
        ]
    },
    {
        "id": "e146955e.7e0e78",
        "type": "function",
        "z": "93cb4937.6fc068",
        "name": "inline keyboard message",
        "func": "context.global.keyboard = { pending : true };\n\nvar opts = {\n  reply_to_message_id: msg.payload.messageId,\n  reply_markup: JSON.stringify({\n    \"inline_keyboard\": [[\n                {\n                    \"text\": \"Compartir una localización\",\n                    \"callback_data\": \"share_location\"\n                }, \n                {\n                    \"text\": \"Escribir un lugar\",\n                    \"callback_data\": \"write_place\"           \n                }]\n            ]\n  })\n};\n\nmsg.payload.content = '¿Quieres compartir una localización o escribir el lugar donde ves el fuego?';\nmsg.payload.options = opts;\n\nreturn [ msg ];\n",
        "outputs": "1",
        "noerr": 0,
        "x": 430,
        "y": 1000,
        "wires": [
            [
                "258fed8d.d26ce2"
            ]
        ]
    },
    {
        "id": "f36b4aaf.453458",
        "type": "telegram command",
        "z": "93cb4937.6fc068",
        "name": "/foo",
        "command": "/foo",
        "bot": "f93d1a38.c43218",
        "x": 90,
        "y": 1000,
        "wires": [
            [
                "e146955e.7e0e78"
            ],
            []
        ]
    },
    {
        "id": "8ab524ff.4e66b8",
        "type": "function",
        "z": "93cb4937.6fc068",
        "name": "set  answer options",
        "func": "var show_alert = true; // you can set this to true to open a dialog with the answer in the client.\n\n// msg.payload.content contains the callback data from the keyboard.\n// You may change this value here.\nif (msg.payload.content === 'share_location') {\n    //node.log(\"shareeeee\");\n    msg.payload.content = 'En desarrollo!';\n    msg.payload.options = show_alert;\n    return [ msg ];\n} else if (msg.payload.content === 'write_place') {\n    //node.log(\"writeeeee\");\n    msg.payload.content = 'En desarrollo!';\n    msg.payload.options = show_alert;\n    return [ msg ];\n}\n\n\n\n",
        "outputs": "1",
        "noerr": 0,
        "x": 410,
        "y": 960,
        "wires": [
            [
                "258fed8d.d26ce2"
            ]
        ]
    },
    {
        "id": "edd98fdd.e1507",
        "type": "function",
        "z": "93cb4937.6fc068",
        "name": "volver in dev",
        "func": "var opts = {\n    // reply_to_message_id: msg.payload.messageId,\n    reply_markup: JSON.stringify({\n        force_reply: true,\n        keyboard: [ \n            [{text: \"⬅️ Volver\"}]\n        ], \n        'resize_keyboard' : true, \n        'one_time_keyboard' : true\n        })\n    };\nmsg.payload.content = \"Lo sentimos, esto está aún en desarrollo. Inténtalo en unos días...\";\nmsg.payload.options = opts;\nreturn [msg];",
        "outputs": 1,
        "noerr": 0,
        "x": 990,
        "y": 1000,
        "wires": [
            []
        ]
    },
    {
        "id": "ff13d2ac.cce79",
        "type": "telegram sender",
        "z": "93cb4937.6fc068",
        "name": "keyb",
        "bot": "f93d1a38.c43218",
        "x": 1030,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "70cddff9.2dbfb",
        "type": "function",
        "z": "93cb4937.6fc068",
        "name": "save geofind",
        "func": "var newMsg = {\n    query : {\n        // No busca bien con _id, \n        // duplicamos chatId\n        chatId : msg.chatId \n    },\n    payload: {\n       $set: {        \n            location: {\n                lat: msg.payload.lat,\n                lon: msg.payload.lon,\n                text: msg.address\n            },\n            // _id: msg.chatId,\n            chatId: msg.chatId,\n            geo: {\n                type: \"Point\",\n                coordinates: [msg.payload.lon, msg.payload.lat]\n            },\n            distance: 5\n        }\n    },\n    location: {\n        lat: msg.payload.lat,\n        lon: msg.payload.lon\n    },\n    // _id: msg.chatId,\n    chatId: msg.chatId,\n    \n}\nreturn newMsg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1750,
        "y": 580,
        "wires": [
            [
                "4f819d77.37fcc4",
                "771c05f7.78a3ac",
                "bed1aee.d1d745",
                "25c52409.dd295c"
            ]
        ]
    },
    {
        "id": "10eb3fd5.6d416",
        "type": "function",
        "z": "93cb4937.6fc068",
        "name": "save location",
        "func": "var newMsg = {\n    query : {\n        // No busca bien con _id, \n        // duplicamos chatId\n        chatId : msg.payload.chatId \n    },\n    // payload $set for updates\n    payload: {\n       $set: {        \n    location: {\n        lat: msg.payload.content.latitude,\n        lon: msg.payload.content.longitude\n    },\n    // _id: msg.payload.chatId,\n    chatId: msg.payload.chatId,\n    geo: {\n        type: \"Point\",\n        coordinates: [\n            msg.payload.content.longitude, \n            msg.payload.content.latitude]\n    },\n    distance: 5\n       }\n    },\n    location: {\n        lat: msg.payload.content.latitude,\n        lon: msg.payload.content.longitude\n    },\n    chatId: msg.payload.chatId,\n}\nreturn newMsg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1750,
        "y": 640,
        "wires": [
            [
                "bed1aee.d1d745",
                "771c05f7.78a3ac",
                "25c52409.dd295c"
            ]
        ]
    },
    {
        "id": "72f03b95.7b3704",
        "type": "function",
        "z": "93cb4937.6fc068",
        "name": "test",
        "func": "\nvar i = context.global.i18next;\ni.changeLanguage(\"en\");\n/*\n    var i18n = [];\n    i18n['♥ Apoya esta iniciativa'] = i.t('♥ Apoya esta iniciativa');\n    i18n['⬅️ Volver'] = i.t('⬅️ Volver');\n    global.set('i18n', i18n);*/\n    \n    \nmsg.payload = {\n    dayUtc: context.global.moment.utc().dayOfYear(),\n    day: context.global.moment().dayOfYear(),\n   /* content: global.get('i18n')['Apoya esta iniciativa'],\n    content2: global.get('i18n').Volver,\n    content3: global.get('i18n') */\n};\n// global.get(\"ftp-path\")\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1610,
        "y": 1000,
        "wires": [
            [
                "8d38e228.4681"
            ]
        ]
    },
    {
        "id": "8d38e228.4681",
        "type": "debug",
        "z": "93cb4937.6fc068",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "true",
        "x": 1770,
        "y": 1000,
        "wires": []
    },
    {
        "id": "2f90b763.4fffb8",
        "type": "inject",
        "z": "93cb4937.6fc068",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 1340,
        "y": 1000,
        "wires": [
            [
                "55edbbfa.a6d384"
            ]
        ]
    },
    {
        "id": "42bf25f9.43f84c",
        "type": "debug",
        "z": "93cb4937.6fc068",
        "name": "pay",
        "active": false,
        "console": "false",
        "complete": "payload",
        "x": 690,
        "y": 40,
        "wires": []
    },
    {
        "id": "543a368a.8447b8",
        "type": "config",
        "z": "93cb4937.6fc068",
        "name": "config-dev",
        "properties": [
            {
                "p": "ftp-path",
                "pt": "global",
                "to": "/tmp/",
                "tot": "str"
            }
        ],
        "active": true,
        "x": 1010,
        "y": 40,
        "wires": []
    },
    {
        "id": "73b0043e.3d68dc",
        "type": "config",
        "z": "93cb4937.6fc068",
        "name": "config-prod",
        "properties": [
            {
                "p": "ftp-path",
                "pt": "global",
                "to": "/data/",
                "tot": "str"
            }
        ],
        "active": false,
        "x": 1190,
        "y": 40,
        "wires": []
    },
    {
        "id": "48cdccd8.2399a4",
        "type": "delay",
        "z": "93cb4937.6fc068",
        "name": "d 300ms",
        "pauseType": "delay",
        "timeout": "300",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 2320,
        "y": 640,
        "wires": [
            [
                "f9199a3f.b81058"
            ]
        ]
    },
    {
        "id": "88f2e71c.8fcf88",
        "type": "function",
        "z": "93cb4937.6fc068",
        "name": "viir.txt",
        "func": "msg.filename = global.get(\"ftp-path\") + \"viir.txt\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 350,
        "y": 180,
        "wires": [
            [
                "e2ba2944.46c208"
            ]
        ]
    },
    {
        "id": "7eabd297.d8f9ec",
        "type": "function",
        "z": "93cb4937.6fc068",
        "name": "modis.txt",
        "func": "msg.filename = global.get(\"ftp-path\") + \"modis.txt\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 360,
        "y": 220,
        "wires": [
            [
                "7aa07a53.1c8ec4"
            ]
        ]
    },
    {
        "id": "a9221162.52512",
        "type": "telegram command",
        "z": "93cb4937.6fc068",
        "name": "/inicio",
        "command": "/inicio",
        "bot": "f93d1a38.c43218",
        "x": 90,
        "y": 300,
        "wires": [
            [
                "c757b5f5.bafb68"
            ],
            []
        ]
    },
    {
        "id": "92cf1a70.8b3e38",
        "type": "telegram command",
        "z": "93cb4937.6fc068",
        "name": "/suscribirme",
        "command": "/suscribirme",
        "bot": "f93d1a38.c43218",
        "x": 110,
        "y": 260,
        "wires": [
            [
                "a1932f34.2ab98"
            ],
            []
        ]
    },
    {
        "id": "c57b248a.0f3fc8",
        "type": "telegram sender",
        "z": "93cb4937.6fc068",
        "name": "keyb",
        "bot": "f93d1a38.c43218",
        "x": 930,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "f3249bab.90eae8",
        "type": "delay",
        "z": "93cb4937.6fc068",
        "name": "rate",
        "pauseType": "rate",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "3",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "x": 570,
        "y": 800,
        "wires": [
            [
                "7636ac6a.243324"
            ]
        ]
    },
    {
        "id": "a1932f34.2ab98",
        "type": "delay",
        "z": "93cb4937.6fc068",
        "name": "rate",
        "pauseType": "rate",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "3",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "x": 270,
        "y": 260,
        "wires": [
            [
                "be0cbd6.2efaf4"
            ]
        ]
    },
    {
        "id": "98bfcdd0.736cf",
        "type": "delay",
        "z": "93cb4937.6fc068",
        "name": "rate",
        "pauseType": "rate",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "2",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "x": 790,
        "y": 380,
        "wires": [
            [
                "c57b248a.0f3fc8"
            ]
        ]
    },
    {
        "id": "49306cf6.a72494",
        "type": "delay",
        "z": "93cb4937.6fc068",
        "name": "rate",
        "pauseType": "rate",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "x": 570,
        "y": 560,
        "wires": [
            [
                "33879e8b.3151b2"
            ]
        ]
    },
    {
        "id": "c89c411b.79f73",
        "type": "delay",
        "z": "93cb4937.6fc068",
        "name": "rate",
        "pauseType": "rate",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "3",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "x": 830,
        "y": 480,
        "wires": [
            [
                "3ce9c795.c84558"
            ]
        ]
    },
    {
        "id": "d79d8e7b.539c8",
        "type": "delay",
        "z": "2b8628df.fdcca8",
        "name": "rate 20x1m",
        "pauseType": "rate",
        "timeout": "2",
        "timeoutUnits": "seconds",
        "rate": "20",
        "nbRateUnits": "1",
        "rateUnits": "minute",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 1570,
        "y": 80,
        "wires": [
            [
                "4fe5e164.e7dc",
                "a890056b.ebcff8"
            ]
        ]
    },
    {
        "id": "8cffd8ff.5786d8",
        "type": "ui_chart",
        "z": "2b8628df.fdcca8",
        "name": "to dash",
        "group": "601660c.cd104a",
        "order": 1,
        "width": "0",
        "height": "0",
        "label": "Usuarios cercanos",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "x": 780,
        "y": 60,
        "wires": [
            [
                "ac0b5f28.dea74"
            ],
            []
        ]
    },
    {
        "id": "c7da78e3.f6ea28",
        "type": "function",
        "z": "2b8628df.fdcca8",
        "name": "users near",
        "func": "var i = context.global.i18next;\n\nvar newMsg  = {\n    payload: msg.payload.length,\n    label: i.t('Usuarios en la zona')\n}\nreturn newMsg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 570,
        "y": 60,
        "wires": [
            [
                "8cffd8ff.5786d8"
            ]
        ]
    },
    {
        "id": "8f83bfc5.cfb9b",
        "type": "function",
        "z": "93cb4937.6fc068",
        "name": "count active",
        "func": "if (Array.isArray(msg.payload)) {\n    var newMsg  = {\n        payload: msg.payload.length,\n        topic: \"Fuegos activos en Europa (VIRR)\"\n    }\n    return newMsg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "x": 810,
        "y": 280,
        "wires": [
            [
                "44fbc396.81360c"
            ]
        ]
    },
    {
        "id": "a27f7210.58aa1",
        "type": "csv",
        "z": "93cb4937.6fc068",
        "name": "viir count",
        "sep": ",",
        "hdrin": true,
        "hdrout": "",
        "multi": "mult",
        "ret": "\\n",
        "temp": "",
        "x": 640,
        "y": 280,
        "wires": [
            [
                "8f83bfc5.cfb9b"
            ]
        ]
    },
    {
        "id": "3a5ab6ad.0e340a",
        "type": "csv",
        "z": "93cb4937.6fc068",
        "name": "modis count",
        "sep": ",",
        "hdrin": true,
        "hdrout": "",
        "multi": "mult",
        "ret": "\\n",
        "temp": "",
        "x": 650,
        "y": 320,
        "wires": [
            [
                "d8b00aa6.5027f8"
            ]
        ]
    },
    {
        "id": "d8b00aa6.5027f8",
        "type": "function",
        "z": "93cb4937.6fc068",
        "name": "count active",
        "func": "if (Array.isArray(msg.payload)) {\n    var newMsg  = {\n        payload: msg.payload.length,\n        topic: \"Fuegos activos en Europa (MODIS)\"\n    }\n    return newMsg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "x": 810,
        "y": 320,
        "wires": [
            [
                "44fbc396.81360c"
            ]
        ]
    },
    {
        "id": "44fbc396.81360c",
        "type": "ui_chart",
        "z": "93cb4937.6fc068",
        "name": "to dash",
        "group": "601660c.cd104a",
        "order": 2,
        "width": "0",
        "height": "0",
        "label": "Fuegos activos en Europas según NASA",
        "chartType": "line",
        "legend": "false",
        "xformat": "Y-M-D",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "x": 980,
        "y": 280,
        "wires": [
            [
                "c4c96710.0c14f8"
            ],
            []
        ]
    },
    {
        "id": "abe7d7fb.2c4708",
        "type": "function",
        "z": "93cb4937.6fc068",
        "name": "inc subs",
        "func": "// var day = context.global.moment.utc().dayOfYear()\n\nvar newMsg = {\n    query : {\n        // day: day,\n        name: \"numsus\"\n    },\n    payload: {\n        $inc: { value: 1 }\n    }\n}\n\nreturn newMsg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 1040,
        "y": 740,
        "wires": [
            [
                "4bd722d5.8df87c"
            ]
        ]
    },
    {
        "id": "4bd722d5.8df87c",
        "type": "mongodb out",
        "z": "93cb4937.6fc068",
        "mongodb": "51a7af07.93444",
        "name": "update stats",
        "collection": "fstats",
        "payonly": false,
        "upsert": true,
        "multi": false,
        "operation": "update",
        "x": 1230,
        "y": 740,
        "wires": []
    },
    {
        "id": "64500fb0.8e131",
        "type": "function",
        "z": "93cb4937.6fc068",
        "name": "in desubs",
        "func": "// var day = context.global.moment.utc().dayOfYear()\n\nvar newMsg = {\n    query : {\n        // day: day,\n        name: \"numdesus\"\n    },\n    payload: {\n        $inc: { value: 1 }\n    }\n}\n\nreturn newMsg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 940,
        "y": 520,
        "wires": [
            [
                "659f7d56.aca1d4"
            ]
        ]
    },
    {
        "id": "659f7d56.aca1d4",
        "type": "mongodb out",
        "z": "93cb4937.6fc068",
        "mongodb": "51a7af07.93444",
        "name": "update stats",
        "collection": "fstats",
        "payonly": false,
        "upsert": true,
        "multi": false,
        "operation": "update",
        "x": 1110,
        "y": 520,
        "wires": []
    },
    {
        "id": "475edba3.768d04",
        "type": "mongodb out",
        "z": "2b8628df.fdcca8",
        "mongodb": "51a7af07.93444",
        "name": "update stats",
        "collection": "fstats",
        "payonly": false,
        "upsert": true,
        "multi": false,
        "operation": "update",
        "x": 1890,
        "y": 40,
        "wires": []
    },
    {
        "id": "a890056b.ebcff8",
        "type": "function",
        "z": "2b8628df.fdcca8",
        "name": "inc subs",
        "func": "// var day = context.global.moment.utc().dayOfYear()\n\nvar newMsg = {\n    query : {\n        // day: day,\n        name: \"sendnotis\"\n    },\n    payload: {\n        $inc: { value: 1 }\n    }\n}\n\nreturn newMsg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 1740,
        "y": 40,
        "wires": [
            [
                "475edba3.768d04"
            ]
        ]
    },
    {
        "id": "c6746cf.d2d809",
        "type": "function",
        "z": "93cb4937.6fc068",
        "name": "all",
        "func": "// empty payload == all\nvar newMsg = {\n    payload: {\n    }}\nreturn newMsg;",
        "outputs": 1,
        "noerr": 0,
        "x": 370,
        "y": 140,
        "wires": [
            [
                "afa80f90.4891d"
            ]
        ]
    },
    {
        "id": "b3f1e61b.568c08",
        "type": "inject",
        "z": "93cb4937.6fc068",
        "name": "delete day notis",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "00 0 * * *",
        "once": false,
        "x": 150,
        "y": 140,
        "wires": [
            [
                "c6746cf.d2d809"
            ]
        ]
    },
    {
        "id": "afa80f90.4891d",
        "type": "mongodb out",
        "z": "93cb4937.6fc068",
        "mongodb": "51a7af07.93444",
        "name": "delete notis",
        "collection": "notifications",
        "payonly": false,
        "upsert": true,
        "multi": true,
        "operation": "delete",
        "x": 530,
        "y": 140,
        "wires": []
    },
    {
        "id": "f71f4cac.9481d",
        "type": "inject",
        "z": "93cb4937.6fc068",
        "name": "update stats",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "1800",
        "crontab": "",
        "once": false,
        "x": 110,
        "y": 1100,
        "wires": [
            [
                "e412e0fb.c0301"
            ]
        ]
    },
    {
        "id": "df770305.a8826",
        "type": "function",
        "z": "93cb4937.6fc068",
        "name": "current susc",
        "func": "msg.payload = {};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 490,
        "y": 1100,
        "wires": [
            [
                "f35da4d0.4efea8",
                "77f46e84.2260f"
            ]
        ]
    },
    {
        "id": "f35da4d0.4efea8",
        "type": "mongodb in",
        "z": "93cb4937.6fc068",
        "mongodb": "51a7af07.93444",
        "name": "count susc",
        "collection": "subscriptions",
        "operation": "count",
        "x": 710,
        "y": 1100,
        "wires": [
            [
                "a4557bc7.dd66a8",
                "ba04416.3b1bbc"
            ]
        ]
    },
    {
        "id": "6a5b9f6.b6d256",
        "type": "function",
        "z": "93cb4937.6fc068",
        "name": "count susc",
        "func": "var newMsg = {\n    payload : {\n        name: \"numsus\"\n    },\n    projection: { \n        value: \n        1\n        \n    }\n};\nreturn newMsg;",
        "outputs": 1,
        "noerr": 0,
        "x": 490,
        "y": 1140,
        "wires": [
            [
                "bfb8ba04.b55468"
            ]
        ]
    },
    {
        "id": "bfb8ba04.b55468",
        "type": "mongodb in",
        "z": "93cb4937.6fc068",
        "mongodb": "51a7af07.93444",
        "name": "find stats",
        "collection": "fstats",
        "operation": "find",
        "x": 700,
        "y": 1140,
        "wires": [
            [
                "d510ac6b.541af"
            ]
        ]
    },
    {
        "id": "d510ac6b.541af",
        "type": "ui_text",
        "z": "93cb4937.6fc068",
        "group": "601660c.cd104a",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "sus",
        "label": "Suscripciones en el tiempo",
        "format": "{{msg.payload[0].value}}",
        "layout": "row-spread",
        "x": 870,
        "y": 1140,
        "wires": []
    },
    {
        "id": "a4557bc7.dd66a8",
        "type": "ui_text",
        "z": "93cb4937.6fc068",
        "group": "601660c.cd104a",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "subs real",
        "label": "Subscripciones actuales",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 880,
        "y": 1100,
        "wires": []
    },
    {
        "id": "b59087e9.b1e7b8",
        "type": "function",
        "z": "93cb4937.6fc068",
        "name": "count susc",
        "func": "var newMsg = {\n    payload : {\n        name: \"numdesus\"\n    },\n    projection: { \n        value: \n        1\n        \n    }\n};\nreturn newMsg;",
        "outputs": 1,
        "noerr": 0,
        "x": 490,
        "y": 1180,
        "wires": [
            [
                "6ed74184.fdc72"
            ]
        ]
    },
    {
        "id": "6ed74184.fdc72",
        "type": "mongodb in",
        "z": "93cb4937.6fc068",
        "mongodb": "51a7af07.93444",
        "name": "find stats",
        "collection": "fstats",
        "operation": "find",
        "x": 700,
        "y": 1180,
        "wires": [
            [
                "c4132465.859b28"
            ]
        ]
    },
    {
        "id": "c4132465.859b28",
        "type": "ui_text",
        "z": "93cb4937.6fc068",
        "group": "601660c.cd104a",
        "order": 6,
        "width": 0,
        "height": 0,
        "name": "desus",
        "label": "Desucripciones",
        "format": "{{msg.payload[0].value}}",
        "layout": "row-spread",
        "x": 870,
        "y": 1180,
        "wires": []
    },
    {
        "id": "bc571a7f.119508",
        "type": "function",
        "z": "93cb4937.6fc068",
        "name": "count notis",
        "func": "var newMsg = {\n    payload : {\n        name: \"sendnotis\"\n    },\n    projection: { \n        value: \n        1\n        \n    }\n};\nreturn newMsg;",
        "outputs": 1,
        "noerr": 0,
        "x": 490,
        "y": 1220,
        "wires": [
            [
                "fefae1e8.b0dba"
            ]
        ]
    },
    {
        "id": "fefae1e8.b0dba",
        "type": "mongodb in",
        "z": "93cb4937.6fc068",
        "mongodb": "51a7af07.93444",
        "name": "find stats",
        "collection": "fstats",
        "operation": "find",
        "x": 700,
        "y": 1220,
        "wires": [
            [
                "88bb2a1d.559188"
            ]
        ]
    },
    {
        "id": "88bb2a1d.559188",
        "type": "ui_text",
        "z": "93cb4937.6fc068",
        "group": "601660c.cd104a",
        "order": 7,
        "width": 0,
        "height": 0,
        "name": "notis",
        "label": "Notificaciones enviadas",
        "format": "{{msg.payload[0].value}}",
        "layout": "row-spread",
        "x": 870,
        "y": 1220,
        "wires": []
    },
    {
        "id": "cbe0e85b.a53018",
        "type": "function",
        "z": "93cb4937.6fc068",
        "name": "112",
        "func": "var i = context.global.i18next;\nvar newMsg = {\n    payload: {\n        type: \"message\",\n        content: i.t('No olvides llamar al 📞112 si no lo has hecho ya para avisar a los servicios de emergencia 🚒'),\n        chatId : msg.payload.chatId\n    }\n};\nreturn newMsg;\n\n",
        "outputs": 1,
        "noerr": 0,
        "x": 570,
        "y": 760,
        "wires": [
            [
                "373aa2ef.0aac9e"
            ]
        ]
    },
    {
        "id": "1292920f.64d29e",
        "type": "delay",
        "z": "93cb4937.6fc068",
        "name": "rate",
        "pauseType": "rate",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "3",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "x": 570,
        "y": 440,
        "wires": [
            [
                "b0289aa8.88a968"
            ]
        ]
    },
    {
        "id": "3d60861f.0f7cea",
        "type": "switch",
        "z": "93cb4937.6fc068",
        "name": "susc o fuego?",
        "property": "locationtopic",
        "propertyType": "global",
        "rules": [
            {
                "t": "eq",
                "v": "sus",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "nuevofuego",
                "vt": "str"
            }
        ],
        "checkall": "false",
        "outputs": 2,
        "x": 1240,
        "y": 640,
        "wires": [
            [
                "cab2f268.5157"
            ],
            [
                "aed10823.c1e808"
            ]
        ]
    },
    {
        "id": "b0289aa8.88a968",
        "type": "delay",
        "z": "93cb4937.6fc068",
        "name": "",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 720,
        "y": 440,
        "wires": [
            [
                "22b64555.dd2e7a"
            ]
        ]
    },
    {
        "id": "90e7067.6f1b1f8",
        "type": "change",
        "z": "c644db46.3854c8",
        "name": "set location",
        "rules": [
            {
                "t": "set",
                "p": "location.address",
                "pt": "msg",
                "to": "payload.content",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "chatId",
                "pt": "msg",
                "to": "payload.chatId",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "address",
                "pt": "msg",
                "to": "payload.content",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 170,
        "y": 600,
        "wires": [
            []
        ]
    },
    {
        "id": "9620588a.113218",
        "type": "google geocoding",
        "z": "c644db46.3854c8",
        "name": "Geo Fire",
        "geocodeBy": "address",
        "address": "",
        "lat": "",
        "lon": "",
        "googleAPI": "9f205dc2.bd858",
        "bounds": "",
        "language": "",
        "region": "",
        "components": "",
        "x": 320,
        "y": 220,
        "wires": [
            [
                "6d492c2d.a26024"
            ]
        ]
    },
    {
        "id": "38dfdcd2.c5bc84",
        "type": "function",
        "z": "c644db46.3854c8",
        "name": "save",
        "func": "var date = new Date();\nvar formated = context.global.moment(date).format('YYYYMMDD');\nvar lon = msg.location.lon;\nvar lat = msg.location.lat;\nvar text = msg.location.text;\n\nvar chatId = msg.payload.chatId;\n\nvar newMsg = {\n    query : {\n        // solo un fuego por usuario por ahora\n        chatId : chatId \n    },\n    payload: {\n       $set: {        \n    location: {\n        lat: lat,\n        lon: lon,\n        text: text // msg.address\n    },\n    // _id: msg.chatId,\n    chatId: msg.chatId,\n    aviso: date,\n    dateformat: formated,\n    geo: {\n        type: \"Point\",\n        coordinates: [lon, lat]\n    }\n    }\n    },\n    location: {\n        lat: lat,\n        lon: lon\n    },\n    chatId: chatId,\n    \n}\nreturn newMsg;",
        "outputs": 1,
        "noerr": 0,
        "x": 610,
        "y": 380,
        "wires": [
            [
                "6274e174.dc9d2",
                "6c52427a.4dd71c"
            ]
        ]
    },
    {
        "id": "6274e174.dc9d2",
        "type": "mongodb out",
        "z": "c644db46.3854c8",
        "mongodb": "51a7af07.93444",
        "name": "save fuego",
        "collection": "avisosfuego",
        "payonly": false,
        "upsert": true,
        "multi": false,
        "operation": "update",
        "x": 790,
        "y": 380,
        "wires": []
    },
    {
        "id": "d5052529.791c48",
        "type": "telegram sender",
        "z": "c644db46.3854c8",
        "name": "ask",
        "bot": "f93d1a38.c43218",
        "x": 310,
        "y": 180,
        "wires": [
            [
                "5c52af18.0b854"
            ]
        ]
    },
    {
        "id": "5c52af18.0b854",
        "type": "telegram reply",
        "z": "c644db46.3854c8",
        "name": "get reply",
        "bot": "f93d1a38.c43218",
        "x": 440,
        "y": 180,
        "wires": [
            [
                "60fdfcd6.2a6d84"
            ]
        ]
    },
    {
        "id": "4230490a.147bf8",
        "type": "function",
        "z": "c644db46.3854c8",
        "name": "write pos",
        "func": "var i = context.global.i18next;\nmsg.payload.type = 'message';\nmsg.payload.content = i.t('Escribir localización del fuego (por ej. tu pueblo, una calle, etc). Si usas un móvil también puedes adjuntar una ubicación pulsando el clip):');\n\nvar opts = {\n  reply_markup: JSON.stringify({\n    force_reply: true,\n  })\n};\n\nmsg.payload.options = opts;\nreturn msg;\n",
        "outputs": "1",
        "noerr": 0,
        "x": 160,
        "y": 180,
        "wires": [
            [
                "d5052529.791c48"
            ]
        ]
    },
    {
        "id": "60ee8a37.032aa4",
        "type": "subflow:c644db46.3854c8",
        "z": "93cb4937.6fc068",
        "name": "",
        "x": 590,
        "y": 600,
        "wires": []
    },
    {
        "id": "b0495fbe.5ecca",
        "type": "function",
        "z": "c6a40c11.dfc6b",
        "name": "volver btn",
        "func": "var i = context.global.i18next;\nvar opts = {\n    // reply_to_message_id: msg.payload.messageId,\n    reply_to_message_id : null,\n    reply_markup: JSON.stringify({\n        force_reply: true,\n        keyboard: [ \n            [{text: i.t(\"⬅️ Volver\")}]\n        ], \n        'resize_keyboard' : true, \n        'one_time_keyboard' : false\n        })\n    };\nmsg.payload.type = \"message\";\nmsg.payload.options = opts;\nreturn [msg];",
        "outputs": 1,
        "noerr": 0,
        "x": 400,
        "y": 120,
        "wires": [
            [
                "73730bca.1ff064"
            ]
        ]
    },
    {
        "id": "5f2a32ba.eaa58c",
        "type": "telegram sender",
        "z": "c6a40c11.dfc6b",
        "name": "show keyb",
        "bot": "f93d1a38.c43218",
        "x": 790,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "9ac27b91.95fd38",
        "type": "subflow:c6a40c11.dfc6b",
        "z": "93cb4937.6fc068",
        "name": "",
        "x": 930,
        "y": 560,
        "wires": []
    },
    {
        "id": "8e21846c.61c698",
        "type": "function",
        "z": "c644db46.3854c8",
        "name": "ask confirmation",
        "func": "var i = context.global.i18next;\nvar isUser = msg.payload.chatId > 0;\n\ncontext.global.keyboard = { pending : true };\n\nvar opts = {\n  reply_to_message_id: msg.payload.messageId,\n  reply_markup: JSON.stringify({\n    \"inline_keyboard\": [[\n                {\n                    \"text\": i.t('Sí'),\n                    \"callback_data\": \"notify_fire\"\n                },\n                {\n                    \"text\": i.t('No'),\n                    \"callback_data\": \"no_notify_fire\"\n                }]\n            ]\n  })\n};\n\nglobal.set('location', msg);\n\nvar newMsg = {\n    payload : {\n        chatId: msg.payload.chatId,\n        type: 'message',\n        content: i.t('Vas a notificar a los vecinos cercanos sobre este fuego ¿estás seguro/a?'),\n        options: opts\n    }\n};\n\nif (isUser) {\n  //  msg.payload.content += ' Te solicitaremos tú contacto como medida de seguridad.';\n}\n\nreturn [newMsg, null];",
        "outputs": "1",
        "noerr": 0,
        "x": 1050,
        "y": 200,
        "wires": [
            [
                "ac714246.d3333"
            ]
        ]
    },
    {
        "id": "32f96431.64f9bc",
        "type": "telegram sender",
        "z": "156e20df.86399f",
        "name": "send",
        "bot": "f93d1a38.c43218",
        "x": 530,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "a95a87ec.d0c648",
        "type": "function",
        "z": "156e20df.86399f",
        "name": "send location",
        "func": "var caption = {\n    payload : {\n      chatId : msg.chatId,\n      type : \"message\",\n      content: msg.caption\n    }\n}\n\nvar location = {\n    payload : {\n      chatId : msg.chatId,\n      type : \"location\",\n      content: {\n         longitude: msg.location.lon,\n         latitude: msg.location.lat\n      }\n    }\n}\nreturn [msg, location, caption];",
        "outputs": "3",
        "noerr": 0,
        "x": 320,
        "y": 160,
        "wires": [
            [
                "748b9d33.3e7354"
            ],
            [
                "dac16e62.49529"
            ],
            [
                "32f96431.64f9bc"
            ]
        ],
        "outputLabels": [
            "location",
            "caption",
            ""
        ]
    },
    {
        "id": "771c05f7.78a3ac",
        "type": "function",
        "z": "93cb4937.6fc068",
        "name": "caption",
        "func": "var i = context.global.i18next;\nmsg.caption = i.t('Este es el mapa del lugar al que te subscribes');\nmsg.payload.chatId = msg.chatId;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1980,
        "y": 640,
        "wires": [
            [
                "ad6ea913.641818"
            ]
        ]
    },
    {
        "id": "ad6ea913.641818",
        "type": "subflow:156e20df.86399f",
        "z": "93cb4937.6fc068",
        "name": "",
        "x": 2150,
        "y": 640,
        "wires": [
            [
                "48cdccd8.2399a4"
            ]
        ]
    },
    {
        "id": "46ab5b3e.b67004",
        "type": "subflow:156e20df.86399f",
        "z": "c644db46.3854c8",
        "name": "",
        "x": 640,
        "y": 220,
        "wires": [
            [
                "ad92a3e7.bb743"
            ]
        ]
    },
    {
        "id": "ac714246.d3333",
        "type": "telegram sender",
        "z": "c644db46.3854c8",
        "name": "send",
        "bot": "f93d1a38.c43218",
        "x": 1210,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "6c453d57.329cc4",
        "type": "function",
        "z": "c644db46.3854c8",
        "name": "inc fuegos",
        "func": "var day = context.global.moment.utc().dayOfYear();\n\nvar newMsg = {\n    query : {\n        day: day,\n        name: \"numfuegos\"\n    },\n    payload: {\n        $inc: { value: 1 }\n    }\n};\n\nreturn newMsg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 630,
        "y": 340,
        "wires": [
            [
                "ccb93b2e.5e82b8"
            ]
        ]
    },
    {
        "id": "ccb93b2e.5e82b8",
        "type": "mongodb out",
        "z": "c644db46.3854c8",
        "mongodb": "51a7af07.93444",
        "name": "update stats",
        "collection": "fstats",
        "payonly": false,
        "upsert": true,
        "multi": false,
        "operation": "update",
        "x": 790,
        "y": 340,
        "wires": []
    },
    {
        "id": "5be9d0b7.6008d",
        "type": "telegram callback_query",
        "z": "c644db46.3854c8",
        "name": "callback_query",
        "command": "",
        "bot": "f93d1a38.c43218",
        "x": 180,
        "y": 300,
        "wires": [
            [
                "9b5cd6c7.921428"
            ]
        ]
    },
    {
        "id": "9b5cd6c7.921428",
        "type": "function",
        "z": "c644db46.3854c8",
        "name": "answer confirm",
        "func": "var i = context.global.i18next;\nvar show_alert = false; // you can set this to true to open a dialog with the answer in the client.\n\nmsg.payload.options = show_alert;\nvar location = global.get('location');\n\nif (location !== null) {\n    global.set('location', null);\n    // msg.payload.content contains the callback data from the keyboard.\n    if (msg.payload.content === 'notify_fire') {\n        msg.payload.content = i.t('📣 Alerta recibida, ¡gracias!');\n        // node.log(location.payload.content);\n        return [msg, location, null];\n    } else if (msg.payload.content === 'no_notify_fire') {\n        var newMsg = {\n            payload: {\n                type: \"message\",\n                content: i.t('Aviso cancelado'),\n                chatId: msg.payload.chatId\n            }\n        }\n        return [null, null, newMsg];\n    }\n}",
        "outputs": "3",
        "noerr": 0,
        "x": 400,
        "y": 300,
        "wires": [
            [
                "59a6376a.109fa8",
                "3973fe90.4b2ab2"
            ],
            [
                "6c453d57.329cc4",
                "38dfdcd2.c5bc84",
                "a4b7f1f0.c37aa"
            ],
            [
                "59a6376a.109fa8"
            ]
        ],
        "outputLabels": [
            "Sí",
            "Location",
            "No"
        ]
    },
    {
        "id": "3973fe90.4b2ab2",
        "type": "telegram sender",
        "z": "c644db46.3854c8",
        "name": "send",
        "bot": "f93d1a38.c43218",
        "x": 610,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "59a6376a.109fa8",
        "type": "subflow:c6a40c11.dfc6b",
        "z": "c644db46.3854c8",
        "x": 610,
        "y": 300,
        "wires": []
    },
    {
        "id": "6d492c2d.a26024",
        "type": "function",
        "z": "c644db46.3854c8",
        "name": "caption, etc",
        "func": "var i = context.global.i18next;\nmsg.caption = i.t('Este es el mapa del lugar donde crees que hay un fuego');\nmsg.location.text = msg.address;\nmsg.payload.chatId = msg.chatId;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 470,
        "y": 220,
        "wires": [
            [
                "46ab5b3e.b67004"
            ]
        ]
    },
    {
        "id": "f0bdf975.8486e8",
        "type": "telegram command",
        "z": "93cb4937.6fc068",
        "name": "/fuego",
        "command": "/fuego",
        "bot": "f93d1a38.c43218",
        "x": 90,
        "y": 900,
        "wires": [
            [
                "1292920f.64d29e"
            ],
            []
        ]
    },
    {
        "id": "dac16e62.49529",
        "type": "delay",
        "z": "156e20df.86399f",
        "name": "d 300ms",
        "pauseType": "delay",
        "timeout": "300",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 540,
        "y": 200,
        "wires": [
            [
                "b1629107.5c873"
            ]
        ]
    },
    {
        "id": "b1629107.5c873",
        "type": "telegram sender",
        "z": "156e20df.86399f",
        "name": "send",
        "bot": "f93d1a38.c43218",
        "x": 670,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "748b9d33.3e7354",
        "type": "delay",
        "z": "156e20df.86399f",
        "name": "",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 620,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "74146dac.0d0704",
        "type": "delay",
        "z": "93cb4937.6fc068",
        "name": "d 300ms",
        "pauseType": "delay",
        "timeout": "300",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 1240,
        "y": 860,
        "wires": [
            [
                "fbac8488.5194a8",
                "33cd0275.71172e"
            ]
        ]
    },
    {
        "id": "4a109a88.7389a4",
        "type": "function",
        "z": "9968fcc5.ed33c",
        "name": "menú distancia",
        "func": "var i = context.global.i18next;\ncontext.global.keyboard = { pending : true };\n\n// if (msg.payload.type == 'message') {\nvar opts = {\n  // reply_to_message_id: msg.payload.messageId,\n  reply_markup: JSON.stringify({\n    force_reply: true,\n    keyboard: [ \n        [{text: i.t('a 5 km')}, {text: i.t('a 10 km')}],\n        [{text: i.t('a 20 km')}, {text: i.t('a 40 km')} ],\n        [{text: i.t('a 100 km')}, {text: i.t('⬅️ Cancelar')} ]],\n      'resize_keyboard' : true, \n      'one_time_keyboard' : true\n  })\n};\n\nmsg.payload.type = 'message';\nmsg.payload.content = i.t('¿A que distancia a la redonda quieres recibir notificaciones?');\nmsg.payload.options = opts;\n\nreturn msg;\n//}\n",
        "outputs": "1",
        "noerr": 0,
        "x": 360,
        "y": 120,
        "wires": [
            [
                "c4cc6a46.5d2af8"
            ]
        ]
    },
    {
        "id": "c4cc6a46.5d2af8",
        "type": "telegram sender",
        "z": "9968fcc5.ed33c",
        "name": "show keyb",
        "bot": "f93d1a38.c43218",
        "x": 570,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "f9199a3f.b81058",
        "type": "subflow:9968fcc5.ed33c",
        "z": "93cb4937.6fc068",
        "name": "",
        "x": 2520,
        "y": 640,
        "wires": []
    },
    {
        "id": "19b16d50.b6eed3",
        "type": "telegram command",
        "z": "93cb4937.6fc068",
        "name": "/distancia",
        "command": "/distancia",
        "bot": "f93d1a38.c43218",
        "x": 80,
        "y": 1460,
        "wires": [
            [
                "192c6f7a.054a91"
            ],
            []
        ]
    },
    {
        "id": "192c6f7a.054a91",
        "type": "delay",
        "z": "93cb4937.6fc068",
        "name": "rate",
        "pauseType": "rate",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "3",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "x": 270,
        "y": 1460,
        "wires": [
            [
                "7d6a8c23.8b1694"
            ]
        ]
    },
    {
        "id": "7d6a8c23.8b1694",
        "type": "subflow:9968fcc5.ed33c",
        "z": "93cb4937.6fc068",
        "name": "",
        "x": 480,
        "y": 1460,
        "wires": []
    },
    {
        "id": "539a53d4.268c7c",
        "type": "subflow:9968fcc5.ed33c",
        "z": "93cb4937.6fc068",
        "name": "",
        "x": 600,
        "y": 840,
        "wires": []
    },
    {
        "id": "7828fbe3.e03084",
        "type": "ui_text",
        "z": "93cb4937.6fc068",
        "group": "601660c.cd104a",
        "order": 8,
        "width": 0,
        "height": 0,
        "name": "avisos",
        "label": "Avisos recibidos",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 870,
        "y": 1260,
        "wires": []
    },
    {
        "id": "6c8eed1.c193f14",
        "type": "function",
        "z": "93cb4937.6fc068",
        "name": "count all",
        "func": "msg.payload = {};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 480,
        "y": 1260,
        "wires": [
            [
                "5cf05a49.4afdd4"
            ]
        ]
    },
    {
        "id": "5cf05a49.4afdd4",
        "type": "mongodb in",
        "z": "93cb4937.6fc068",
        "mongodb": "51a7af07.93444",
        "name": "count fuegos",
        "collection": "avisosfuego",
        "operation": "count",
        "x": 710,
        "y": 1260,
        "wires": [
            [
                "7828fbe3.e03084"
            ]
        ]
    },
    {
        "id": "3bff2447.c4441c",
        "type": "ui_chart",
        "z": "93cb4937.6fc068",
        "name": "to dash",
        "group": "601660c.cd104a",
        "order": 3,
        "width": "0",
        "height": "0",
        "label": "Avisos diarios",
        "chartType": "line",
        "legend": "false",
        "xformat": "Y-M-D",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "x": 880,
        "y": 1300,
        "wires": [
            [
                "cd1388d0.3f8418"
            ],
            []
        ]
    },
    {
        "id": "4461acb0.5f2df4",
        "type": "function",
        "z": "93cb4937.6fc068",
        "name": "alertas hoy",
        "func": "var today = context.global.moment(new Date()).format('YYYYMMDD');\nmsg.payload = {\n    dateformat: today\n};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 490,
        "y": 1300,
        "wires": [
            [
                "1f09ffa2.dbce4",
                "39f00c4b.5f7974"
            ]
        ]
    },
    {
        "id": "1f09ffa2.dbce4",
        "type": "mongodb in",
        "z": "93cb4937.6fc068",
        "mongodb": "51a7af07.93444",
        "name": "count fuegos",
        "collection": "avisosfuego",
        "operation": "count",
        "x": 710,
        "y": 1300,
        "wires": [
            [
                "3bff2447.c4441c"
            ]
        ]
    },
    {
        "id": "d6336a1e.3ad888",
        "type": "subflow:c644db46.3854c8",
        "z": "93cb4937.6fc068",
        "name": "",
        "x": 1750,
        "y": 680,
        "wires": []
    },
    {
        "id": "47d2afc3.7fb6b",
        "type": "counter",
        "z": "93cb4937.6fc068",
        "name": "",
        "init": "0",
        "step": "1",
        "lower": null,
        "upper": null,
        "mode": "increment",
        "outputs": "2",
        "x": 1520,
        "y": 380,
        "wires": [
            [
                "62ade476.c012ec"
            ],
            [
                "62ade476.c012ec"
            ]
        ]
    },
    {
        "id": "cf2a8b1d.e1edc8",
        "type": "inject",
        "z": "93cb4937.6fc068",
        "name": "reset",
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 1250,
        "y": 380,
        "wires": [
            [
                "f70d8032.1481d"
            ]
        ]
    },
    {
        "id": "f70d8032.1481d",
        "type": "function",
        "z": "93cb4937.6fc068",
        "name": "reset",
        "func": "msg.reset = true;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1390,
        "y": 380,
        "wires": [
            [
                "47d2afc3.7fb6b"
            ]
        ]
    },
    {
        "id": "5eea2f81.66eb7",
        "type": "debug",
        "z": "9968fcc5.ed33c",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 570,
        "y": 180,
        "wires": []
    },
    {
        "id": "48b0356c.7fd7ac",
        "type": "debug",
        "z": "156e20df.86399f",
        "name": "all sendloc",
        "active": true,
        "console": "false",
        "complete": "true",
        "x": 310,
        "y": 220,
        "wires": []
    },
    {
        "id": "e92b8439.67af48",
        "type": "debug",
        "z": "c644db46.3854c8",
        "name": "all after sendloc",
        "active": true,
        "console": "false",
        "complete": "true",
        "x": 420,
        "y": 420,
        "wires": []
    },
    {
        "id": "862cd972.e97388",
        "type": "telegram receiver",
        "z": "93cb4937.6fc068",
        "name": "rec",
        "bot": "f93d1a38.c43218",
        "saveDataDir": "",
        "x": 950,
        "y": 640,
        "wires": [
            [
                "349ef6f8.98e88a"
            ],
            []
        ]
    },
    {
        "id": "eae1b744.4beb48",
        "type": "debug",
        "z": "93cb4937.6fc068",
        "name": "payl",
        "active": false,
        "console": "false",
        "complete": "payload",
        "x": 1210,
        "y": 600,
        "wires": []
    },
    {
        "id": "f0552abc.9ccb78",
        "type": "function",
        "z": "76bd701f.29d0f",
        "name": "query sub",
        "func": "msg.chatId = msg.payload.chatId;\nmsg.payload = {\"chatId\": msg.payload.chatId };\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 520,
        "y": 100,
        "wires": [
            [
                "9a2aeae1.fa4bf8"
            ]
        ]
    },
    {
        "id": "9a2aeae1.fa4bf8",
        "type": "mongodb in",
        "z": "76bd701f.29d0f",
        "mongodb": "51a7af07.93444",
        "name": "find sub",
        "collection": "subscriptions",
        "operation": "find",
        "x": 700,
        "y": 100,
        "wires": [
            [
                "875a7c37.8bb0a"
            ]
        ]
    },
    {
        "id": "875a7c37.8bb0a",
        "type": "function",
        "z": "76bd701f.29d0f",
        "name": "start menu",
        "func": "context.global.keyboard = { pending : true };\nvar i = context.global.i18next;\n\n// https://apps.timwhitlock.info/emoji/tables/unicode\n\nif (msg.payload.length === 0) {\n// Ya suscrito\nvar opts = {\n    // reply_to_message_id: msg.payload.messageId,\n    reply_markup:\n    JSON.stringify(\n        {\n            keyboard: [ \n                [{text: i.t('📣 Suscribirme a fuegos en mi zona')}],\n                [{text: i.t('🔥 Notificar un fuego nuevo')} ], \n                [{text: i.t('♥ Apoya esta iniciativa')}, {text: i.t('📖 Más info')}, ] ],\n            'resize_keyboard' : true, \n            // 'one_time_keyboard' : true\n        })\n};\n}\nelse {\nvar opts = {\n    // reply_to_message_id: msg.payload.messageId,\n    reply_markup:\n    JSON.stringify(\n        {\n            keyboard: [ \n                [{text: i.t('📣 Suscrito a nuevos fuegos')}],\n                [{text: i.t('Desuscribirme')}, {text: i.t('🔥 Notificar un fuego nuevo')} ], \n                [{text: i.t('♥ Apoya esta iniciativa')}, {text: i.t('📖 Más info')}, ] ],\n            'resize_keyboard' : true, \n            // 'one_time_keyboard' : true\n        })\n};\n}\n\nmsg.payload.content = i.t('Elige una de las opciones:');\nmsg.payload.chatId = msg.chatId;\nmsg.payload.type = \"message\";\nmsg.payload.options = opts;\n\nreturn [ msg ];\n",
        "outputs": "1",
        "noerr": 0,
        "x": 890,
        "y": 100,
        "wires": [
            [
                "12a4adcb.c93232"
            ]
        ]
    },
    {
        "id": "12a4adcb.c93232",
        "type": "telegram sender",
        "z": "76bd701f.29d0f",
        "name": "keyb",
        "bot": "f93d1a38.c43218",
        "x": 1070,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "55ebd8f8.436e38",
        "type": "subflow:76bd701f.29d0f",
        "z": "93cb4937.6fc068",
        "name": "",
        "x": 570,
        "y": 360,
        "wires": []
    },
    {
        "id": "bf50334e.7ac3a",
        "type": "subflow:76bd701f.29d0f",
        "z": "465e67f.6ebf598",
        "x": 350,
        "y": 40,
        "wires": []
    },
    {
        "id": "596d56e2.54f5e8",
        "type": "delay",
        "z": "76bd701f.29d0f",
        "name": "start r",
        "pauseType": "rate",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "3",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "x": 350,
        "y": 100,
        "wires": [
            [
                "f0552abc.9ccb78"
            ]
        ]
    },
    {
        "id": "730cf241.49734c",
        "type": "switch",
        "z": "c644db46.3854c8",
        "name": "",
        "property": "payload.type",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "location",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "outputs": 2,
        "x": 150,
        "y": 120,
        "wires": [
            [
                "ad92a3e7.bb743"
            ],
            [
                "4230490a.147bf8"
            ]
        ],
        "outputLabels": [
            "location",
            "message"
        ]
    },
    {
        "id": "cab2f268.5157",
        "type": "function",
        "z": "93cb4937.6fc068",
        "name": "reset g.loc",
        "func": "global.set('locationtopic', null);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1410,
        "y": 640,
        "wires": [
            [
                "10eb3fd5.6d416",
                "1e112e4e.062b82"
            ]
        ]
    },
    {
        "id": "aed10823.c1e808",
        "type": "function",
        "z": "93cb4937.6fc068",
        "name": "reset g.loc",
        "func": "global.set('locationtopic', null);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1410,
        "y": 680,
        "wires": [
            [
                "d982859c.d8dea8",
                "9c0ff2b9.ff7bc"
            ]
        ]
    },
    {
        "id": "349ef6f8.98e88a",
        "type": "function",
        "z": "93cb4937.6fc068",
        "name": "is location",
        "func": "if (msg.payload.type === 'location' && \n    typeof msg.geo === 'undefined') {\n    // node.log(\"Location received\");  \n    return msg;\n} else {\n    return null;\n}",
        "outputs": 1,
        "noerr": 0,
        "x": 1080,
        "y": 640,
        "wires": [
            [
                "3d60861f.0f7cea",
                "eae1b744.4beb48",
                "5b42be73.7ac18"
            ]
        ]
    },
    {
        "id": "1e112e4e.062b82",
        "type": "debug",
        "z": "93cb4937.6fc068",
        "name": "payl",
        "active": false,
        "console": "false",
        "complete": "payload",
        "x": 1570,
        "y": 600,
        "wires": []
    },
    {
        "id": "5b42be73.7ac18",
        "type": "debug",
        "z": "93cb4937.6fc068",
        "name": "all",
        "active": false,
        "console": "false",
        "complete": "true",
        "x": 1210,
        "y": 560,
        "wires": []
    },
    {
        "id": "52271fef.7036",
        "type": "debug",
        "z": "93cb4937.6fc068",
        "name": "all",
        "active": false,
        "console": "false",
        "complete": "true",
        "x": 1730,
        "y": 540,
        "wires": []
    },
    {
        "id": "2c3e131d.a7264c",
        "type": "debug",
        "z": "2b8628df.fdcca8",
        "name": "all",
        "active": false,
        "console": "false",
        "complete": "true",
        "x": 550,
        "y": 140,
        "wires": []
    },
    {
        "id": "39e523c3.2a951c",
        "type": "debug",
        "z": "2b8628df.fdcca8",
        "name": "all",
        "active": false,
        "console": "false",
        "complete": "true",
        "x": 950,
        "y": 200,
        "wires": []
    },
    {
        "id": "fc401546.2144e8",
        "type": "inject",
        "z": "93cb4937.6fc068",
        "name": "infect test fire",
        "topic": "",
        "payload": "test",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 910,
        "y": 900,
        "wires": [
            [
                "5f01321d.51bf3c"
            ]
        ]
    },
    {
        "id": "5f01321d.51bf3c",
        "type": "function",
        "z": "93cb4937.6fc068",
        "name": "test location",
        "func": "var newMsg = {\n    payload: {\n        chatId: 666,\n        content : \"Plaza de la Luna, Madrid\"\n    }}\nreturn newMsg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1070,
        "y": 900,
        "wires": [
            []
        ]
    },
    {
        "id": "baa17b12.6767a8",
        "type": "subflow:465e67f.6ebf598",
        "z": "93cb4937.6fc068",
        "name": "",
        "x": 1230,
        "y": 700,
        "wires": []
    },
    {
        "id": "fbac8488.5194a8",
        "type": "subflow:465e67f.6ebf598",
        "z": "93cb4937.6fc068",
        "name": "",
        "x": 1410,
        "y": 800,
        "wires": []
    },
    {
        "id": "258fed8d.d26ce2",
        "type": "telegram sender",
        "z": "93cb4937.6fc068",
        "name": "send",
        "bot": "f93d1a38.c43218",
        "x": 630,
        "y": 960,
        "wires": [
            []
        ]
    },
    {
        "id": "af1bbd1.b73d74",
        "type": "debug",
        "z": "93cb4937.6fc068",
        "name": "all",
        "active": false,
        "console": "false",
        "complete": "true",
        "x": 370,
        "y": 920,
        "wires": []
    },
    {
        "id": "81aa2896.470b58",
        "type": "debug",
        "z": "c644db46.3854c8",
        "name": "all confirm",
        "active": true,
        "console": "false",
        "complete": "true",
        "x": 410,
        "y": 460,
        "wires": []
    },
    {
        "id": "53ac6719.92f638",
        "type": "debug",
        "z": "c644db46.3854c8",
        "name": "all enter",
        "active": true,
        "console": "false",
        "complete": "true",
        "x": 380,
        "y": 20,
        "wires": []
    },
    {
        "id": "dd53d5e0.fdd0b8",
        "type": "debug",
        "z": "c644db46.3854c8",
        "name": "all rec",
        "active": true,
        "console": "false",
        "complete": "true",
        "x": 150,
        "y": 60,
        "wires": []
    },
    {
        "id": "ad92a3e7.bb743",
        "type": "function",
        "z": "c644db46.3854c8",
        "name": "near today?",
        "func": "var date = new Date();\nvar formated = context.global.moment(date).format('YYYYMMDD');\nmsg.originalMessage = msg.payload;\nmsg.originalLocation = msg.location;\nvar lon = msg.location.lon;\nvar lat = msg.location.lat;\n\nmsg.payload = {\n    geo:\n       { $near : {\n            $geometry: { \n                type: \"Point\",  \n                coordinates: [lon, lat]\n            },\n            $minDistance: 0,\n            $maxDistance: 1000\n          }\n       },\n    dateformat: formated\n   }\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 390,
        "y": 60,
        "wires": [
            [
                "a05c3c94.f331f"
            ]
        ]
    },
    {
        "id": "a05c3c94.f331f",
        "type": "mongodb in",
        "z": "c644db46.3854c8",
        "mongodb": "51a7af07.93444",
        "name": "find",
        "collection": "avisosfuego",
        "operation": "find",
        "x": 550,
        "y": 60,
        "wires": [
            [
                "af778312.fcd62"
            ]
        ]
    },
    {
        "id": "19f3b34b.f8ebcd",
        "type": "function",
        "z": "c644db46.3854c8",
        "name": "send Orig",
        "func": "var newMsg = {\n    payload: msg.originalMessage,\n    location: msg.originalLocation\n};\nreturn newMsg;",
        "outputs": 1,
        "noerr": 0,
        "x": 880,
        "y": 200,
        "wires": [
            [
                "8e21846c.61c698"
            ]
        ]
    },
    {
        "id": "af778312.fcd62",
        "type": "switch",
        "z": "c644db46.3854c8",
        "name": "already",
        "property": "payload.length",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gt",
                "v": "0",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "outputs": 2,
        "x": 680,
        "y": 60,
        "wires": [
            [
                "91cf9b3e.1b8b78"
            ],
            [
                "73053858.f6f538"
            ]
        ]
    },
    {
        "id": "91cf9b3e.1b8b78",
        "type": "function",
        "z": "c644db46.3854c8",
        "name": "already notif",
        "func": "var i = context.global.i18next;\nvar newMsg = {\n    payload: {\n        type: \"message\",\n        chatId: msg.originalMessage.chatId,\n        content: i.t('Este fuego o uno muy cercano ya ha sido notificado por otra persona anteriormente. ¡Gracias!')\n    }   \n};\nreturn newMsg;",
        "outputs": 1,
        "noerr": 0,
        "x": 850,
        "y": 60,
        "wires": [
            [
                "9c7b7220.fab4c"
            ]
        ]
    },
    {
        "id": "9c7b7220.fab4c",
        "type": "subflow:c6a40c11.dfc6b",
        "z": "c644db46.3854c8",
        "x": 1170,
        "y": 60,
        "wires": []
    },
    {
        "id": "73053858.f6f538",
        "type": "function",
        "z": "c644db46.3854c8",
        "name": "today limits?",
        "func": "var date = new Date();\nvar formated = context.global.moment(date).format('YYYYMMDD');\n/*msg.originalMessage = msg.payload;\nmsg.originalLocation = msg.location;*/\nmsg.payload = {\n    chatId: msg.payload.chatId,\n    dateformat: formated\n   }\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 690,
        "y": 120,
        "wires": [
            [
                "3083c74e.b35258"
            ]
        ]
    },
    {
        "id": "3083c74e.b35258",
        "type": "mongodb in",
        "z": "c644db46.3854c8",
        "mongodb": "51a7af07.93444",
        "name": "find",
        "collection": "avisosfuego",
        "operation": "find",
        "x": 830,
        "y": 120,
        "wires": [
            [
                "a227a0dc.c36ca"
            ]
        ]
    },
    {
        "id": "a227a0dc.c36ca",
        "type": "switch",
        "z": "c644db46.3854c8",
        "name": "already",
        "property": "payload.length",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gt",
                "v": "0",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "outputs": 2,
        "x": 960,
        "y": 120,
        "wires": [
            [
                "d9561c77.e3ca9"
            ],
            [
                "19f3b34b.f8ebcd"
            ]
        ]
    },
    {
        "id": "acfaa5f4.f3b898",
        "type": "function",
        "z": "c644db46.3854c8",
        "name": "limits notif",
        "func": "var i = context.global.i18next;\nvar newMsg = {\n    payload: {\n        type: \"message\",\n        chatId: msg.originalMessage.chatId,\n        content: i.t('Ya habías notificado un fuego hoy. Si por algún motivo necesitas reportar más de un fuego al día, ponte en contacto con nosotros: info@comunes.org ¡Gracias!')\n    }   \n}\nreturn newMsg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1340,
        "y": 120,
        "wires": [
            [
                "873d85b7.cdd238"
            ]
        ]
    },
    {
        "id": "873d85b7.cdd238",
        "type": "subflow:c6a40c11.dfc6b",
        "z": "c644db46.3854c8",
        "x": 1490,
        "y": 120,
        "wires": []
    },
    {
        "id": "d9561c77.e3ca9",
        "type": "switch",
        "z": "c644db46.3854c8",
        "name": "admin?",
        "property": "originalMessage.chatId",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "4885772",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "outputs": 2,
        "x": 1120,
        "y": 120,
        "wires": [
            [
                "19f3b34b.f8ebcd"
            ],
            [
                "acfaa5f4.f3b898"
            ]
        ]
    },
    {
        "id": "e1100c9f.a5d3a",
        "type": "subflow:2b8628df.fdcca8",
        "z": "93cb4937.6fc068",
        "name": "",
        "x": 990,
        "y": 220,
        "wires": []
    },
    {
        "id": "9ef9c4c5.a68d08",
        "type": "function",
        "z": "93cb4937.6fc068",
        "name": "args",
        "func": "var newMsg = {\n    type: \"nasa\",\n    lon: msg.payload.longitude,\n    lat: msg.payload.latitude\n}\nreturn newMsg;",
        "outputs": 1,
        "noerr": 0,
        "x": 810,
        "y": 220,
        "wires": [
            [
                "e1100c9f.a5d3a"
            ]
        ]
    },
    {
        "id": "36194e93.1ca832",
        "type": "debug",
        "z": "2b8628df.fdcca8",
        "name": "all",
        "active": false,
        "console": "false",
        "complete": "true",
        "x": 1870,
        "y": 80,
        "wires": []
    },
    {
        "id": "695daff8.8533",
        "type": "subflow:2b8628df.fdcca8",
        "z": "c644db46.3854c8",
        "name": "",
        "x": 810,
        "y": 460,
        "wires": []
    },
    {
        "id": "a4b7f1f0.c37aa",
        "type": "function",
        "z": "c644db46.3854c8",
        "name": "args",
        "func": "var newMsg = {\n    type: \"vecinal\",\n    lon: msg.location.lon,\n    lat: msg.location.lat\n}\nreturn newMsg;",
        "outputs": 1,
        "noerr": 0,
        "x": 610,
        "y": 460,
        "wires": [
            [
                "695daff8.8533"
            ]
        ]
    },
    {
        "id": "d982859c.d8dea8",
        "type": "function",
        "z": "93cb4937.6fc068",
        "name": "args",
        "func": "var newMsg = {\n    payload: {\n        type: \"location\",\n        chatId: msg.payload.chatId\n    },\n    location: {\n        lon: msg.payload.content.longitude,\n        lat: msg.payload.content.latitude,\n        text: \"\"\n    }\n};\nreturn newMsg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1570,
        "y": 680,
        "wires": [
            [
                "d6336a1e.3ad888",
                "9c0ff2b9.ff7bc"
            ]
        ]
    },
    {
        "id": "9c0ff2b9.ff7bc",
        "type": "debug",
        "z": "93cb4937.6fc068",
        "name": "all",
        "active": false,
        "console": "false",
        "complete": "true",
        "x": 1690,
        "y": 720,
        "wires": []
    },
    {
        "id": "ec359317.1d37c",
        "type": "debug",
        "z": "c644db46.3854c8",
        "name": "all loc",
        "active": true,
        "console": "false",
        "complete": "true",
        "x": 810,
        "y": 260,
        "wires": []
    },
    {
        "id": "8facbcf3.bbd35",
        "type": "debug",
        "z": "4a3c7cc0.965dd4",
        "name": "all",
        "active": true,
        "console": false,
        "complete": "true",
        "x": 750,
        "y": 160,
        "wires": []
    },
    {
        "id": "9ad7b6d1.a6e748",
        "type": "subflow:4a3c7cc0.965dd4",
        "z": "93cb4937.6fc068",
        "name": "",
        "x": 1010,
        "y": 180,
        "wires": []
    },
    {
        "id": "ef152257.faf05",
        "type": "comment",
        "z": "4a3c7cc0.965dd4",
        "name": "payload: name, lat, lon, layer, ..., icon, iconColor, photoUrl, deleted",
        "info": "layer, speed, bearing, accuracy, icon, iconColor, photoUrl, deleted",
        "x": 1240,
        "y": 180,
        "wires": []
    },
    {
        "id": "7a257dc0.bf8594",
        "type": "subflow:4a3c7cc0.965dd4",
        "z": "d29a1c6a.5a89e",
        "name": "",
        "x": 350,
        "y": 100,
        "wires": []
    },
    {
        "id": "cd1388d0.3f8418",
        "type": "persist in",
        "z": "93cb4937.6fc068",
        "name": "dayly-file-alerts",
        "storageNode": "103d89d5.f04ab6",
        "x": 1060,
        "y": 1300,
        "wires": []
    },
    {
        "id": "be491f6d.7c5b4",
        "type": "persist out",
        "z": "93cb4937.6fc068",
        "name": "dayly-file-alerts",
        "storageNode": "103d89d5.f04ab6",
        "x": 900,
        "y": 1340,
        "wires": [
            [
                "3bff2447.c4441c"
            ]
        ]
    },
    {
        "id": "c4c96710.0c14f8",
        "type": "persist in",
        "z": "93cb4937.6fc068",
        "name": "nasa-fire-active",
        "storageNode": "2c23f46.8edd30c",
        "x": 1180,
        "y": 280,
        "wires": []
    },
    {
        "id": "b3460bb5.6fb918",
        "type": "persist out",
        "z": "93cb4937.6fc068",
        "name": "nasa-fire-active",
        "storageNode": "2c23f46.8edd30c",
        "x": 1000,
        "y": 320,
        "wires": [
            [
                "44fbc396.81360c"
            ]
        ]
    },
    {
        "id": "39f00c4b.5f7974",
        "type": "mongodb in",
        "z": "93cb4937.6fc068",
        "mongodb": "51a7af07.93444",
        "name": "find fuegos",
        "collection": "avisosfuego",
        "operation": "find",
        "x": 710,
        "y": 1380,
        "wires": [
            [
                "13c7c7d2.416a58"
            ]
        ]
    },
    {
        "id": "6187e791.e5f488",
        "type": "function",
        "z": "d29a1c6a.5a89e",
        "name": "neigh - args",
        "func": "// https://earthdata.nasa.gov/what-is-new-collection-6-modis-active-fire-data\nvar point = msg.location? msg: msg.payload;\n\nvar lat = point.location.lat;\nvar lon = point.location.lon;\nvar pname = \"\" + lat + \"/\" + lon;\npname += \"/\" + point.chatId? \"neighbourhood\" : \"neigh-alert/\" + point.dateformat;\n\n// https://github.com/dceejay/RedMap/issues/29\n// A kind of \"update\" (del & add)\nvar delMsg = {\n    payload: {\n        name: pname,\n        lat: lat,\n        lon: lon,\n        layer: point.chatId? \"Neighbourhood\": \"Neighbourhood alerts\",\n        deleted: true\n    }\n}\nnode.send(delMsg);\n\nvar addMsg = {\n    payload: {\n        name: pname,\n        lat: lat,\n        lon: lon,\n        layer: point.chatId? \"Neighbourhood\": \"Neighbourhood alerts\",\n        icon: point.chatId? \"fa-user\": \"fa-fire\",\n        iconColor: point.chatId? \"green\": \"red\",\n        addtoheatmap: false, // only rest to the heatmap\n        // radius: point.distance? point.distance * 1000: null,\n        // color: \"red\",\n        // fillColor: \"red\",\n        // intensity: intensity,\n        // weight: intensity,\n        // radius: 10000, // radius,\n        // fillOpacity: 1,\n        // weblink only with markers\n        // weblink: \"http://example.com\"\n        // photoUrl: \"http://loremflickr.com/320/240/wildfire\"\n    }\n};\n\nif (point.distance) {\n    var radiusDel = {\n        payload: {\n            name: pname,\n            lat: lat,\n            lon: lon,\n            layer: \"Neighbourhood area\",\n            deleted: true\n        }\n    }\n    node.send(radiusDel);\n    \n    var radius = {\n        payload: {\n            name: pname,\n            lat: lat,\n            lon: lon,\n            layer: \"Neighbourhood area\",\n            // icon:  \"hostile\",\n            // nColor: \"green\",\n            addtoheatmap: false,\n            radius: point.distance * 1000,\n            color: \"#145A32\",\n            fillColor: \"green\",\n            // intensity: intensity,\n            // weight: intensity,\n            fillOpacity: .1,\n            // weblink: \"http://example.com\"\n            // photoUrl: \"http://loremflickr.com/320/240/wildfire\"\n        }\n    }\n    node.send(radius);\n}\n\nreturn addMsg;",
        "outputs": 1,
        "noerr": 0,
        "x": 190,
        "y": 100,
        "wires": [
            [
                "7a257dc0.bf8594"
            ]
        ]
    },
    {
        "id": "56fafc54.228824",
        "type": "function",
        "z": "93cb4937.6fc068",
        "name": "nasa-map",
        "func": "// https://earthdata.nasa.gov/what-is-new-collection-6-modis-active-fire-data\nvar lat = msg.payload.latitude;\nvar lon = msg.payload.longitude;\nvar pname = \"Fuego activo según NASA: \" + lat + \", \" + lon;\npname += \", satelite: \" + msg.payload.satellite;\nvar maxkevin = 373;\nvar intensity =\n    (msg.payload.bright_ti4? msg.payload.bright_ti4: \n    (msg.payload.brightness? msg.payload.brightness: maxkevin)) / maxkevin;\nvar radius = msg.payload.scan * 1000;\n\nvar newMsg = {\n    payload: {\n        name: pname,\n        lat: lat,\n        lon: lon,\n        layer: \"NASA\",\n        // icon: \"earthquake\",\n        color: \"red\",\n        fillColor: \"red\",\n        // intensity: intensity,\n        // weight: intensity,\n        radius: radius,\n        fillOpacity: 1,\n        iconColor:'red', // obligatorio\n        stroke: false,\n        addtoheatmap: false,\n        // fillOpacity: 0.8,\n        clickable: true,\n        weblink: {url: \"http://example.com\", name: \"Más info\"}\n        \n        // photoUrl: \"http://loremflickr.com/320/240/wildfire\"\n    }\n};\n\nreturn newMsg;",
        "outputs": 1,
        "noerr": 0,
        "x": 820,
        "y": 180,
        "wires": [
            [
                "9ad7b6d1.a6e748"
            ]
        ]
    },
    {
        "id": "ac0b5f28.dea74",
        "type": "persist in",
        "z": "2b8628df.fdcca8",
        "name": "near-neighbours",
        "storageNode": "db913a18.f8bf88",
        "x": 980,
        "y": 60,
        "wires": []
    },
    {
        "id": "ce1799a1.35d408",
        "type": "persist out",
        "z": "2b8628df.fdcca8",
        "name": "near-neighbours",
        "storageNode": "db913a18.f8bf88",
        "x": 580,
        "y": 20,
        "wires": [
            [
                "8cffd8ff.5786d8"
            ]
        ]
    },
    {
        "id": "daa4db99.b70ba8",
        "type": "subflow:d29a1c6a.5a89e",
        "z": "93cb4937.6fc068",
        "name": "",
        "x": 1060,
        "y": 1380,
        "wires": []
    },
    {
        "id": "13c7c7d2.416a58",
        "type": "split",
        "z": "93cb4937.6fc068",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 870,
        "y": 1380,
        "wires": [
            [
                "daa4db99.b70ba8"
            ]
        ]
    },
    {
        "id": "33d387e1.0ab2d8",
        "type": "debug",
        "z": "93cb4937.6fc068",
        "name": "all",
        "active": false,
        "console": "false",
        "complete": "true",
        "x": 1050,
        "y": 1420,
        "wires": []
    },
    {
        "id": "6c52427a.4dd71c",
        "type": "subflow:d29a1c6a.5a89e",
        "z": "c644db46.3854c8",
        "x": 820,
        "y": 420,
        "wires": []
    },
    {
        "id": "77f46e84.2260f",
        "type": "mongodb in",
        "z": "93cb4937.6fc068",
        "mongodb": "51a7af07.93444",
        "name": "find susc",
        "collection": "subscriptions",
        "operation": "find",
        "x": 700,
        "y": 1060,
        "wires": [
            [
                "c3d36a6d.6a20e8"
            ]
        ]
    },
    {
        "id": "c3d36a6d.6a20e8",
        "type": "split",
        "z": "93cb4937.6fc068",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 870,
        "y": 1060,
        "wires": [
            [
                "d54d18e1.75e718"
            ]
        ]
    },
    {
        "id": "d54d18e1.75e718",
        "type": "subflow:d29a1c6a.5a89e",
        "z": "93cb4937.6fc068",
        "name": "",
        "x": 1060,
        "y": 1060,
        "wires": []
    },
    {
        "id": "cf23a5a.9eacd58",
        "type": "worldmap",
        "z": "4a3c7cc0.965dd4",
        "name": "",
        "lat": " 40.4",
        "lon": "-3.6833333",
        "zoom": "6",
        "layer": "OSM grey",
        "cluster": "0",
        "maxage": "20000",
        "usermenu": "hide",
        "layers": "show",
        "x": 1070,
        "y": 220,
        "wires": []
    },
    {
        "id": "570aa929.8d2508",
        "type": "inject",
        "z": "4a3c7cc0.965dd4",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "none",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 190,
        "y": 280,
        "wires": [
            [
                "98d0a495.055168"
            ]
        ]
    },
    {
        "id": "98d0a495.055168",
        "type": "function",
        "z": "4a3c7cc0.965dd4",
        "name": "add new layer",
        "func": "msg.payload = {};\nmsg.payload.command = {};\n\nvar u = 'http://{s}.tile.openstreetmap.fr/hot/{z}/{x}/{y}.png';\nvar o = JSON.stringify({ maxZoom: 19, attribution: '&copy; OpenStreetMap'});\n\nmsg.payload.command.map = {name:\"OSMhot\", url:u, opt:o};\nmsg.payload.command.layer = \"OSMhot\";\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 420,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "7df4137c.51713c",
        "type": "function",
        "z": "4a3c7cc0.965dd4",
        "name": "USGS Quake monitor csv re-parse",
        "func": "msg.payload.lat = msg.payload.latitude;\nmsg.payload.lon = msg.payload.longitude;\nmsg.payload.layer = \"earthquake\";\nmsg.payload.name = msg.payload.id;\nmsg.payload.icon = \"globe\";\nmsg.payload.iconColor = \"orange\";\n\ndelete msg.payload.latitude;\ndelete msg.payload.longitude;\t\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 800,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "4fb53dc.021f2c4",
        "type": "csv",
        "z": "4a3c7cc0.965dd4",
        "name": "",
        "sep": ",",
        "hdrin": true,
        "hdrout": "",
        "multi": "one",
        "ret": "\\n",
        "temp": "",
        "x": 550,
        "y": 320,
        "wires": [
            [
                "7df4137c.51713c"
            ]
        ]
    },
    {
        "id": "a0fb9394.24d9",
        "type": "http request",
        "z": "4a3c7cc0.965dd4",
        "name": "",
        "method": "GET",
        "url": "http://earthquake.usgs.gov/earthquakes/feed/v1.0/summary/2.5_day.csv",
        "x": 390,
        "y": 320,
        "wires": [
            [
                "4fb53dc.021f2c4"
            ]
        ]
    },
    {
        "id": "a88534bc.bbd598",
        "type": "inject",
        "z": "4a3c7cc0.965dd4",
        "name": "Quakes",
        "topic": "",
        "payload": "",
        "payloadType": "none",
        "repeat": "900",
        "crontab": "",
        "once": false,
        "x": 200,
        "y": 320,
        "wires": [
            [
                "a0fb9394.24d9"
            ]
        ]
    },
    {
        "id": "c0867d8e.a5999",
        "type": "function",
        "z": "93cb4937.6fc068",
        "name": "conf map",
        "func": "/* Only for tests */\nvar cfg = {};\ncfg.payload = {};\ncfg.payload.command = {\n    cluster:0,\n    layer:\"OSM grey\",\n    lat:40.4,\n    lon:-3.6833333,\n    zoom:6,\n};   \nreturn [cfg];",
        "outputs": 1,
        "noerr": 0,
        "x": 1020,
        "y": 140,
        "wires": [
            [
                "9ad7b6d1.a6e748"
            ]
        ]
    },
    {
        "id": "3534f560.645aea",
        "type": "inject",
        "z": "93cb4937.6fc068",
        "name": "onInit",
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": true,
        "x": 830,
        "y": 140,
        "wires": [
            [
                "c0867d8e.a5999",
                "f2c9762e.6c90a8"
            ]
        ]
    },
    {
        "id": "25c52409.dd295c",
        "type": "subflow:d29a1c6a.5a89e",
        "z": "93cb4937.6fc068",
        "name": "",
        "x": 2010,
        "y": 540,
        "wires": []
    },
    {
        "id": "251e2d7f.4e64c2",
        "type": "debug",
        "z": "d29a1c6a.5a89e",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "true",
        "x": 170,
        "y": 140,
        "wires": []
    },
    {
        "id": "ba04416.3b1bbc",
        "type": "ui_chart",
        "z": "93cb4937.6fc068",
        "name": "to dash",
        "group": "601660c.cd104a",
        "order": 2,
        "width": "0",
        "height": "0",
        "label": "Suscripciones",
        "chartType": "line",
        "legend": "false",
        "xformat": "Y-M-D",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "x": 1040,
        "y": 1100,
        "wires": [
            [
                "976cab1d.ec9f38"
            ],
            []
        ]
    },
    {
        "id": "169d1b28.74fda5",
        "type": "persist out",
        "z": "93cb4937.6fc068",
        "name": "suscriptions-in-time",
        "storageNode": "cb34ee3.be2b31",
        "x": 1070,
        "y": 1140,
        "wires": [
            [
                "ba04416.3b1bbc"
            ]
        ]
    },
    {
        "id": "976cab1d.ec9f38",
        "type": "persist in",
        "z": "93cb4937.6fc068",
        "name": "suscriptions-in-time",
        "storageNode": "cb34ee3.be2b31",
        "x": 1250,
        "y": 1100,
        "wires": []
    },
    {
        "id": "57d802c7.63cd2c",
        "type": "worldmap in",
        "z": "91777bb3.922328",
        "name": "",
        "x": 320,
        "y": 100,
        "wires": [
            [
                "620ec824.128428"
            ]
        ]
    },
    {
        "id": "532b1add.453374",
        "type": "debug",
        "z": "91777bb3.922328",
        "name": "all",
        "active": true,
        "console": "false",
        "complete": "true",
        "x": 470,
        "y": 160,
        "wires": []
    },
    {
        "id": "e412e0fb.c0301",
        "type": "subflow:91777bb3.922328",
        "z": "93cb4937.6fc068",
        "name": "",
        "x": 230,
        "y": 1160,
        "wires": [
            [
                "df770305.a8826",
                "6a5b9f6.b6d256",
                "b59087e9.b1e7b8",
                "bc571a7f.119508",
                "6c8eed1.c193f14",
                "4461acb0.5f2df4"
            ]
        ]
    },
    {
        "id": "620ec824.128428",
        "type": "function",
        "z": "91777bb3.922328",
        "name": "on connected",
        "func": "if (msg.payload && msg.payload.action && msg.payload.action == \"connected\") {\n    return msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "x": 540,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "b6618645.7714f8",
        "type": "subflow:91777bb3.922328",
        "z": "93cb4937.6fc068",
        "x": 130,
        "y": 180,
        "wires": [
            [
                "7eabd297.d8f9ec"
            ]
        ]
    },
    {
        "id": "de887fc7.5e54",
        "type": "delay",
        "z": "93cb4937.6fc068",
        "name": "d 3s",
        "pauseType": "delay",
        "timeout": "3",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 1010,
        "y": 100,
        "wires": [
            [
                "c0867d8e.a5999"
            ]
        ]
    },
    {
        "id": "ec5c317.b1889d",
        "type": "subflow:91777bb3.922328",
        "z": "93cb4937.6fc068",
        "x": 730,
        "y": 100,
        "wires": [
            [
                "de887fc7.5e54"
            ]
        ]
    },
    {
        "id": "a30ccf58.3a1e",
        "type": "function",
        "z": "2f0217a5.051978",
        "name": "find prev false positive register",
        "func": "if (msg.originalMessage && \n    msg.originalMessage.reply_to_message &&\n    msg.originalMessage.reply_to_message.location) {\n    var lon = msg.originalMessage.reply_to_message.location.longitude;\n    var lat = msg.originalMessage.reply_to_message.location.latitude;\n    var find = {};\n    find.payload = {\n    geo:\n       { $near : {\n            $geometry: { \n                type: \"Point\",  \n                coordinates: [lon, lat]\n            },\n            $minDistance: 0,\n            $maxDistance: 200\n          }\n        },\n        chatId: msg.payload.chatId\n    };\n    find.originalMessage = msg.originalMessage;\n    find.chatId = msg.payload.chatId;\n    return find;\n}\n\n",
        "outputs": 1,
        "noerr": 0,
        "x": 250,
        "y": 80,
        "wires": [
            [
                "9eef9e79.27f5b"
            ]
        ]
    },
    {
        "id": "9eef9e79.27f5b",
        "type": "mongodb in",
        "z": "2f0217a5.051978",
        "mongodb": "51a7af07.93444",
        "name": "falsepositives count",
        "collection": "falsepositives",
        "operation": "find",
        "x": 500,
        "y": 80,
        "wires": [
            [
                "7f8ce0c9.99ac4"
            ]
        ]
    },
    {
        "id": "7f8ce0c9.99ac4",
        "type": "switch",
        "z": "2f0217a5.051978",
        "name": "already",
        "property": "payload.length",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gt",
                "v": "0",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "outputs": 2,
        "x": 680,
        "y": 80,
        "wires": [
            [
                "d7931057.66ab7"
            ],
            [
                "677cc27e.bad8ec",
                "ed07b302.7a6b7"
            ]
        ]
    },
    {
        "id": "677cc27e.bad8ec",
        "type": "function",
        "z": "2f0217a5.051978",
        "name": "save",
        "func": "var date = new Date();\nvar formated = context.global.moment(date).format('YYYYMMDD');\n\nvar orig = msg.originalMessage;\nvar lon = orig.reply_to_message.location.longitude;\nvar lat = orig.reply_to_message.location.latitude;\n\nvar chatId = msg.chatId;\n\nvar reg = {\n    query : {\n        // solo un fuego por usuario por ahora\n        chatId : chatId,\n        geo: {\n            type: \"Point\",\n            coordinates: [lon, lat]\n        }\n    },\n    payload: {\n        $set: {        \n            chatId: chatId,\n            when: date,\n            whendateformat: formated,\n            geo: {\n                type: \"Point\",\n                coordinates: [lon, lat]\n            }\n        }\n    },\n}\nreturn reg;",
        "outputs": 1,
        "noerr": 0,
        "x": 870,
        "y": 140,
        "wires": [
            [
                "88e9dc11.5af31"
            ]
        ]
    },
    {
        "id": "88e9dc11.5af31",
        "type": "mongodb out",
        "z": "2f0217a5.051978",
        "mongodb": "51a7af07.93444",
        "name": "insert",
        "collection": "falsepositives",
        "payonly": false,
        "upsert": true,
        "multi": false,
        "operation": "update",
        "x": 1030,
        "y": 140,
        "wires": []
    },
    {
        "id": "9f730cf9.c7a3b",
        "type": "subflow:2f0217a5.051978",
        "z": "93cb4937.6fc068",
        "name": "",
        "x": 590,
        "y": 900,
        "wires": [
            [
                "63a864bc.f82b1c"
            ]
        ]
    },
    {
        "id": "63a864bc.f82b1c",
        "type": "debug",
        "z": "93cb4937.6fc068",
        "name": "all",
        "active": true,
        "console": "false",
        "complete": "true",
        "x": 730,
        "y": 900,
        "wires": []
    },
    {
        "id": "ef71cdfb.1f93",
        "type": "debug",
        "z": "2f0217a5.051978",
        "name": "all",
        "active": true,
        "console": "false",
        "complete": "true",
        "x": 450,
        "y": 140,
        "wires": []
    },
    {
        "id": "ed07b302.7a6b7",
        "type": "function",
        "z": "2f0217a5.051978",
        "name": "thanks!",
        "func": "var i = context.global.i18next;\nvar thx = {};\nthx.payload = {};\nthx.payload.type = \"message\";\nthx.payload.chatId = msg.chatId;\nthx.payload.content = i.t('👌 Tomamos nota, ¡gracias por colaborar');\nreturn thx;",
        "outputs": 1,
        "noerr": 0,
        "x": 880,
        "y": 180,
        "wires": [
            [
                "1f728a28.973446"
            ]
        ]
    },
    {
        "id": "1f728a28.973446",
        "type": "telegram sender",
        "z": "2f0217a5.051978",
        "name": "send",
        "bot": "f93d1a38.c43218",
        "x": 1030,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "d7931057.66ab7",
        "type": "function",
        "z": "2f0217a5.051978",
        "name": "already!",
        "func": "var thx = {};\nthx.payload = {};\nthx.payload.type = \"message\";\nthx.payload.chatId = msg.chatId;\nthx.payload.content = \"Ya marcaste este fuego como 'falso positivo'. Gracias en cualquier caso...\";\nreturn thx;",
        "outputs": 1,
        "noerr": 0,
        "x": 880,
        "y": 20,
        "wires": [
            [
                "4d5be381.f478fc"
            ]
        ]
    },
    {
        "id": "4d5be381.f478fc",
        "type": "telegram sender",
        "z": "2f0217a5.051978",
        "name": "send",
        "bot": "f93d1a38.c43218",
        "x": 1030,
        "y": 20,
        "wires": [
            []
        ]
    },
    {
        "id": "d76ddf98.d3de9",
        "type": "function",
        "z": "2b8628df.fdcca8",
        "name": "false positive?",
        "func": "msg.payload = {\n    geo:\n       { $near : {\n            $geometry: { \n                type: \"Point\",  \n                coordinates: [ msg.lon, msg.lat]\n            },\n            $minDistance: 0,\n            $maxDistance: 200\n          }\n       }\n   }\nmsg.originalMessage = msg;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 140,
        "y": 280,
        "wires": [
            [
                "61abc532.9a0afc"
            ]
        ]
    },
    {
        "id": "61abc532.9a0afc",
        "type": "mongodb in",
        "z": "2b8628df.fdcca8",
        "mongodb": "51a7af07.93444",
        "name": "find",
        "collection": "falsepositives",
        "operation": "find",
        "x": 290,
        "y": 280,
        "wires": [
            [
                "9e65a744.1a6a68"
            ]
        ]
    },
    {
        "id": "9e65a744.1a6a68",
        "type": "function",
        "z": "2b8628df.fdcca8",
        "name": "false?",
        "func": "if (msg.payload.length > 0) {\n    // node.log(\"False positive\");\n    return [null, msg.originalMessage];\n} else {\n    // node.log(\"Not false positive\");\n    return [msg.originalMessage, null];\n}",
        "outputs": "2",
        "noerr": 0,
        "x": 430,
        "y": 280,
        "wires": [
            [
                "59c0890d.7d97e8"
            ],
            [
                "6294a71e.647c58"
            ]
        ],
        "outputLabels": [
            "not false positive",
            "false"
        ]
    },
    {
        "id": "60fdfcd6.2a6d84",
        "type": "function",
        "z": "c644db46.3854c8",
        "name": "set location",
        "func": "msg.chatId = msg.payload.chatId;\nvar content = msg.payload.content;\nmsg.location = {};\n\nif (content && content.latitude) {\n    // Is a shared location (clip)\n    msg.location.lat = content.latitude;\n    msg.location.lon = content.longitude;\n    return [null, msg];\n} else {\n    // Is a writen location\n    msg.location.address = content;\n    return [msg, null];\n}",
        "outputs": "2",
        "noerr": 0,
        "x": 170,
        "y": 220,
        "wires": [
            [
                "9620588a.113218"
            ],
            []
        ],
        "outputLabels": [
            "address",
            "lat,lon already"
        ]
    },
    {
        "id": "f6259b4e.a8d368",
        "type": "comment",
        "z": "c644db46.3854c8",
        "name": "location attached is received also in the switch",
        "info": "",
        "x": 280,
        "y": 260,
        "wires": []
    },
    {
        "id": "f2c9762e.6c90a8",
        "type": "function",
        "z": "93cb4937.6fc068",
        "name": "i18n conf",
        "func": "var i = context.global.i18next;\nvar backend = context.global.i18nextbackend;\n\nvar backOpts = {\n  // path where resources get loaded from\n  loadPath: './locales/{{lng}}/{{ns}}.json',\n\n  // path to post missing resources\n  addPath: './locales/{{lng}}/{{ns}}.missing.json',\n\n  // jsonIndent to use when storing json files\n  jsonIndent: 2\n};\n\ni.use(backend)\n .init({\n  backend: backOpts,\n  lng: 'es',\n  //fallbackLng: 'es',\n  fallbackLng: { \n    'en-US': ['en'], \n    'en-GB': ['en'],\n    'default': ['es']\n    },\n  whitelist: false,  \n  // whitelist: ['es', 'en'], // allowed languages\n  load: 'all', // es-ES -> es, en-US -> en\n  debug: true,\n  ns: 'telegram-bot',\n  defaultNS: 'telegram-bot',\n  saveMissing: false, // if true seems it's fails to getResourceBundle\n  saveMissingTo: 'all',\n  keySeparator: 'ß',\n  nsSeparator: 'ð',\n  pluralSeparator: 'đ',\n}, function(err, t) {\n  // initialized and ready to go!\n  // msg.payload = i.t('kmvecinal', {km: 7}) ; // i.t('Sí');\n  // node.send(msg)\n  \n});\n",
        "outputs": 1,
        "noerr": 0,
        "x": 1180,
        "y": 180,
        "wires": [
            [
                "1f93ce66.41da62"
            ]
        ]
    },
    {
        "id": "1f93ce66.41da62",
        "type": "debug",
        "z": "93cb4937.6fc068",
        "name": "payl",
        "active": true,
        "console": "false",
        "complete": "true",
        "x": 1350,
        "y": 180,
        "wires": []
    },
    {
        "id": "ffdd465d.6f67c8",
        "type": "function",
        "z": "e81a68fa.695e38",
        "name": "t.payl.content",
        "func": "var i = context.global.i18next;\nif (!msg.payload.content) {\n    node.error(\"Has no msg.payload.content\");\n} else if (typeof msg.payload.content === 'string' && msg.payload.type === 'message' ) {\n    var toTrans = msg.payload.content;\n    msg.payload.content = i.t(toTrans, {interpolation: {escape: false}});\n    return msg;\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 180,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "373aa2ef.0aac9e",
        "type": "subflow:e81a68fa.695e38",
        "z": "93cb4937.6fc068",
        "name": "",
        "x": 720,
        "y": 760,
        "wires": [
            []
        ]
    },
    {
        "id": "dd683e99.7c126",
        "type": "telegram sender",
        "z": "e81a68fa.695e38",
        "name": "",
        "bot": "f93d1a38.c43218",
        "x": 350,
        "y": 40,
        "wires": [
            []
        ]
    },
    {
        "id": "c60a2456.adac68",
        "type": "subflow:e81a68fa.695e38",
        "z": "93cb4937.6fc068",
        "name": "",
        "x": 1040,
        "y": 700,
        "wires": [
            [
                "baa17b12.6767a8"
            ]
        ]
    },
    {
        "id": "33cd0275.71172e",
        "type": "subflow:e81a68fa.695e38",
        "z": "93cb4937.6fc068",
        "name": "",
        "x": 1400,
        "y": 840,
        "wires": [
            []
        ]
    },
    {
        "id": "5541b1d7.23da4",
        "type": "function",
        "z": "4384af8e.a7409",
        "name": "set lang if not set",
        "func": "if (msg.originalMessage && msg.originalMessage.from && msg.originalMessage.from.language_code &&\n    typeof msg.i18n === 'undefined') { \n\n    var i = context.global.i18next;\n\n    // node.log(\"User lang: \"+ msg.originalMessage.from.language_code);\n    \n    var lang = msg.originalMessage.from.language_code;\n    \n    i.changeLanguage(lang);\n    // node.log(\"langs len \"+ i.languages.length);\n    // node.log(\"langs \"+ i.languages);\n    \n    var i18n;\n    var currentLang;\n    for (var l = 0; l < i.languages.length && typeof i18n === 'undefined'; l++) {\n        var cl = i.languages[l];\n        // node.log(\"Trying: \" + cl);\n        i18n = i.getResourceBundle(cl, 'telegram-bot');\n        currentLang = cl;\n        // node.log(i18n);\n    }\n    if (typeof i18n === 'undefined') {\n        // node.log(\"Falling back to 'es'\");\n        i18n = i.getResourceBundle('es', 'telegram-bot');\n        currentLang = 'es';\n    }\n    i18n.currentLang = lang;\n    msg.i18n = i18n;\n    return [msg, null]; \n}\nelse if (msg.originalMessage && msg.originalMessage.from && msg.originalMessage.from.language_code &&\n    msg.i18n.currentLang !== msg.originalMessage.from.language_code) {\n    // user lang changed!!!\n    node.log(\"User lang change detected, old lang: \" + msg.i18n.currentLang + \", new lang: \" + msg.originalMessage.from.language_code);\n    msg.i18n = undefined;\n    // return to /start (with a the language)\n    return [null, msg]; \n}\nreturn msg; ",
        "outputs": "2",
        "noerr": 0,
        "x": 310,
        "y": 100,
        "wires": [
            [],
            [
                "2f979cd.012f464"
            ]
        ]
    },
    {
        "id": "1eddeb25.368605",
        "type": "subflow:4384af8e.a7409",
        "z": "93cb4937.6fc068",
        "name": "",
        "x": 90,
        "y": 540,
        "wires": [
            [
                "a5ababbd.b45f98"
            ]
        ]
    },
    {
        "id": "55edbbfa.a6d384",
        "type": "subflow:4384af8e.a7409",
        "z": "93cb4937.6fc068",
        "name": "",
        "x": 1470,
        "y": 1000,
        "wires": [
            [
                "72f03b95.7b3704"
            ]
        ]
    },
    {
        "id": "16145554.9e027b",
        "type": "debug",
        "z": "4384af8e.a7409",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "true",
        "x": 510,
        "y": 220,
        "wires": []
    },
    {
        "id": "18a46191.e18d5e",
        "type": "telegram sender",
        "z": "4384af8e.a7409",
        "name": "",
        "bot": "f93d1a38.c43218",
        "x": 550,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "73730bca.1ff064",
        "type": "subflow:4384af8e.a7409",
        "z": "c6a40c11.dfc6b",
        "name": "",
        "x": 590,
        "y": 120,
        "wires": [
            [
                "5f2a32ba.eaa58c"
            ]
        ]
    },
    {
        "id": "c757b5f5.bafb68",
        "type": "subflow:4384af8e.a7409",
        "z": "93cb4937.6fc068",
        "x": 260,
        "y": 320,
        "wires": [
            [
                "55ebd8f8.436e38"
            ]
        ]
    },
    {
        "id": "2f979cd.012f464",
        "type": "subflow:76bd701f.29d0f",
        "z": "4384af8e.a7409",
        "x": 510,
        "y": 140,
        "wires": []
    },
    {
        "id": "49b822b4.2c81fc",
        "type": "subflow:4384af8e.a7409",
        "z": "c6a40c11.dfc6b",
        "name": "",
        "x": 210,
        "y": 120,
        "wires": [
            [
                "b0495fbe.5ecca"
            ]
        ]
    },
    {
        "id": "acf185e6.858808",
        "type": "subflow:94b874d7.e0e478",
        "z": "93cb4937.6fc068",
        "name": "",
        "x": 610,
        "y": 680,
        "wires": [
            [
                "e0bc7e33.2a795"
            ]
        ]
    },
    {
        "id": "e3b00d54.9cd4e",
        "type": "function",
        "z": "94b874d7.e0e478",
        "name": "detect lang change",
        "func": "if (msg.payload.content &&\n    msg.payload.content.match(/^[♥⬅️📖📣🔥📣📝📍📝]+ .*/)) {\n    node.log(\"Detect lang changed\");\n    return [null, msg];\n}\nelse \n    return [msg, null];",
        "outputs": "2",
        "noerr": 0,
        "x": 310,
        "y": 80,
        "wires": [
            [],
            [
                "776742ab.da3f4c",
                "148a484f.48c168"
            ]
        ]
    },
    {
        "id": "148a484f.48c168",
        "type": "debug",
        "z": "94b874d7.e0e478",
        "name": "all",
        "active": true,
        "console": "false",
        "complete": "true",
        "x": 570,
        "y": 180,
        "wires": []
    },
    {
        "id": "776742ab.da3f4c",
        "type": "subflow:76bd701f.29d0f",
        "z": "94b874d7.e0e478",
        "x": 570,
        "y": 140,
        "wires": []
    }
]